[2018-07-25 20:27] pelsasser opened #270 "[Deploy] Add needed structure to contract names."
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-07-26 00:02] #259 closed

[2018-07-26 00:02] #248 closed

[2018-07-26 05:57] ceresstation commented on #227
Thanks for submitting @mikestonecodes, I'll review shortly!

[2018-07-26 14:53] nitinrgupta opened #271 "[Test Query UI] Modify the UI for Test Query page similar to that of Guided Deployment Page"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Currently the test query page has the old design compared to the deploy contracts pages. Need to update to the new designs

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: UI enha

[2018-07-27 06:15] eswarasai opened #273 "[MARKET.js] Remove contract addresses from the function params"
### Description
Recent changes in the `MARKET.js` to refactor just to use `marketContractAddress` across everywhere removes the need for passing the contract addresses in the function params. Update all the integrations of `marketjs` within `dApp` to not have contract addresses in order for them to work.

Refs:
https://github.com/MARKETProtocol/MARKET.js/pull/109
https://github.com/MARKETProtocol/

[2018-07-28 00:49] mikestonecodes commented on #227
Hey @ceresstation , let me know if you have any questions. This has already been merged :)

[2018-07-28 04:15] ceresstation commented on #227
Great job @mikestonecodes, just paid out the bounty!

[2018-07-28 13:17] bradysheridan commented on #209
@pelsasser @eswarasai Is this bountyable?

[2018-07-30 12:40] travisdmathis opened #274 "Upgrade dApp to use latest MARKET.js"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature
Update dApp to use the latest version o

[2018-07-30 14:39] #37 closed

[2018-07-30 14:56] rojosnow commented on #182
Need to discuss architecture with service listener and market-api before proceeding with this issue.

[2018-07-30 15:53] nitinrgupta commented on #242
Draft of the UI based on Phil's 'wireframe' : https://zpl.io/VYBDrqM

[2018-07-30 15:54] #211 closed

[2018-07-30 15:59] #274 closed

[2018-07-30 16:41] rojosnow commented on #260
@iamonuwa, we are going to stop work on this bounty. I appreciate the time and effort you put into the work. The work presented is a bit different than our desired solution. I'm going to send you an ETH tip for the work you've attempted. If you have any questions, please let me know.

[2018-07-30 16:42] iamonuwa commented on #260
I just fixed the issue

[2018-07-30 16:42] iamonuwa commented on #260
I'll push right now. Am only failing on test. The `should render view completely`

[2018-07-30 16:50] nitinrgupta opened #275 "[Contract Explorer] Create grid view of contracts in explorer page"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Create a grid view to list all the contracts in `/contract/explorer` page. Provide user to switch between the grid view and tabular view.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)

[2018-07-30 16:57] nitinrgupta opened #276 "Remove 'Find Contracts' page"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Remove find contracts page and from navbar since searching of contracts is present in the new contract explorer page

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[2018-07-30 18:16] nitinrgupta opened #277 "[Deploy Contracts] Improve deploy contracts step UX"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-07-30 20:04] rojosnow commented on #240
@StevenJNPearce I want to make sure we are settled up on the payouts/tips. I sent you a tip for .22 ETH last week...just fyi.

[2018-07-30 21:42] KennethAshley commented on #277
@nitinrgupta I think ill try and tackle this. Am i correct in assuming that the icon below is a spinning icon that indicates progress?

![image](https://user-images.githubusercontent.com/1138619/43425233-f26fcac6-941f-11e8-9cf4-fea46ebdda43.png)

[2018-07-30 21:49] StevenJNPearce commented on #240
@rojosnow Did you send the tip thru gitcoin or directly to an ETH address of mine? I did not receive any tip email from gitcoin and didn't see a transaction on the address i use with gitcoin.

[2018-07-30 22:00] rojosnow commented on #240
@StevenJNPearce I did a Gitcoin tip. I think that sends you an email and isn't in the regular Gitcoin interface. Is this correct? https://etherscan.io/tx/0xff6d0e25cdc7b3393145d27fdb51877e7d35e4f6a13da62919fed3b2447eac98

[2018-07-30 22:01] rojosnow commented on #240
@StevenJNPearce Or, was that for other work?

[2018-07-30 22:28] rojosnow commented on #240
@StevenJNPearce I think you are right, thanks for doing the research there. In the future, I need to alter the bounties so the amounts aren't unique. It will help me with record keeping.

I'd say we still owe you the .22 ETH, correct?

[2018-07-30 22:30] StevenJNPearce commented on #240
@rojosnow Yes. Thank you for your diligence in following up on this.

[2018-07-30 22:44] rojosnow commented on #240
@StevenJNPearce No problem at all! Sorry to put you through the paces of the bookkeeping. ;) I'm going to send you this directly since the tip system in Gitcoin seems to be down. Confirming this is you, 0x2af47a65da8cd66729b4209c22017d6a5c2d2400

[2018-07-30 22:47] StevenJNPearce commented on #240
@rojosnow That address is the gitcoin contract! You can use 0x4e764a1d088D4dbdC5566C164deC2C14fb0ded13 for me.

[2018-07-30 22:50] rojosnow commented on #240
@StevenJNPearce Yeah, that's not going to work... Here is the transaction for the payment, https://etherscan.io/tx/0xfc1d1b442b694078f4b342348cdf7a2c2c8dcf7a3b53eb8076e4cc711410e062

[2018-07-31 04:58] nitinrgupta commented on #277
Yes @KennethAshley. This state is when the user clicks on the previous step if the 'Deploy collateral pool & link contract' step is still in progress.

[2018-07-31 13:35] travisdmathis opened #280 "Complete test coverage of DeployContract components"
### Why Is this Needed?
To improve the overall coverage of the dApp.

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)

### Description
We want to complete test coverage of all DeployContract components. Which can be found in `src/components/DeployContract`.

[comment]: # (Feature or B

[2018-07-31 13:42] travisdmathis opened #281 "Complete test coverage of Utils.js"
### Why Is this Needed?
Improve test coverage of our utility library.
![screen shot 2018-07-31 at 10 47 13 am](https://user-images.githubusercontent.com/778262/43474113-306eeb9c-94af-11e8-9658-008e6dcd281a.png)

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)

### Description
We want

[2018-07-31 13:47] travisdmathis commented on #167
Closing this issue as we have begun breaking it down into multiple issues.

[2018-07-31 13:47] #167 closed

[2018-07-31 18:25] #260 closed

[2018-07-31 18:26] nemaniarjun commented on #280
I would like to work on this. I am bit nervous if I would be able to complete this or not. I did recently completed a similar issue (https://github.com/bigchaindb/js-bigchaindb-driver/pull/225)

[2018-07-31 18:33] nemaniarjun commented on #280
I stopped work on this one and applied for "https://github.com/MARKETProtocol/dApp/issues/281" as I think that would be better for getting a good intro to this repo :smile: :rocket:

[2018-07-31 19:13] rojosnow commented on #281
Hi @nemaniarjun. This issue is much better to start with than the other testing issue you initially applied for. How comfortable do you feel with React, Jest, web3, and Ethereum? I've marked it as an intermediate level so you'll need to have the necessary experience.

The tests are pretty self contained and if you get into it and decide it's not for you, please let us know within 24 hrs of startin

[2018-07-31 20:08] nemaniarjun commented on #281
It is bed time here in India, I would start working on this in the morning and will respond back in 32 hours from now, if its possible for me or not!

Looking forward to working with you :)

[2018-08-01 12:39] travisdmathis commented on #130
@eswarasai this package doesn't exist in the dApp, it is in the protocol repo however.

[2018-08-01 12:49] #130 closed

[2018-08-01 12:55] travisdmathis commented on #280
@StevenJNPearce thanks as always for taking this on..

[2018-08-01 20:56] nemaniarjun commented on #281
Hey! I think I would be able to complete this bounty! I am starting work on this and will update you soon.

A small query: am I allowed to make small changes in the code? Also I presume 100%, means line coverage, or do you mean branch coverage?

[2018-08-01 23:37] rojosnow commented on #281
Hi @nemaniarjun. Make sure you include @travisdmathis or @eswarasai on your comments so they can respond to you. I see that you have a few questions on this issue.

[2018-08-02 06:47] nemaniarjun commented on #281
Oh sure @rojosnow  I will remember that now :)

[2018-08-02 06:55] tungsheng opened #283 "[Dockerfile] Module not found error after containers are up"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a developer, I want to develop dApp in docker environment so that I can have isolate dev environment on my local machine.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide the description of the current state, what you would like to happen, and what actually happen)

[2018-08-02 08:03] eswarasai commented on #281
@nemaniarjun -- Sorry for the delay in getting back to you. Sure, feel free to make the necessary changes to the `util.js` as you see fit in order to pass the tests. Thanks!

[2018-08-02 11:58] #276 closed

[2018-08-02 13:36] travisdmathis opened #284 "[BUG] Contract filters should be exact match"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:
When filtering contracts in `Explore Contracts`

[2018-08-02 16:47] rojosnow commented on #283
Thanks @tungsheng for all the detail! This helps a bunch. @travisdmathis @eswarasai Is this due to the `MARKET.js` refactor?

[2018-08-02 16:58] eswarasai commented on #283
@rojosnow -- I don't think it's due to `MARKET.js` refactor. Really need to check the `docker` setup for `dApp`, probably some missing commands that are not in sync with the current codebase.

[2018-08-03 11:47] #284 closed

[2018-08-03 12:10] #273 closed

[2018-08-03 12:56] travisdmathis opened #287 "[BUG] When viewing a component with calendar initial value state is invalid type"
### Description
When viewing any component with a Calendar we get an error in console

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Reproduction
[comment]: # (Describe how we can replicate the bug step by step.)
Browse to a URL(Contract Deployment) that has a calendar component.

For eg: Guided Deploy > Expiration step
<img width="1680" alt="screen shot 2018-08-08 at 1 23 18 pm" src="

[2018-08-06 06:26] #271 closed

[2018-08-06 15:57] rojosnow commented on #277
@KennethAshley How are you doing here?

[2018-08-06 17:20] nitinrgupta opened #289 "[UI/UX] Create dApp home screen for logged in users"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Design a dashboard page displaying the summary of the entire dApp similar to the first draft of the mockup
![Screen Shot 2018-08-06 at 10.40.00 PM.png](https://images.zenhubusercontent.com/5b55f17bb01a

[2018-08-06 17:56] nitinrgupta opened #290 "Create login functionality for the dApp"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: To provide a better UX for the users w.r.t login either via Metamask or any other method.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: UI/UX Enhancement

### Current Behavior

[2018-08-06 17:57] nitinrgupta commented on #290
Need to discuss with @pelsasser and the team before starting work on this.

[2018-08-06 18:31] eswarasai commented on #290
@MARKETProtocol/core -- Does this work for team tagging? 🤔

[2018-08-06 18:34] rojosnow commented on #290
@eswarasai Works for me!

[2018-08-06 18:47] rojosnow commented on #290
Reference from @travisdmathis: https://www.toptal.com/ethereum/one-click-login-flows-a-metamask-tutorial

[2018-08-06 20:32] rojosnow commented on #283
@cryptomental I just bountied this one for .25 ETH. I'm not really sure what the issue is or how large the scope. If it turns out being much larger, we can also add a tip on to this. Interested?

[2018-08-06 21:31] meghanasarikonda commented on #287
Not exactly sure about how can I reproduce this bug? If possible can you paste some screenshots @travisdmathis @eswarasai

[2018-08-06 21:37] rojosnow commented on #287
@meghanasarikonda Are you getting errors in the console after initializing the calendar component? Start there.

[2018-08-06 21:40] rojosnow commented on #287
@meghanasarikonda The calendar will initialize when you deploy contracts. It's when you set an expiration date. But, when I do it, I don't see the error in the console. I'll let one of the devs chime in.

[2018-08-06 21:50] StevenJNPearce commented on #283
So, I had resolved this issue some weeks ago for my own workflow.

Basically the error is due to truffle migrations not being run on the container.  You can get the containers working by adapting the instructions in the README.md of MARKET.js listed under "Using Docker"

[2018-08-06 21:54] meghanasarikonda commented on #287
okay

[2018-08-07 02:26] eswarasai commented on #287
@travisdmathis -- I'm unable to reproduce the bug on http://dev.dapp.marketprotocol.io/ which has the `develop` build. Can you tell us on which branch you're facing this issue or the steps to reproduce in case I'm doing something wrong?

cc: @meghanasarikonda

[2018-08-07 07:15] rojosnow commented on #283
@StevenJNPearce Thanks for your comments! I'm always ok if you pickup issues whenever we post them. Would you like this issue or have @nemaniarjun work on it?

[2018-08-07 07:17] rojosnow commented on #283
@StevenJNPearce Sorry, I just noticed that I posted this without approval. Not sure what happened to the defaults I set on Gitcoin...

[2018-08-07 07:58] nemaniarjun commented on #283
I would love to work on this, but its fine if @StevenJNPearce wants to take this.

[2018-08-07 09:03] StevenJNPearce commented on #283
I didn't take the issue because today I have no time to work on it, so @nemaniarjun you can go ahead and start work. The specific command that resolves the `module not found` error is `docker-compose exec app truffle migrate`, but getting everything working is a bit more involved than that.

[2018-08-07 09:14] eswarasai commented on #287
@PumpkingWok -- Thanks for showing interest in MARKET Protocol. Feel free to join our [Discord](https://marketprotocol.io/discord) channel for any queries you have related to the task. I'd strongly recommend await until @travisdmathis gets back with the reproducible steps for the task so that it'll be easier for you to fix.

@meghanasarikonda -- Since you haven't started work on the bounty via Git

[2018-08-07 11:14] nemaniarjun commented on #283
Umm, @tungsheng I am supposed to be working on this issue for the bounty on gitcoin
@rojosnow Can you clear it here a bit, so none of us waste any time :)

[2018-08-07 11:41] #280 closed

[2018-08-07 13:43] nemaniarjun commented on #283
@tungsheng I tried the changes mentioned in your PR and they don't work.. I still get the same message.

[2018-08-07 13:47] nemaniarjun commented on #283
@rojosnow @eswarasai Can you clear a doubt for me?
What exactly does `truffle migrate` do?

Is it to be ran in the `dapp` container, as suggested by @StevenJNPearce  (gives me either a can't connect or an error about `open-zepplin` `destruction.sol`)
or the truffle container as seen in the make recipe for `docker_migrate`? (Gives me some error
[code]

[2018-08-07 15:37] nemaniarjun commented on #283
I will check again once, if its valid, I don't mind letting go of this
bounty since you clearly have worked a lot more for this. :)

On Tue, 7 Aug 2018, 8:53 p.m. Tony Lee, <notifications@github.com> wrote:

[2018-08-07 17:08] travisdmathis commented on #287
@eswarasai apologies it looks like I did fix this already awhile back and the issue remained open.. I had just forgot about it.

[2018-08-07 23:25] nemaniarjun commented on #283
I think the best way to test would be to reclone the repo (with a different name than `dApp`) and then apply the changes and try it out.

Why I *think* that the changes you made are wrong:

- command in docker-compose **overrides** the default command set by dockerfile. So the effective change of adding `CMD truffle migrate` in your PR doesn't actually run when you use `docker-compose up`.
- Anoth

[2018-08-08 01:26] StevenJNPearce commented on #283
Ok, so I setup a clean environment to figure this out. I'd got the wrong container in my previous comment. The correct command is `docker-compose exec truffle truffle migrate --reset` , all that is needed is to run this after docker-compose up has finished its business, then you can open the dApp in your browser.

[2018-08-08 03:46] nemaniarjun commented on #283
I tried a lot of different ways to do this with docker but it is getting very complex for such a small issue.
Thus I think that the best way to move forward with this issue should be to add a note in the README, that if you are facing this error you should run `make docker_migrate`, this only needs to be done once and subsequent `docker-compose up` will use the same container and wont need this to

[2018-08-08 05:44] rojosnow commented on #281
@nemaniarjun Are you still working on this? If not, that's ok. I'd like to get this done asap and we're past the seven-day window. Thanks!

[2018-08-08 06:01] rojosnow commented on #245
@travisdmathis It looks like this one is blocked and trying to figure out how to move it along. The "This Issue is blocked by" looks like we're waiting on the "Upgrade dApp to use latest MARKET.js" issue to be resolved. Am I reading that right?

[2018-08-08 06:15] rojosnow commented on #242
@nitinrgupta I like the work you guys are doing! What are the next steps?

[2018-08-08 06:25] rojosnow commented on #242
@nitinrgupta Cool.

[2018-08-08 08:18] cryptomental commented on #283
@rojosnow I was confused by reading and did not notice that you and @tungsheng worked on it and there is a PR opened already, I guess no action needed from me on this ticket.

[2018-08-08 09:54] travisdmathis commented on #245
no, it's blocked by my PR to fix a bug in MARKET.js @rojosnow

[2018-08-08 14:54] KennethAshley commented on #277
@rojosnow This slipped past me. Sorry. A few things came up right after taking this issue which needed my time. Sorry for not updating you guys. I can work on it now but i will understand if you would like someone else to take it!

[2018-08-08 21:13] KennethAshley commented on #277
@rojosnow @nitinrgupta I'll have this done EOD. Again i apologize for the delay.

[2018-08-09 01:16] nemaniarjun commented on #281
@rojosnow You can follow the discussion on the pull request page. :grin:

[2018-08-09 01:30] tungsheng commented on #283
@nemaniarjun I have closed my PR, go ahead work on this and get the bounty! : )

[2018-08-09 05:10] rojosnow commented on #283
@cryptomental My bad. I posted a few issues on Gitcoin and the settings were off which caused some confusion.

@nemaniarjun Thanks for the PR. @eswarasai can you take a look at the PR?

[2018-08-09 05:16] rojosnow commented on #281
@nemaniarjun I looked at the PR but didn't see the revert. Did that happen and are you waiting on us?

[2018-08-09 08:54] nemaniarjun commented on #281
Yes, the amount of coverage I could add was low, but we determined how we
can get to 100% by removing a function which will result in only 2-3 not
being hit by the tests. The commit messages, comments on the PR and the
comments I made in code all explain most of this.

A proper final review is needed I think, to determine if anything more can
be done from my side.

On Thu, Aug 9, 2018 at 10:46 AM

[2018-08-09 09:08] nemaniarjun commented on #283
@rojosnow I would seriously recommend that we dont do this issue at all. The PR is for experimentation mostly, refer to my previous comment for a detailed explanation. :)

[2018-08-09 11:54] travisdmathis opened #295 "[BUG] Calendar component navigation not changing month/year/time when clicked"
### Description
When clicking on a month/year/time in the calendar component the date no longer changes to that month/year unless the date is clicked in the calendar.

### Current Behavior
[comment]: # (Describe what actually happened.)
Nothing happens when clicking a month/year

### Expected Behavior
[comment]: # (Describe what you expected to happen.)
Switch to Month or Year

### Reproduction
[c

[2018-08-09 12:02] travisdmathis commented on #290
@nitinrgupta in the very near future metamask connections will be replaced and the dapp will be expected to connect due to security concerns and "fingerprinting"..

[2018-08-10 00:53] KennethAshley commented on #277
@nitinrgupta any suggestions on how you want to see errors? If you take a look at [Error Status](https://ant.design/components/steps/) you can see that there is a step with a red line. I can do something like that if you want.

[2018-08-10 04:34] rojosnow commented on #287
@PumpkingWok Still working on this?

[2018-08-10 04:39] rojosnow commented on #283
@nemaniarjun Thanks for the feedback. @eswarasai What do you think?

[2018-08-10 04:42] #281 closed

[2018-08-10 04:43] eswarasai commented on #281
@rojosnow -- This is good to be paid out.

@nemaniarjun -- Thanks a lot for your help and research on getting this issue done. Looking forward to have such many more contributions from you :)

[2018-08-10 04:45] eswarasai commented on #283
@rojosnow -- I haven't reviewed this PR yet. Need to configure Docker and stuff. Wouldn't be possible for me to get to it until Monday maybe. So it'd be great if someone else review it in the meantime. If not, I'll close this on Monday.

cc: @nemaniarjun

[2018-08-10 04:50] rojosnow commented on #281
@nemaniarjun Would you submit your work on Gitcoin? I'm unable to payout until this happens. Thanks!

[2018-08-10 04:53] rojosnow commented on #283
@eswarasai Got it. I know you guys are out at ETHIndia. Hope it's going well. @nemaniarjun Just want to make sure you're ok with the timing here. Thanks!

[2018-08-10 07:52] PumpkingWok commented on #287
Hi @rojosnow , I have already create a PR for this. You can read this above your comment. PR #293.
I'm waiting your review, thank you very much.

[2018-08-10 10:44] #287 closed

[2018-08-11 22:56] nemaniarjun commented on #283
It's great! I wanted to attend ETHIndia too, but applied at the last moment only :grin:

[2018-08-12 10:34] nemaniarjun commented on #281
There was a considerable lag, in me submitting work on gitcoin and it being posted by gitcoinbot here.
[Tx completed 19 hours ago](https://etherscan.io/tx/0x98be436078d6bc49100c9cf546f11b3a6c91c6b86112bae7cc29270a5c1f219d)
Gitcoinbot posted 3 hours ago

cc @owocki

[2018-08-13 12:04] eswarasai commented on #277
@nitinrgupta -- Can you please respond to @KennethAshley's query?

[2018-08-13 12:12] nitinrgupta commented on #277
@KennethAshley go ahead with that :)

[2018-08-13 14:18] KennethAshley commented on #277
Sweet! I'll get this done!

[2018-08-13 14:50] pelsasser commented on #270
TODO: add more clarity.

[2018-08-14 13:39] travisdmathis opened #296 "Refactor dApp usage of getTokenBalance to use new MARKET.js function getBalanceAsync"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Continuous improvements, this functionality was exposed in MARKET.js

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Maintenance
We need to update the usage of utils `getTokenBal

[2018-08-14 14:09] perfectmak commented on #296
@travisdmathis, looking at this issue now. Wouldn't it be dependent the next release of the MarketJS library?

[2018-08-14 14:32] travisdmathis commented on #296
@perfectmak yes, it would.

[2018-08-14 14:38] perfectmak commented on #296
Okay, so we wait till the next MarketJS release.

[2018-08-14 21:05] perfectmak commented on #283
@nemaniarjun, like you said I believe the best and easiest way to solve this right now would be to update the README with instruction to perform the migration when using docker.

Or else you would need to figure out a way to run the migration when eth-bridge has finished initializing. I believe @cryptomental had a solution for this in the past, perhaps he can shed more light to help around this ro

[2018-08-14 22:32] perfectmak commented on #283
Okay, so I did a little digging into a similar scenario we had from earlier when all the project repos were in a single directory.
The eth-bridge image has a [wait_for_oraclize_connector.sh](https://github.com/MARKETProtocol/ethereum-bridge/blob/master/scripts/wait_for_oraclize_connector.sh) script that would execute in the container before running migration all. cc @cryptomental

So I guess the m

[2018-08-15 19:17] mkeen commented on #295
I'll knock this out.

[2018-08-16 12:38] nitinrgupta commented on #242
Latest Iteration based on @pelsasser's feedback
![market dapp - exchange v6](https://user-images.githubusercontent.com/4952395/44208832-42e4a780-a17f-11e8-9ffb-057635d1e1c5.png)

[2018-08-16 14:47] mkeen commented on #295
So I've dug pretty deep into this. I don't see anything that indicates that the above "expected behavior" ever existed. This is based on digging thru some recent PR's and also examining AntD's documentation.

https://ant.design/components/date-picker/

The above examples all function exactly as this "bug" does. This is just how AntD works. The requested functionality would appear to require an ups

[2018-08-16 15:05] eswarasai commented on #295
@mkeen -- The issue description is a bit misleading I guess. So the issue is, if you click on the arrows to change month/year in the calendar here -- http://dev.dapp.marketprotocol.io/exchange/trades/, you'd observe that the calendar doesn't go to next/previous month/year like expected. Let me know if you aren't able to reproduce it on your end. Thanks!

@octavioamu -- @mkeen has already been appr

[2018-08-16 15:10] octavioamu commented on #295
@eswarasai  I think @mkeen clicked "stop work" in this one (I think the bot didn't post it yet ) https://gitcoin.co/issue/MARKETProtocol/dApp/295/965

[2018-08-16 15:12] octavioamu commented on #295
Anyway I will wait if he stop working I can take it and try luck 😛

[2018-08-16 15:13] eswarasai commented on #295
@octavioamu -- Ahh. Thanks for the clarification. I'd let him respond here within 24 hours in case he's still interested in helping us fixing the issue, if not, feel free to start working on this bounty :)

[2018-08-16 15:43] mkeen commented on #295
Go ahead and pick it up @octavioamu, thanks for being polite. Wish you luck!

[2018-08-16 15:56] pelsasser commented on #295
@mkeen - I would like to tip you for your work. looks like gitcoin tipping is down, can you send me your ETH address?

[2018-08-16 16:41] pelsasser commented on #295
@mkeen - tip sent.  Thanks all!

[2018-08-16 21:37] mkeen commented on #295
Thanks @pelsasser!

[2018-08-16 22:26] octavioamu commented on #295
After a lot of hours trying and translating chinese issues I discovered the solution, really hard to find but easy to execute.
I will make a PR with the update of package.json to a newer version of 'antd' but also need to clean the node_modules folders because is with some conflict, run `rm -rf node_modules && make install_deps`  will do the work.

[2018-08-17 11:39] #295 closed

[2018-08-17 11:41] eswarasai commented on #295
@octavioamu -- Thanks for taking care of this. Pretty weird that `3.7` has breaking changes for the calendar component which they probably have fixed in `3.8`. I'll let @pelsasser payout this bounty.

[2018-08-17 11:46] nitinrgupta opened #298 "[Sim Exchange] Implement base layout from the new UI"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Implement the base layout for the sim exchange based on the latest UI mockups so we can begin filling in the logic.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### E

[2018-08-17 11:57] #242 closed

[2018-08-17 14:28] octavioamu commented on #295
Yes , the strange thing is the dependencies not being updated/removed on their side with the new version and breaking the plugin, also with no error feedback. That one is very hard to find I was getting crazy.
Thank you guys!!

[2018-08-19 19:45] eswarasai commented on #283
@nemaniarjun -- Thanks for the follow up on this one.

@perfectmak -- Just want to understand the suggested solution here with details on what cannot be fixed or rather need to keep in mind while using Docker for `dApp`. Thanks!

[2018-08-20 07:48] perfectmak commented on #283
@eswarasai My suggestion was to add instructions to the README on how to run the migration after the docker services have been up. The current challenge is knowing when eth bridge has been completely initialised before running migrations on the truffle container.

[2018-08-20 10:18] eswarasai commented on #283
@perfectmak -- Wouldn't @cryptomental solution work and be implemented in the `dApp`?

@nemaniarjun -- For the time being, let's just update the README with the necessary instructions and call this done? Thanks for all your efforts on this one :)

cc: @pelsasser

[2018-08-20 15:03] pelsasser commented on #263
@eswarasai - I know your swamped with other priorities, would you like us to bounty this task?

[2018-08-20 15:05] eswarasai commented on #263
@pelsasser -- Yeah. Makes sense. I'll probably never be able to get to this looking at the other tasks at hand. Let's get this bountied or ask @perfectmak to handle it for us :)

[2018-08-20 15:30] #245 closed

[2018-08-20 17:50] eswarasai opened #299 "[Contracts Explorer] UI/UX Issues"
### Description
Improve the UI/UX for Contracts Explorer and also add additional filters to fetch the data based on the parameters like Expired, Settled etc

*Type*: Bug

### Definition of Done
- [x] Contract name is not completely visible in the List View
- [x] Search text should automatically filter contracts instead of hitting search button/enter on keyboard
- [x] Copy Oracle Query should be a

[2018-08-20 19:01] perfectmak commented on #283
Yeah, @cryptomental's solution should work, but it wouldn't be tricky having it in the docker-compose file as a service because we need to run `exec eth-bridge scripts/wait_for_oraclize_connector.sh` so it would block till it is ready after which truffle migrate can be run too.

So it would be easier if we had everything in a script to be executed sequentially. Or the next best thing would be just

[2018-08-20 19:44] pelsasser commented on #275
Some notes!

- We are working on implementing a standarized contract naming scheme, which will help to populate the two names needed that are currently represented by EOS : ETH (reference asset : collateral token)
  - the function `parseStandardizedContractName` will parse the contract name to return the needed pieces returns an object that looks like
[code]

[2018-08-20 19:47] pelsasser commented on #275
@mikestonecodes is gonna take this one on

[2018-08-21 20:54] pelsasser opened #300 "[Bug] Date Picker - Cannot select current day"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-08-22 09:29] perfectmak commented on #296
@travisdmathis can I still do this or you've got this?

[2018-08-22 11:01] travisdmathis commented on #296
@perfectmak feel free to take it, i have some other priorities i have to get to..

[2018-08-22 11:56] travisdmathis opened #301 "SimExchange Implementation"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-08-22 12:00] travisdmathis commented on #251
Closing in favor of main issue

[2018-08-22 12:00] #251 closed

[2018-08-22 12:07] travisdmathis commented on #214
duplicate

[2018-08-22 12:13] travisdmathis opened #302 "[Design] Fill Orders via JSON"
### Description
When clicking on an order in the order book a user should be presented with a UI/UX to fill that order. An example of doing that already exists, but the UI needs to be improved to be more user friendly.. We should abstract the json portion away from the user experience.

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:  Feature

### Additional Information
[comment]: # (Any othe

[2018-08-22 12:16] travisdmathis opened #303 "Implement fill order via JSON"
### Description
Implement the fill order logic where user can paste a signed order JSON blob to fill an order

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)
- [x] User can copy paste a signed order JSON blob to the interface which fills that specific order
- [x] Add or modify test

[2018-08-22 12:48] pelsasser commented on #275
@mikestonecodes - please let us know a timeline for completion on this when you can.

Thanks!

[2018-08-23 02:50] StevenJNPearce commented on #263
Progress here: https://github.com/MARKETProtocol/dApp/tree/feature/deploy-contract-integrate-marketjs

It's basically done, will run tests tomorrow and address any issues that come up.

[2018-08-23 23:05] perfectmak commented on #296
@travisdmathis I submitted a PR for this. Kindly take a look when chanced.

Some extra things I did was to upgrade marketjs to 0.3.0 and also rename getUserAccountBalanceAsync() to the new getUserUnallocatedCollateralBalanceAsync().

[2018-08-24 12:01] #296 closed

[2018-08-24 12:34] travisdmathis commented on #295
@octavioamu the even crazier thing is, I had spent like 2hrs on this AND i upgraded antd but it didn't rectify it... :1st_place_medal: they must have put out a patch after i tried... :sob: thanks for keeping after it.

[2018-08-24 12:49] pelsasser commented on #275
@mikestonecodes - any progress here? if your too busy, no problem, just let us know.

[2018-08-24 13:34] octavioamu commented on #295
@travisdmathis don't worry I was one day trying!! I was frustrated lol
The thing is not a patch the thing is even uploading there is something not removed from the dependencies maybe an other packages without semversion, so is conflicting without give an error, but when you delete the node_modules and reinstall all the dependencies are taken and the ones without version are taken the lastest and t

[2018-08-24 14:08] travisdmathis opened #308 "Upgrade dApp to MARKET.js 0.4.0"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-08-24 14:36] #298 closed

[2018-08-24 14:42] nitinrgupta opened #309 "[UI/UX] Clean up Wallet history design in Sim Exchange"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I need to see the history of transactions done in my wallet. This should be easily accessible and consumed

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

[2018-08-24 14:55] nitinrgupta opened #310 "[UI/UX] Handle long numerical digits in Sim exchange wallet"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Wallet amount which exceeds certain decimal digits is looking weird right now.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: UI Bug

### Current Behavior
[comment]: # (Descri

[2018-08-24 15:03] nitinrgupta opened #311 "[UI/UX] Fix ugly scrollbars in sim exchange when viewing on a Linux/Windows OS"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Currently, ugly(default) scrollbars are appearing in the sim exchange section's table headers and body

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
[

[2018-08-24 15:03] travisdmathis opened #312 "Make sure that invalid exchange routes redirect back to /exchange"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

bad routes should redirect to /exchange i.e. /exchange/wallet should not allow me to view /exchange this will break SEO and search engine indexing.

### Current Behavior
[comment]: # (Describe what actually happened.)

### Expected Behavior
[comment]: # (Describe what you expected to happen.)

### Reproduction
[comment]: #

[2018-08-24 15:09] nitinrgupta opened #313 "[UI/UX] Add appropriate colors for Sell tab"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
User should be able to distinguish Buy and Sell in Sim exchange trade component

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Enhancement

### Current Behavior
[comment]: # (De

[2018-08-24 15:26] nitinrgupta opened #314 "Add collapse option for Wallet section in Sim exchange"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-08-24 15:44] nitinrgupta opened #315 "Update tooltips with relevant text in Sim exchange"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Add proper texts for the following tooltips in Sim exchange:
- Available Collateral
- Available for Trading
- Order Book
- Trade Charts
- Open Orders
- Positions
- Fills
- Trade History

### Descriptio

[2018-08-24 15:46] nitinrgupta commented on #315
@pelsasser can you suggests some appropriate text for these tooltips?

[2018-08-24 17:36] CosmicCoder96 commented on #313
hi @nitinrgupta Can I work on this?

[2018-08-24 18:39] pelsasser commented on #313
@CosmicCoder96 - that would be great! can you give us an estimated time frame? Really happy you want to help us out with out new Simulated Exchange!

[2018-08-24 19:19] charlwillia6 commented on #300
@pelsasser ~ Thank you!  This is my first job to get my feet wet on Gitcoin.  I appreciate it.  I forked the repo and should have something done by tomorrow after I am done working at my day job.  I am connected on Discord and will keep you update.

[2018-08-24 21:45] pelsasser commented on #315
Yes!

Can you clarify -
Available Collateral - this is the users wallet balance?
Available for Trading - this is the balance the user has deposited into the specific contract?

[2018-08-24 23:51] nemaniarjun commented on #283
Please review the PR with the README update :grin:

[2018-08-24 23:57] nemaniarjun commented on #312
Sample commit (pending linting and the sorts) https://github.com/nemaniarjun/dApp/commit/c03535b60d40b0a5b2c2500177564e3acd9ad5f6

[2018-08-25 03:58] nitinrgupta commented on #315
Yes @plessaser

[2018-08-25 11:08] mikestonecodes commented on #275
Hey @pelsasser I am starting now. Sorry about the delay.

[2018-08-25 11:11] mikestonecodes commented on #275
I can complete by Tuesday, hopefully earlier. Sorry I missed your messages.

[2018-08-25 19:02] charlwillia6 commented on #300
@pelsasser - I have a couple questions since this is my first project.

1. `DatePicker` is located in `/dApp/src/components/DeployContract/DeployContractField.js` and `dApp/src/components/SimExchange/Trade/Form.js`.  The changes I have already made in `DeployContractField.js` fixes the example at the link under **Reproduction**, but do you also want the same change in the `Form.js` file?

2. I am

[2018-08-26 04:50] eswarasai commented on #300
@charlwillia6 -- Please find responses below for your queries :
1. Yes. Please do the relevant changes in the `SimExchange/Trade/Form.js` as well
2. I'd prefer having minimum difference of 60 minutes from the current time. I'll let @pelsasser to confirm this as well
3. The creation of new branch is to ensure we keep track of what's being merged as well as it'd be easier for the contributors to wor

[2018-08-26 09:53] eswarasai commented on #312
@pelsasser -- I don't see anyone approved for this bounty but there's already an open PR #317 for the same. Can you please update the status here? Thanks!

[2018-08-27 06:17] nitinrgupta commented on #314
@pelsasser which bounty hunter did we approve on this issue?

[2018-08-27 06:40] CosmicCoder96 commented on #313
@nitinrgupta Please check my comments on the PR.

[2018-08-27 07:54] eswarasai commented on #300
@charlwillia6 -- I've just had a quick look at the PR and that should ideally fix the above issue. With respect to the timezone query, I'm not really sure if there's any issue at the moment we're facing while trying to deploy contracts/create trade orders. I'll let @pelsasser and @travisdmathis chime in here and help us in identifying if this is needed or not. Thanks for bringing it up though :)

[2018-08-27 13:05] pelsasser commented on #312
Apologies for not getting the approval done sooner.

@nemaniarjun - I have approved you since you already submitted a PR, in the future I should approve sooner and we should hold of on submitting work until an approval has been created.

But in this case, its totally my fault, got very busy over the weekend and wasn't near a computer.

Thanks to everyone who wanted to work on the issue!

[2018-08-27 13:07] pelsasser commented on #275
thanks @mikestonecodes - looking forward to it!

[2018-08-27 13:12] pelsasser commented on #312
Arghh.. PR was from @nithinr07 not @nemaniarjun my bad.

Working to fix this.

[2018-08-27 13:14] pelsasser commented on #312
okay both approved now, lets get this issue closed out and I can tip both of you for the work.
Thanks!

[2018-08-27 13:16] pelsasser commented on #310
I think 5 decimals is probably reasonable, if that is too long from a design perspective, we could do less.

[2018-08-27 13:19] pelsasser commented on #300
Sounds like the time zones are handled correctly currently, so I don't believe any further action is necessary if we are now able to pick any time after `now`.

thanks!

[2018-08-27 13:30] pelsasser commented on #314
Apologies for not approving workers sooner.  I was out of the office all weekend.

@darshannbs57 - we are going to approve you since you have already submitted a PR, @nitinrgupta will review and get back to you later with any needed changes after a review.

Thanks for all the interest from everyone else, we will have many more bounties posted shortly!

[2018-08-27 14:06] #308 closed

[2018-08-27 14:30] #311 closed

[2018-08-27 16:29] travisdmathis opened #327 "dApp should be able to be easily placed into maintenance mode"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
To allow for us to work on the site without user interaction in cases where we need to upgrade contracts, etc.

### De

[2018-08-27 16:39] travisdmathis opened #328 "Contract dropdown responsive issues"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description
When viewing the new exchange ui the contract dropdown breaks on certain views

[comment]: # (Feature

[2018-08-27 16:53] pelsasser commented on #315
- Available Collateral
  - rename to Available to Deposit?
  - `This is the amount in your wallet that is currently available to deposit into the selected MARKET Protocol Smart Contract`
- Available for Trading
  - rename to Available To Trade?
  - `This is the amount of collateral you have available with to trade with in the selected MARKET Protocol Smart Contract`
- Order Book
  - `The Order Boo

[2018-08-27 18:43] CosmicCoder96 commented on #315
@nitinrgupta @pelsasser I would like to work on this.

[2018-08-27 18:50] nitinrgupta commented on #315
I was about to open up a PR 😅 But go ahead, I haven't worked on this yet 😄

[2018-08-27 18:53] #313 closed

[2018-08-27 19:02] CosmicCoder96 commented on #315
@nitinrgupta 😅 okay

[2018-08-27 20:14] #315 closed

[2018-08-27 21:55] pelsasser commented on #315
@CosmicCoder96 - thanks for all the help!! Have you joined our [discord](https://marketprotocol.io/discord) yet?!

[2018-08-28 06:42] CosmicCoder96 commented on #315
@pelsasser Thanks! I just did (AbhinavKhare)

[2018-08-28 06:46] CosmicCoder96 commented on #313
@pelsasser Thank you so much for the tip. I would love to work on more issues!

[2018-08-28 10:50] #263 closed

[2018-08-28 11:18] #314 closed

[2018-08-28 11:35] #312 closed

[2018-08-28 11:38] eswarasai commented on #312
@nithinr07 & @nemaniarjun -- Thanks a lot for working together and helping us close this issue. I'll let @pelsasser payout the bounty.

[2018-08-28 12:13] travisdmathis commented on #310
@pelsasser @nitinrgupta what if in the view we round off to X digits and then if you hover over the value it shows a tooltip/popup w/ the 18 digit amount?

[2018-08-28 14:55] #283 closed

[2018-08-28 14:57] eswarasai commented on #283
@nemaniarjun -- Thanks a lot for the co-ordination and seeing this through. I'll let @pelsasser payout the bounty :)

[2018-08-28 15:40] pelsasser commented on #283
@nemaniarjun - thanks alot for all the work here!

Please `Submit Work` on gitcoin so I can pay out the bounty,

[2018-08-28 15:42] pelsasser commented on #310
this sounds cool

[2018-08-28 15:46] #300 closed

[2018-08-28 15:47] eswarasai commented on #300
@charlwillia6 -- Thanks a lot for helping us with fixing this issue. If you can submit work on Gitcoin, @pelsasser can payout the bounty :)

[2018-08-28 17:43] charlwillia6 commented on #300
Thank you @eswarasai!  I will look more into creating tests with React so I have better coverage next time.  Nice working with you!

[2018-08-29 05:51] CosmicCoder96 commented on #310
@nitinrgupta Are you working on this, or is it available to work on?

[2018-08-29 06:01] nitinrgupta commented on #310
@CosmicCoder96 I've started work on this already :(

Check out this issue: https://github.com/MARKETProtocol/dApp/issues/328 which is fairly simple to tackle at the moment. We'll be having bunch of other issues filed soon.

[2018-08-29 07:36] CosmicCoder96 commented on #310
@nitinrgupta sure, thanks!

[2018-08-29 07:37] CosmicCoder96 commented on #328
I am working on this.

[2018-08-29 11:44] travisdmathis opened #332 "Deprecate the usage of getWhitelistedContracts end point"
### Why Is this Needed?
The end point is being deprecated.

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

We are deprecating the getWhitelistedContracts end point in favor for the new contract

[2018-08-29 14:03] #328 closed

[2018-08-29 15:00] nitinrgupta opened #334 "Fix contract selection dropdown in Sim exchange"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-08-29 15:50] perfectmak commented on #332
@travisdmathis, Also while tackling this, is it okay to remove the caches setup too. Since we would be fetching from the API now?

[2018-08-29 19:35] #247 closed

[2018-08-29 19:45] #255 closed

[2018-08-30 18:54] #332 closed

[2018-08-31 12:29] #270 closed

[2018-08-31 12:41] nitinrgupta commented on #309
Final mock:
![wallet history](https://user-images.githubusercontent.com/4952395/44912878-351b4e80-ad49-11e8-812c-e71f4a8d86f3.gif)

[2018-08-31 12:42] nitinrgupta commented on #309
@pelsasser @travisdmathis closing this issue and creating a separate one for implementating the same

[2018-08-31 12:42] #309 closed

[2018-08-31 13:14] nitinrgupta opened #339 "Implement wallet history tab UI in Sim Exchange"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I need to see the history of transactions happened in my wallet.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Implement the proposed design in the histo

[2018-08-31 13:15] pelsasser commented on #334
@CosmicCoder96 - can you confirm your working on this? if so I will put the appropiate labels on it! thanks!

[2018-08-31 15:15] CosmicCoder96 commented on #334
@pelsasser yes I am working on it :)

[2018-09-04 20:01] #310 closed

[2018-09-04 23:38] eswarasai opened #341 "[Contracts Explorer] Increase width of the contract name column"
### Description
Expand the name column to be wider and possibly narrowing the balance or expiration columns. Would be nice to show more of the Name field without having to hover

*Type*: Enhancement

### Definition of Done
- [ ] Increase width of the contract name column in Contract Explorer List View and handle responsiveness issues, if any

[2018-09-05 00:01] #299 closed

[2018-09-05 03:44] eswarasai commented on #334
@CosmicCoder96 -- Can you update the status on this? It'd be great if you can create a WIP PR. Let us know if you need any help from us. Thanks!

[2018-09-06 12:45] #339 closed

[2018-09-06 13:08] travisdmathis opened #345 "Return MARKET_COLLATERAL_POOL_ADDRESS for market contracts"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user I need to be able to easily obtain the `marketCollateralPoolAddress` when retrieving data about a contract from the API.

### Why Is this Needed?
This is needed so that we can get transaction history for a user and display it in the Wallet UI.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*

[2018-09-06 13:10] #345 closed

[2018-09-06 13:10] travisdmathis commented on #345
Issue moved to [MARKETProtocol/market-api #46](https://github.com/MARKETProtocol/market-api/issues/46) via [**ZenHub**](https://www.zenhub.com/)

[2018-09-06 13:31] travisdmathis opened #346 "Refactor wallet history to use getCollateralEventsAsync function from MARKET.js"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-09-06 15:36] rojosnow opened #347 "[explorer] Display a small graph on the more details popup for cap, floor, and current price"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user of the SimEx, I would like to see a graph of the contract pricing so that it's easy for me to interpret the data of the contract.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actual

[2018-09-06 16:54] eswarasai opened #348 "Upgrade to MARKET.js 0.5.1"
### Description
Upgrade `MARKET.js` to `v0.5.1` and resolve the below breaking changes --
 - `approveCollateralDepositAsync` will require `isBaseUnits` argument
 - `getOrderHash` and `isValidSignature` functions are now static
 - Must add `isVerifyContracts` flag to `MARKETProtocolConfig`

*Type*: Enhancement

### Definition of Done
- [x] Breaking changes are resolved
- [x] `MARKET.js` upgraded to

[2018-09-10 06:57] nitinrgupta opened #351 "[Sim exchange] Implement order book design"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Implement the order book table design proposed in the UI

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: UI enhancement

### Expected Behavior
[comment]: # (Describe what you exp

[2018-09-10 07:08] nitinrgupta opened #352 "[Sim exchange] Implement positions section"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Implement the positions section table in the sim exchange based on the design

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: UI Enhancement

### Definition of Done
[comment]: #

[2018-09-10 07:11] nitinrgupta opened #353 "[Sim exchange] Implement trade history section"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Implement the trade history table UI based on the desing

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: UI Enhancement

### Expected Behavior
[comment]: # (Describe what you exp

[2018-09-10 07:14] nitinrgupta opened #354 "[UI/UX] [Sim exchange] Create buy/sell order flow using order book"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to be able to fill an order which I see in the order book.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Create designs/mocks for the fill orders

[2018-09-10 07:59] nitinrgupta opened #355 "Add word break for final contract name while creating a contract"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Fix the contract name overflowing the container if a long custom text is added to a contract name

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
[comme

[2018-09-10 08:29] CosmicCoder96 commented on #334
@nitinrgupta @eswarasai Apologie for the delay, I had to travel urgently mid-work. I had used ant design's [Select with search](https://ant.design/components/select/) to fix it as it includes a search bar by default. I am returning today evening and will send a PR by end of today. On a flight right now.

[2018-09-10 14:28] #214 closed

[2018-09-10 14:39] #239 closed

[2018-09-10 22:36] perfectmak commented on #352
@nitinrgupta is there anything blocking this? Can I work on it?

[2018-09-11 07:11] nitinrgupta commented on #352
@perfectmak there's nothing blocking as such. Feel free to go ahead and work on this :)

But I wanted to envision the UI before getting into the implementation.
So, here's a simple mock which I'm thinking.
<img width="513" alt="screen shot 2018-09-11 at 12 34 45 pm" src="https://user-images.githubusercontent.com/4952395/45343686-39ecc780-b5bf-11e8-8257-bcaadb3464a3.png">
You can ignore the `ETH` s

[2018-09-11 12:35] pelsasser commented on #352
Can we add color in?  So long positions (which are + qtys) would match our buy color, and the short positions (which are negative) would match the sell color.

Also, not needed, but may help is the same arrows we used in the collateral screen.

[2018-09-11 13:28] nitinrgupta commented on #352
@perfectmak UI is locked down and updated on the issue description. Feel free to work on this whenever you can :)

[2018-09-11 15:53] #348 closed

[2018-09-11 15:53] #351 closed

[2018-09-11 15:53] #355 closed

[2018-09-11 17:44] perfectmak commented on #352
Okay @nitinrgupta, I'll begin work on this asap. I'll sync with you on discord is any questions arise.

[2018-09-11 17:49] nitinrgupta opened #360 "Modify border radius for buttons in sim exchange"
### Description
Sim exchange uses 4px border radius. Rest of the dApp uses fully rounded edges for buttons. Make it consistent across the sim exchange.

*Type*: UI bug

### Definition of Done
- [x] Update `border-radius` of buttons in Sim Exchange to be in consistent throughout the `dApp`

[2018-09-12 11:35] eswarasai commented on #353
@pelsasser -- I have couple of questions related to the task. Please find them below :

 - The values beside Qty and Price, are they `symbolName` and `quoteAsset` of the Contract Name?
 - In the below sample `getContractFillsAsync()` result, I couldn't find the time of filled event to be displayed. Should I go ahead and open an issue in `MARKET.js` to add timestamp to the fill order events?

[code

[2018-09-12 12:00] nitinrgupta commented on #353
@eswarasai the primary color (teal) depicts a buy order and the secondary color (orange) depicts the sell order

[2018-09-12 12:17] eswarasai commented on #353
@nitinrgupta -- What's the caret depicting beside the price then?

@pelsasser -- Am I right to understand that if the `filledQty` in the above JSON result is positive, it's a buy order and if it's negative it's a sell order or do we need to add another key to distinguish between the buy/sell orders?

[2018-09-12 12:32] nitinrgupta commented on #353
@eswarasai the caret depicts the buy and sell orders.

[2018-09-12 13:09] pelsasser opened #361 "Buy and sell order colors mistmactched in order book"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-09-12 13:26] nitinrgupta commented on #361
@pelsasser - just to understand, is asks == buy orders and bids == sell orders?

[2018-09-12 13:27] nitinrgupta commented on #354
@travisdmathis feel free to use the above UI while you're implementing the order flow

[2018-09-12 13:29] pelsasser commented on #361
Ask == sell order (I am asking a price to sell something)
Bid == buy order (I am bidding a price to buy something)

On Wed, Sep 12, 2018 at 7:26 AM, Nitin R Gupta <notifications@github.com>
wrote:

--
Phil Elsasser
CTO and Co-Founder

marketprotocol.io
<http://www.marketprotocol.io>
Join Our Telegram Community <https://t.me/Market_Protocol_Chat>

[2018-09-12 13:36] nitinrgupta commented on #361
Ah! Gotcha. My bad. Thought the other way around.

[2018-09-12 18:53] pelsasser commented on #353
@eswarasai -

that would be great!

Yes! + for buy, - for sell

[2018-09-13 13:35] travisdmathis opened #362 "Save unfilled orders for displaying in UI"
@travisdmathis commented on [Mon Sep 10 2018](https://github.com/MARKETProtocol/MARKETProtocol/issues/124)

### User Story
As a user I want my offchain transactions to be saved

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?
So a user can see the open orders they have created that have yet to be filled.

[comment]: # (Describe the problem and why this ta

[2018-09-14 06:40] #354 closed

[2018-09-14 14:33] perfectmak commented on #361
@nitinrgupta I took the liberty of fixing this in the #363 PR.

[2018-09-14 15:11] travisdmathis commented on #346
i've adjusted the scope of this ticket as the work that went into this really should have become multiple tickets. There were some bug fixes and other things that crept in and for posterity sake wanted to make sure we're tracking accurately.

[2018-09-17 09:08] #353 closed

[2018-09-17 14:16] #346 closed

[2018-09-17 14:19] #277 closed

[2018-09-17 14:20] #362 closed

[2018-09-17 14:56] pelsasser commented on #302
@nitinrgupta this is complete correct?

[2018-09-17 15:17] nitinrgupta commented on #302
I believe this issue combines the normal fill order flow UI (which is done) and the one where user can fill via json part. We need to work out a UX to fill the order via json

[2018-09-17 15:26] pelsasser commented on #302
Ahh okay, there was some confusion over which issues is which.  Do we have an issue just tracking the new UI implementation for the fill order that you mocked in zeplin?

[2018-09-17 16:26] nitinrgupta opened #366 "[UI/UX] Implement buy/sell order flow from order book"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Implement the flow where user can fill an order using the order book using the UI designed

### Description

[comment]

[2018-09-17 18:38] #268 closed

[2018-09-17 18:48] travisdmathis opened #367 "Collateral Token Faucet"
### User Story
As a user I would like to be able to easily obtain collateral tokens for trading on the simulated exchange.

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?
So that users of the demo app can easily obtain fake collateral tokens.

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what y

[2018-09-17 19:05] #352 closed

[2018-09-17 19:05] #361 closed

[2018-09-17 19:05] #360 closed

[2018-09-17 20:48] pelsasser opened #368 "Integrate ChainLink deployment option into dApp"
### User Story
I want to be able to deploy a MarketContract that uses ChainLink

### Why Is this Needed?
*Summary*: More oracles

### Description
*Type*: Feature

### Solution
[comment]: # (Provide a summary of the solution and a task list on what needs to be fixed.)
*Summary*: ammend deployment process to allow user to select chainlink

### Definition of Done
- [ ] updated deployment UI/UX flow
-

[2018-09-17 23:04] perfectmak commented on #366
@nitinrgupta is this open? I would like to work on this

[2018-09-18 04:00] nitinrgupta commented on #366
@perfectmak - yes this is open. Feel free to knock this out :)

[2018-09-18 04:08] rojosnow opened #369 "[API] Map the dApp to the correct API environments/endpoints"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a developer, I need map the dApp to the correct API environments so I'm getting the right data from the API.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
The pr

[2018-09-18 17:40] nitinrgupta opened #371 "Show appropriate oracle name used on the deployed contract in contract explorer"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
 As a user, I need to see the oracle used in the contract deployed on the explorer page easily which helps me in finding the right contract.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actua

[2018-09-18 17:59] rojosnow commented on #369
@eswarasai Updated to remove the API key requirement.

[2018-09-19 12:38] travisdmathis opened #373 "[BUG] Properly handle web3 connection states in the dApp"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?
Currently if i'm not logged in, I can browse around the site and attempt to use features like Deploy Contract.  Attempting to deploy the contract while not logged into meta mask blows up the entire dApp.

[comment]: # (Describe the problem and why this task is needed. Provide description of t

[2018-09-19 12:48] travisdmathis opened #374 "Testing Refactor"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-09-19 13:54] travisdmathis opened #375 "Implement Trade Charts Widget - Order Flow Chart"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-09-19 14:01] travisdmathis opened #376 "[UI/UX] My open orders"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description
My open orders needs to be styled to match the design.

[comment]: # (Feature or Bug? i.e Type: Bug)

[2018-09-19 14:03] travisdmathis opened #377 "[UI/UX] My Fills"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description
We need to take the available data about a users fills and make it available in the UI.

[comment]: #

[2018-09-19 14:49] travisdmathis opened #379 "Update my open orders logic to check for expired unfilled orders."
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-09-19 16:06] #369 closed

[2018-09-19 20:03] rojosnow opened #380 "[web3] Update the dApp to support MARKET.js with web3 v1"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a developer, I need the dApp to support `MARKET.js` with `web3` v1 so I can take advantage of the new features and cost savings in `web3`.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actu

[2018-09-20 10:23] nitinrgupta opened #382 "[Design] Create flow for the token faucet where users can request collateral tokens in simulated exchange"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I would like to be able to easily obtain collateral tokens for trading on the simulated exchange.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Create a

[2018-09-20 13:27] #367 closed

[2018-09-20 19:32] travisdmathis opened #385 "[BUG] My Open Positions are displaying opposite types"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description
Currently my long positions are showing up as short positions and vice versa.

[comment]: # (Feature

[2018-09-21 19:01] #366 closed

[2018-09-24 10:07] nitinrgupta opened #388 "[UI/UX] Add loading indicators while the sim exchange sections are fetching the data"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, it would be good to know if sections in sim exchange are showing some sort of loading indicators while the data is refreshing or in the process of fetching

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like

[2018-09-24 13:30] nitinrgupta opened #389 "[UI/UX] Add collateral type in column headers"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I'd like to know which type of collateral I'm looking at in the columns of Trade History, Order book etc

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Ad

[2018-09-24 21:04] travisdmathis opened #391 "[BUG] Fix Buy/Sell Order Modal content"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug
When placing a buy order the modal data is

[2018-09-25 15:02] nitinrgupta opened #392 "[Sim Exchange] Create a fixed numerical format on quantity and price and handle responsiveness"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I need to see standardized numerical format across the sim exchange for easier data consumption especially on the orderbook and trade history

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen,

[2018-09-25 18:16] #376 closed

[2018-09-25 18:16] #379 closed

[2018-09-25 18:16] #391 closed

[2018-09-25 18:41] pelsasser commented on #389
@nitinrgupta - would it be better to have the contract name or perhaps just the part of the contract name?

I am not sure it make sense to just the collateral token there.

for instance, if the contract we are trading is BTCUSDT, what I probably care about is knowing exactly that.  BTC alone (or USDT alone) isn't all that helpful I think.

[2018-09-25 18:53] #385 closed

[2018-09-25 19:41] nitinrgupta commented on #389
@pelsasser where exactly are you referring to add the contract name or part of the contract name?

Wouldn't it be helpfull for users to understand in what Collateral token the Qty is if we have `Qty(ETH)` as a column header instead of just `Qty`? The same goes to the `Price` and `My Qty` column

[2018-09-26 08:34] #334 closed

[2018-09-26 17:13] nitinrgupta commented on #382
- Check wether user has requested any collaterals tokens
  - Show the below mock if not
![market dapp - request collateral](https://user-images.githubusercontent.com/4952395/46096595-3f602980-c1dd-11e8-8016-bd73962ebccd.png)

  - Show the normal wallet UI if yes

[2018-09-26 17:28] nitinrgupta opened #394 "[UI/UX] Implement redesigned request collateral tokens in simulated exchange"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I would like to be able to easily obtain collateral tokens for trading on the simulated exchange.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Implement

[2018-09-26 17:29] #382 closed

[2018-09-28 11:48] eswarasai opened #395 "Update contribution guidelines"
### Description
Update contribution guidelines with coding style guide especially to leverage `less` for stylings as well as consistent naming conventions for `className`, `id` and JS variables.

Below is a starter template which needs to be polished according to the existing codebase standards --

[code]

*Type*: Enhancement

### Definition of Done
- [ ] Contribution guidelines are updated

[2018-09-28 12:10] #275 closed

[2018-10-01 13:06] travisdmathis opened #397 "Upgrade MARKET.js to 0.7.0"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-10-01 14:57] travisdmathis opened #399 "Web3 Connection Indicator"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user I would like to know the state of my connection to the dApp.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Currently no indication of what state metamask

[2018-10-01 15:11] travisdmathis opened #400 "Implement Order API"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:Currently my open orders utilizes localstorage for tracking offchain transactions. We want to store this in our databas

[2018-10-01 15:12] #375 closed

[2018-10-01 15:12] #394 closed

[2018-10-01 15:24] perfectmak opened #401 "[Sim Exchange]: Unable to fill an open order with quantity greater than two dp"
### User Story

As a user of the sim exchange, I want to be able to fill an order with a quantity having greater than two decimal place values.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)
<img width="520" alt="screen shot 2018-10-01 at 3 46 26 pm" src="https://user-images.githubusercontent.com/3120

[2018-10-01 15:33] #371 closed

[2018-10-01 20:57] travisdmathis opened #403 "Remove highcharts branding"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-10-02 11:13] travisdmathis opened #404 "[BUG] Don't change orderBook object order quantity returned from API when saving to redux"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-10-02 12:07] travisdmathis opened #405 "[Sim Exchange] Copy JSON button my open orders"
### User Story
As a user I want to be able to copy the json blob easily for sharing for my pending open orders.

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[co

[2018-10-02 14:37] travisdmathis opened #408 "Add referenceAsset to Buy/Sell order widget"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-10-02 14:41] #249 closed

[2018-10-03 12:19] #404 closed

[2018-10-03 12:20] #403 closed

[2018-10-04 07:07] nitinrgupta opened #411 "[Sim Exchange] Add timestamp in Trade History section"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to see the timestamp of the trades in trade history section

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature

[2018-10-04 16:38] #392 closed

[2018-10-05 13:20] travisdmathis opened #413 "[BUG] My FillsOrdersPositions height needs to be set to 100%"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

We're not maximizing the available height of the widget for displaying data.. currently is getting cut off at the bot

[2018-10-05 13:22] travisdmathis opened #414 "[BUG] My OrdersPositionsFills should account for maker/taker in display direction/color"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

Currently these components are only accoun

[2018-10-05 14:27] #377 closed

[2018-10-05 15:08] pelsasser opened #416 "update to abis@0.0.4"
### User Story
Update to abis@0.0.4 which is deployed using marketprotocol@1.3.1 bug fixes.

### Why Is this Needed?
*Summary*: fixes issues with accounting / positions and collateral

[2018-10-05 15:54] #411 closed

[2018-10-05 18:43] travisdmathis opened #417 "Upgrade Market ABI's to 0.0.4"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-10-05 18:43] travisdmathis commented on #417
duplicate ticket

[2018-10-05 18:43] #417 closed

[2018-10-05 18:46] travisdmathis commented on #413
@nitinrgupta develop, i have a bunch of positions on the BTC_USDT contract and it gets cut off with about 150px left in the component height.. i did some fiddling in the inspector and got it to work right.

[2018-10-06 06:15] nitinrgupta commented on #413
@travisdmathis I think I've handled it in my latest PR merge. Let me know if you still see the same issue

[2018-10-08 06:39] nitinrgupta opened #418 "[UI/UX] Show loading indicators till the MetaMask transaction is confirmed when performing web3 actions"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I need to know what is happening when submitting a web3 transaction.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Show some sort of loading indicator wh

[2018-10-08 07:08] nitinrgupta opened #419 "[UI/UX] Vertically centre align spread and rows in orderbook"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Orderbook should have the spread element vertically centre aligned and asks/bids growing from the centre accordingly

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: UI/UX

### Cu

[2018-10-09 14:04] nitinrgupta commented on #408
@eswarasai you want to knock this out as well along with the column header PR? It's a small issue though.

[2018-10-09 14:43] #416 closed

[2018-10-09 14:49] #388 closed

[2018-10-09 15:18] travisdmathis opened #423 "[BUG] Wallet History has erroneous transactions"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-10-10 11:32] nitinrgupta opened #425 "[UI/UX] Avoid showing "Loading" text during initial load on Sim exchange for order book"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
To have consistent loading screen in sim exchange

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: UI Bug

### Current Behavior
[comment]: # (Describe what actually happened.)
<im

[2018-10-10 11:37] eswarasai commented on #425
@nitinrgupta -- That's a bit of refactor in order to achieve the `Skeleton` mode if I'm not wrong. Hence went with the route of just adding a text at the moment to avoid the component crashing during loading especially when the order book API fails while fetching the data. It helps if you can attach a design or something on what's the expected behaviour so that we can understand the amount of work

[2018-10-10 11:43] nitinrgupta commented on #425
@eswarasai Like I mentioned in the expected behaviour, all the sections should look similar to have a visual consistency.

Here's a mock to understand better what I'm expecting
![group 59](https://user-images.githubusercontent.com/4952395/46734045-b56d9180-ccaf-11e8-955f-377acca10979.png)

[2018-10-10 18:53] pelsasser commented on #414
@eswarasai - any status on this #413 ?

[2018-10-12 20:21] #400 closed

[2018-10-12 23:17] perfectmak commented on #423
Investigated this issue and the erroneous zero transactions seem to appear when filling an order (either buying or selling).

Further investigation shows it is most likely an issue with MARKET.js in the logic of how CollateralEvents is being computed [here](https://github.com/MARKETProtocol/MARKET.js/blob/develop/src/contract_wrappers/ContractWrapper.ts#L633):
`type: input.name === 'depositTokensF

[2018-10-12 23:34] perfectmak opened #429 "[BUG] Wrong URL for 'View in etherscan' for Wallet History of the SimEx"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-10-13 02:04] pelsasser commented on #423
thanks for digging into this @perfectmak! I will take a look at it next week.

[2018-10-15 09:58] #429 closed

[2018-10-15 12:46] pelsasser opened #431 "[Collateral] Batch transactions for Approve and Deposit"
### User Story
As a user, having to sign two transactions for a deposit is painful

### Why Is this Needed?
*Summary*: It seems that web3 1.0 may allow us to batch these transactions, it may have to happen in MARKET.js and not in the dApp, TBD.

### Description
*Type*: Feature

### Solution
*Summary*: Find solution to batch transaction call in new web3 version

[2018-10-15 13:39] pelsasser commented on #423
@perfectmak - correct, certainly a bug in MARKET.js.  Opening the issue there.

[2018-10-15 13:48] pelsasser commented on #423
@perfectmak @travisdmathis - while this is certainly a bug, we do have to think about how we want to handle this.

For example, I deposit 100 tokens, I trade and that locks 10 tokens, my balance is now 90.  How do we want to show this information in the wallet panel?

cc @nitinrgupta

[2018-10-15 14:36] #414 closed

[2018-10-15 16:16] eswarasai commented on #431
Ref: https://web3js.readthedocs.io/en/1.0/web3-eth.html?highlight=batch#batchrequest

[2018-10-16 15:36] nitinrgupta commented on #389
Decided to remove the collateral token on `Qty` for time being over the Dev call to avoid the confusion w.r.t contracts being traded and not the actual collateral token.
cc: @eswarasai @pelsasser

[2018-10-16 15:51] pelsasser commented on #389
:+1:

[2018-10-17 09:51] eswarasai commented on #389
@nitinrgupta -- Updated the PR. Feel free to review and comment on any other changes required. Thanks!

[2018-10-17 14:02] #373 closed

[2018-10-17 14:02] #399 closed

[2018-10-17 14:28] nitinrgupta opened #432 "[Sim exchange] Add Expiration and Balance of contract in the top bar"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Add Volume and Balance of a contract in the top bar of Sim exchange which might be useful data for the users to look at.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[2018-10-18 13:46] #389 closed

[2018-10-18 13:46] #419 closed

[2018-10-18 13:46] #425 closed

[2018-10-18 15:45] #413 closed

[2018-10-18 15:51] #405 closed

[2018-10-19 13:04] travisdmathis opened #437 "[BUG] When logged out and changing route to sim exchange app fails to handle requests"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:  Bug
When logged out of metamask and changing r

[2018-10-19 13:56] travisdmathis opened #438 "[BUG] When the store is being updated from various components I shouldn't lose my text in input fields"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-10-19 17:30] pelsasser opened #439 "Truncate wallet amounts in exchange"
### User Story
Too many decimals are confusing

### Why Is this Needed?
*Summary*: Easier to read

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Solution
*Summary*: Truncate to 4 decimal places
![image](https://user-images.githubusercontent.com/15096737/47234178-343e8a80-d392-11e8-8776-b1462a69f62a.png)

[2018-10-19 17:30] pelsasser commented on #439
See `Available to Trade`

[2018-10-19 17:43] pelsasser opened #440 "Create contracts and needed filters for public beta"
### User Story
As a user of the beta, I would like to be able to select from a few contracts that exemplify the different offerings of MP

### Why Is this Needed?
*Summary*: We don't wont too many contracts in the beta, gets complicated and cluttered

### Description
*Type*: Feature

### Current Behavior
Any contract deployed will show up in exchange beta, even ones that are have collateral tokens

[2018-10-19 17:51] pelsasser opened #441 "[UI/UX] Remove arrows on wallet actions"
### User Story
Arrows seem to add confusion

### Definition of Done
- [ ] remove arrows in wallet action buttons
https://cdn.discordapp.com/attachments/424805354547970049/502896619168071709/unknown.png

[2018-10-19 17:56] perfectmak commented on #441
@pelsasser, I can quickly knock this out.

[2018-10-19 18:05] pelsasser opened #442 "[Bug] production build throwing errors with deployment"
### User Story
![image](https://user-images.githubusercontent.com/15096737/47235656-e8daab00-d396-11e8-90d3-ce2b8af95774.png)

As a user attempting to deploy a contract using the production build at dev.dapp.marketprotocol.io an error is thrown as seen above.

### Why Is this Needed?
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:  Bug

![image](https://user-image

[2018-10-19 18:18] pelsasser opened #444 "Stepwise estimates in gas settings are hard for users to understand, implement linearly"
### User Story
as a user attempting to understand gas fees, the stepwise nature of the time estimates can be confusing

### Why Is this Needed?
*Summary*: time estimates are stepwise (IE jump from 3.2 min to .6min) with nothing in between, it would be better, it we created a linear reduction in time estimates as we progressed towards higher gas prices.  This is of course an approximation, but it s

[2018-10-22 12:19] nitinrgupta opened #445 "[UI/UX] Handle long numerical digits for balance in explorer page"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Handle long numerical digits for balance attribute in explorer grid view

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: UI bug

### Current Behavior
[comment]: # (Describe what

[2018-10-22 15:46] #441 closed

[2018-10-22 15:47] #303 closed

[2018-10-22 19:22] pelsasser opened #447 "[UI/UX] fix contract deployment steps"
### Description
Contracts now are deployed in a single tx, we need to fix the UI to better track this process vs the old UI flow which had 2 txs for deployment

### Definition of Done
- [ ] fix ui for single transaction flow

[2018-10-23 17:30] pelsasser opened #450 "[Bug] Wallet UI doesn't display values"
### User Story
As a trader on the dApp I have noticed that occasionally there is a bug (that I do not know how to reproduce) that shows no values in the wallet UI

![image](https://user-images.githubusercontent.com/15096737/47379005-f05fc400-d6b6-11e8-848b-47d460c35e57.png)

### Current Behavior
No values for Available To Trade / Deposit

### Expected Behavior
alues for Available To Trade / Deposi

[2018-10-24 08:43] nitinrgupta commented on #450
I also happened to notice this once. Not able to reproduce though.

[2018-10-24 09:10] nitinrgupta opened #451 "[Bug] Request Collateral button is not showing for users who haven't claimed their allocations yet"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
When user hasn't claimed their allocation of collaterals yet, we need to show the Request Collateral button for users to claim them and get started.

### Description

[comment]: # (Feature or Bug? i.e

[2018-10-24 15:37] pelsasser opened #455 "Fill Order Modal should display needed collateral to become locked."
### User Story
As a user I would like to be able to know how much collateral will be locked when I fill an order.

### Why Is this Needed?
*Summary*: Better UX

### Description
*Type*: Feature

### Current Behavior
No mention on fill order modal

### Definition of Done
- [ ] add information on collateral requirements to fill order modal

[2018-10-24 15:39] pelsasser opened #456 "[bug] Fill order modal button should only be allowed to be clicked once"
### User Story

After selecting an order to trade with and clicking the `Buy Order` button, it starts processing the transaction, but doesn't disable the buy order button

[2018-10-24 15:43] pelsasser opened #457 "[bug] hide wallet doesn't allow wallet to be "unhid""
### User Story

When I click Hide Wallet, I cannot re-expand the wallet
<img width="298" alt="screen shot 2018-10-24 at 9 41 56 am" src="https://user-images.githubusercontent.com/15096737/47443295-3bd6a880-d771-11e8-8f9f-1f81c61d4736.png">

[2018-10-24 15:44] nitinrgupta commented on #457
@pelsasser what resolution is this on?

[2018-10-24 15:51] pelsasser opened #458 "dApp home screen / hero should be modified to push people to the exchange"
### User Story
As a user of the dApp, I really am much more excited about the exchange, than deploying contracts!

### Why Is this Needed?
*Summary*: Push users to the best part!

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behavior
Hero pushed users towards contract deployment

### Solution
[comment]: # (Provide a summary of the solution and a task l

[2018-10-24 15:51] pelsasser commented on #457
1200 x 821

[2018-10-24 15:54] nitinrgupta commented on #457
This has been taken care in my upcoming `ui-fixes` PR. Will link this when I create the PR

[2018-10-24 20:39] perfectmak commented on #451
@nitinrgupta @travisdmathis This can be closed now right?

[2018-10-24 20:45] pelsasser opened #460 "Refine notifications for confirmed transactions in exchange"
### User Story
Currently our notifications are a bit unrefined, some have long URLs that could be better as links, and some say things are completed that are still being mined.

[2018-10-24 20:49] pelsasser opened #461 "Add price cap and price floor of contract to top bar in exchange"
### User Story

As a user, I don't really like looking at the contract explorer, its confusing and I would rather see everything in a single view

### Description
<img width="1400" alt="screen shot 2018-10-24 at 2 45 43 pm" src="https://user-images.githubusercontent.com/15096737/47460436-bae0d680-d79b-11e8-9a83-0d2150411fae.png">

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### S

[2018-10-24 20:54] pelsasser opened #462 "dApp nav bar scrolls with exchange and is large"
### User Story
As an exchange user, the nav bar isn't as important to me as seeing the exchange, especially when scrolling

### Why Is this Needed?

*Summary*: Screen space is at a premium, so perhaps we can revise this.