[2018-01-20 16:54] pelsasser opened #1 "Build out MARKET contract explorer"
The contract explorer should provide users with a searchable and sort-able table of deployed MARKET contracts.

Some bare bones [code](https://github.com/MarketProject/Dapp/blob/master/src/contracts/ui/loadcontractsbutton/LoadContractsButtonActions.js#L33) has been written to demonstrate the import contract meta data that needs to be displayed in the table.  Keep in mind that this piece of code is

[2018-01-20 17:12] pelsasser opened #2 "Create MARKET contract deployment form"
The contract deployer will provide users an easy way to deploy MARKET contracts and select the needed variables in order to create reasonable contract specifications.

We need a nice way to explain the variables that make up the constructor for these contracts.

The basic form is [created](https://github.com/MarketProject/Dapp/blob/master/src/contracts/ui/deploycontractform/DeployContractFormActio

[2018-01-21 21:49] pelsasser commented on #2
The basic form is [created](https://github.com/MarketProject/Dapp/blob/master/src/contracts/ui/deploycontractform/DeployContractFormAction.js) and working.

We need to clean this up considerably.  Here are the tasks that are associated with this issue

- Clean up existing code to bring into best practice with react framework
- Create alert upon successful deployment of the contract
- Create place

[2018-01-23 12:41] pelsasser opened #3 "Create animation welcome / splash screen while web3 is loading prior to launcing Dapp"
Dapp should not load until web3 has initialized, we should create a nice animation alerting users that we are attempting to connect / loading.

Some cool examples of things we like

- https://app.radarrelay.com/
- https://0xproject.com/portal

[2018-01-23 12:50] pelsasser commented on #3
@KamesCG - would love it if you wanted to take a crack at this - really enjoyed some of your previous mockups

[2018-01-23 13:06] nitinrgupta commented on #3
I'd love to work on this! But I'm traveling in the coming weeks 😕

[2018-01-23 14:56] viktorlarsson commented on #3
Is it suppose to be animated using the M-logo?

[2018-01-23 15:11] pelsasser commented on #3
@viktorlarsson - currently all we have is the basic artwork in .ai and .png formats

[2018-01-23 18:01] tarekskr commented on #3
I've already started and should have an animated gif ready in a couple of hours.

[2018-01-23 19:48] tarekskr commented on #3
Just created a pull request. Please let me know what you think.

[2018-01-23 20:11] pelsasser commented on #3
@tarekskr I like the animation!

Can we make the background dots do something as well to make it a tad more dynamic? Maybe the background dots could fade in and out asynchronously (not all of them at the same time, but all kind of moving dynamically)  or grow and shrink in the same fashion?

And then integrate the whole thing into the home screen so we have the animation until web3 is loaded and t

[2018-01-23 20:22] tarekskr commented on #3
@pelsasser I actually like your async fading suggestion as it's a bit more subtle. I'll give it another shot.

[2018-01-23 22:28] cryptomental commented on #3
Looks cool already, I am keen on seeing this with fading as well -)

[2018-01-23 22:57] pelsasser commented on #3
Do you have the [ethereum-bridge](https://github.com/MarketProject/ethereum-bridge) running?  if not you will not be able to run the migrations and deploy the contracts.

Following the steps in the [readme](https://github.com/MarketProject/Dapp/blob/master/README.md) seems to currently be working for people

let me know if not - also if you would like to hop over to our slack channel I can assist

[2018-01-23 23:39] eswarasai commented on #3
@tarekskr -- Great work w.r.t. to the animation. I have a suggestion though with the fading implementation. Right now the fading is barely visible. To make it more prominent, maybe you can try fading the outer dots in a circular motion, so that it actually looks like a circular loader with `M` transition as it is right now in the center. I'm curious to see this in action.

cc @pelsasser

[2018-01-24 00:52] tarekskr commented on #3
Thank you @pelsasser! It was my bad, I completely overlooked the `ethereum-bridge` requirement. All seems to be working great now at my end and I just pushed the latest changes.

@eswarasai Thank you! I've actually had a very similar idea to yours at first and I've tried several options around this theme. What I found was that anything that's not subtle wasn't coming off as an elegant solution. Th

[2018-01-24 03:17] poffdeluxe commented on #2
Hey there @pelsasser, I'm looking at maybe claiming this and picking it up. I had a couple of questions though:

1. What all did you have in mind as far as "best practices" for a react app?
2. What type of sanity checks does the app need? I assume that price floor has to be lower than price cap and they both have to be numbers (along with some of the other values) but what other validation is need

[2018-01-24 05:30] pelsasser commented on #2
Hey @poffdeluxe - thanks for the interest in our project!

I am just learning web development best practices myself, so would like someone who is up to speed in React and Redux to do this work in a manner that is up to industry standards, I am not sure I can be super specific on that as of yet.  If you have experience working on OSS and web applications I am sure it will work out just fine.

I thi

[2018-01-24 05:53] eswarasai commented on #2
@poffdeluxe -- Just to add to @pelsasser answers,

-- We've already taken care of this. If you feel like there's something better we can do than the current implementation/practice, feel free to escalate

Let us know if you have any further questions w.r.t. to the task. Thanks for your interest

[2018-01-24 14:12] pelsasser commented on #3
@tarekskr - I like it!  no worries about the start up issues.

I am not sure the loading process is exactly as I envisioned it would be (my fault on spec, you did exactly as I asked) - but the art is great.

We can always tweak all of that now that the artwork is done.  Maybe the animation could just live on the main index screen for now or something along those lines.

@eswarasai - any further co

[2018-01-24 14:33] poffdeluxe commented on #2
Sounds great, thanks for the clarification, y'all.

I just submitted the claim on Gitcoin (should come through here in a bit). Workin on settin up my dev environment so I can get going. I'm in the Gitcoin slack as @poffdeluxe btw, if y'all are in there.

[2018-01-24 14:38] pelsasser commented on #2
@poffdeluxe - awesome. You have an slack invite in your email for our Slack as well, may get a much faster response time to questions in there.

[2018-01-24 15:02] eswarasai commented on #3
@tarekskr -- Everything looks good to me except for the part that, until Web3 is initialised User would be just viewing the Loader. Can you make the experience look similar to this -- https://0xproject.com/portal? We just don't want to restrict the User to wait until the Web3 is initialised because there might be few pieces of application which do not require the Web3 to be initialised

[2018-01-24 15:49] tarekskr commented on #3
Thank you guys for all your feedback!

@eswarasai That was already the case in your current implementation, except that nothing was being shown to the user while Web3 was being initialized. I am guessing further implementing this would require significant changes to the current architecture of App.js, like having access to the current Web3 loading state, and deciding which parts of the app are ava

[2018-01-24 15:57] pelsasser commented on #3
thanks @tarekskr - appreciate the help and hope you are interested in more work in the future, if you want to send me an email I would be happy to add you to our slack and get you the draft white paper which explains the project a bit more.  We have lots to accomplish and can always use the help!

I am releasing payment now.  Have a good day!

[2018-01-24 16:00] tarekskr commented on #3
Thank you @pelsasser . My email is tarekskr [at] gmail.

[2018-01-25 13:34] #3 closed

[2018-01-25 14:15] pelsasser opened #5 "Set up docker environment"
Create docker environment to include the [ethereum](https://github.com/MarketProject/ethereum-bridge) bridge

This has successfully been done for our solidity code base which can be found [here](https://github.com/MarketProject/MarketProtocol)

[2018-01-25 14:16] pelsasser opened #6 "Set up test framework and Travis-CI"
We need to set up some basic test environment to be used with Travis.

Seems like Mocha and Chai will be the way to go and in line with the truffle test suite we are using for our solidity code base.

Creating the first basic test and needed folder structure will be helpful to allow others to start working towards more built out test suite.

@eswarasai - anything to add here?

[2018-01-25 15:46] pelsasser opened #7 "create MARKET oracle test query page"
Curently, we have a solidity smart [contract](https://github.com/MarketProject/MarketProtocol/blob/master/contracts/oraclize/OraclizeQueryTest.sol) that allows users to submit a [Oraclize.it ](http://www.oraclize.it/) query and then retrieve results when the query has completed.

A very basic [implementation](https://github.com/MarketProject/Dapp/blob/master/src/actions/testQuery.js) has been made

[2018-01-25 15:58] pelsasser commented on #7
http://docs.oraclize.it/ - some helpful docs here

[2018-01-25 16:48] vaibhavchellani commented on #7
@pelsasser i am very interested in working on this , although i would love a bit more information about what you want to achieve .

[2018-01-25 16:51] perfectmak commented on #7
@vaibhavchellani I could help along with this too.

[2018-01-25 17:07] pelsasser commented on #7
@vaibhavchellani  - I just sent an invite to our slack - happy to answer any more questions you have there or here I can also send you the project white paper so maybe you can get an idea of what we are attempting to achieve.  @perfectmak is also in our slack and can help out too!

[2018-01-25 17:08] vaibhavchellani commented on #7
@perfectmak sounds great !

[2018-01-25 22:21] pelsasser opened #8 "Create functionality to allow users to copy specifications from already deployed contracts"
The deploy contracts page will have several fields that can be re-used between similar contracts.  We could create functionality that would allow easy re-deployment of contracts with modified specs.

- quick click to created longer dated expiration
- ability to create new range (`PRICE_CAP` and `PRICE_FLOOR`) based on current oracle pricing

[2018-01-26 15:43] pelsasser opened #9 "Contract Explorer Page - BASE_TOKEN to show name and symbol"
Currently the contract explorer just reports the address of the `BASE_TOKEN` this can be improved by attempting to grab `name` and `symbol` fields from the addresses to display to users.

Sorting and filtering on these fields would allow users to see all contracts tradeable with a specific base token.

[2018-01-26 20:40] pelsasser opened #10 "Create MARKET contract reverse lookup by address"
Currently we have a contract explorer that allows users to find a white listed MARKET contract with searchable fields.  However we need to create a page that allows a user to enter in a contract address and retrieve the contract specs and if it is a white listed (valid) contract.

[2018-01-26 21:29] pelsasser commented on #7
whoa...Jedi Master @owocki about to throw down???

[2018-01-26 21:46] owocki commented on #7
just testing the new 'express interest' feature ;)

[2018-01-26 21:57] pelsasser commented on #7
I assumed it was something like that....

maybe one day will get a PR from the jedi himself

[2018-01-27 00:56] #5 closed

[2018-01-27 12:26] pelsasser opened #12 "Contract Deployer: Create estimated cost for future oracle queries to allow creator to correctly fund initial deployment"
When deploying `MarketContractOraclize` the user must pre-fund the contract with enough ETH to pay for future gas costs of the oracle queries and callbacks.

We should create a way of estimating the expected pre-funding needs for this using the supplied query, query frequency, and duration of the contract.

[2018-01-27 13:57] arlopezg commented on #6
Hey there! I'm interested in taking a jab at this one. Any specifics/preferences that I should know about?

[2018-01-27 14:33] pelsasser commented on #6
Hello @arlopezg -

Nothing to crazy specific, just wanted to get all the needed infrastructure in place to start having a little easier time integrating PRs as we start getting more people involved on the project.

It may help to reference the set up of our [solidity](https://github.com/MarketProject/MarketProtocol) code base for getting Travis working correctly with the needed components.

I will

[2018-01-28 23:34] pelsasser commented on #7
hey @vaibhavchellani and @perfectmak any progress on this or questions I can help answer?

[2018-01-29 07:15] perfectmak commented on #7
I haven't done work on this yet. Was looking to collaborate with
@vaibhavchellani, but I'll work on it and should send something in tonight
or latest tomorrow.

On 29 Jan 2018 00:34, "Phil Elsasser" <notifications@github.com> wrote:

hey @vaibhavchellani <https://github.com/vaibhavchellani> and @perfectmak
<https://github.com/perfectmak> any progress on this or questions I can
help answer?

—
You

[2018-01-29 07:29] vaibhavchellani commented on #7
Hey @perfectmak , I was reading the oraclise docs and finally have gone through it all . How do you think we should start ?

[2018-01-29 07:29] vaibhavchellani commented on #7
Hey @perfectmak , I was reading the oraclise docs and finally have gone through it all . How do you think we should start ?

[2018-01-29 07:40] jccguimaraes commented on #6
hey guys, how's the progress on this issue? need any help?

[2018-01-29 14:43] pelsasser commented on #6
hello @jccguimaraes thanks for your interest!

I will let @arlopezg let you know, but I haven't heard anything yet.  I will send you an invite to our slack where a lot of the developers working on issues are also communicating.

[2018-01-29 14:44] pelsasser commented on #6
@jccguimaraes - if you want to shoot me an email address, I can get you the slack invite, or you can sign up [here](https://launchpass.com/marketprotocol)

[2018-01-29 14:47] pelsasser commented on #7
thanks guys!

there are a lot of docs to get through that is for sure.  I am happy to throw some extra ETH into the pot since you guys are collaborating and I am sure whatever comes out will be that much cooler as a result.

[2018-01-29 16:46] #2 closed

[2018-01-29 16:50] pelsasser opened #14 "Contract Deployer: fix issues with validating Cap Price and Floor Price"
Currently, when a user enters an invalid Floor Price, but then alters the Cap Price so that the Floor Price is now valid there is no refresh of the values and the error message of an invalid price still shows up.

We need to re-check these values upon either being updated.

[2018-01-29 16:51] pelsasser commented on #14
@poffdeluxe

[2018-01-29 17:47] #1 closed

[2018-01-30 04:25] vs77bb commented on #3
Hi @pelsasser am I right that this one should be closed out? CC @owocki

[2018-01-30 13:26] pelsasser commented on #3
@vs77bb yep, issue is closed and funding released ~5days ago.

[2018-01-30 15:39] arlopezg commented on #6
Hey there @pelsasser - I am currently having connectivity issues at home, if @jccguimaraes wants to take the job I have no problems as it seems that my ISP will take quite a while to fix my problem. Sorry about it.

[2018-01-30 17:18] pelsasser commented on #6
thanks for the heads up @arlopezg. No problem and I hope you will consider working on future issues once your ISP problems are resolved. @jccguimaraes sounds like he will take it over.  Thanks!

[2018-01-30 17:25] pelsasser commented on #7
@vaibhavchellani @perfectmak do we think we can get this done by the end of week? Really hoping to get the main functionality of everything but the sim-exchange completed by then.  This is the last major piece of that plan

[2018-01-30 22:44] arlopezg commented on #6
Sounds nice. I will look forward to work with you guys!

[2018-01-31 09:08] vaibhavchellani commented on #7
Hey @pelsasser . @perfectmak and I have been coordinating and working on the issue.  I think we have it figured out and are working out tasks . I really hope we get this done by the weekend .

[2018-01-31 09:19] perfectmak commented on #7
@pelsasser, Yes, we should be done with this before the end of the week.

[2018-01-31 12:06] pelsasser commented on #7
Sounds great thanks guys!

[2018-01-31 12:41] pelsasser opened #15 "Contract Deployer : add deployed address upon successful contract creation and deployment"
Currently there is no way for a user to easily get the address if the contract is successfully deployed - possibly adding this to the message would be helpful or displaying in some other way.

[2018-01-31 17:11] vs77bb commented on #7
@perfectmak @vaibhavchellani Either of you mind clicking 'Start Work' on this task? That'll move this task to the appropriate section on new Gitcoin 🙂

[2018-01-31 17:25] vs77bb commented on #3
@owocki Bug we should look at here

[2018-01-31 17:26] perfectmak commented on #7
Okay, I'll do that @vs77bb

[2018-01-31 17:43] owocki commented on #3
just put in a fix / updated the issue explorer at https://gitcoin.co/funding/details?url=https://github.com/MarketProject/Dapp/issues/3

thanks for the bug reoprt

[2018-01-31 18:34] pelsasser commented on #3
Leave it to us to break things!

[2018-01-31 21:09] #14 closed

[2018-01-31 21:54] poffdeluxe commented on #15
I'll take a stab at this. Think adding the address to the message would be easy. Could also have it be a hyperlink to etherscan, too, if that would be helpful

[2018-02-01 17:44] pelsasser commented on #6
@jccguimaraes  - any updates on this?

[2018-02-01 21:21] pelsasser commented on #15
Looks like there is a small bug in this @poffdeluxe - the address of the deployed contract is always the same!  I haven't dove into the code yet to find out what, but if you deploy more than a single contract you will see the addresses are the same

[2018-02-01 21:22] poffdeluxe commented on #15
Weiiiiiiiird. I'll take a look

[2018-02-01 21:33] pelsasser commented on #7
reopening because of expected updates from @vaibhavchellani - merged a little too soon on my part

[2018-02-02 14:25] pelsasser commented on #15
fixed #21

[2018-02-02 14:25] #15 closed

[2018-02-02 14:27] pelsasser commented on #8
This could be as simple as selecting a deployed contract in the explorer and hitting a button that says `copy specifications to deployer` or a right click drop down with something similiar

[2018-02-02 17:12] pelsasser opened #22 "Contract Deployer : Add option for user to validate that current price from oracle is inside of bands upon contract creation"

[2018-02-02 17:34] arkgast commented on #6
Hey @pelsasser do you mind if I take care of this?

[2018-02-02 18:00] pelsasser commented on #6
@arkgast - sounds good

[2018-02-02 18:53] pelsasser opened #23 "Guided Contract Deployer"
## Problem
The current contract deployment screen has too much text explaining the variables.  It makes it hard for people who already understand the variables to use, and doesn't do a good job of walking a user through the process of contract creation who isn't familiar with the variables.

## Solution
Split this into two different options.
1. Quick Contract Deploy (for experience users)
2. Guide

[2018-02-02 18:53] pelsasser commented on #23
@perfectmak

[2018-02-02 18:58] pelsasser commented on #22
this is rolled into #23

[2018-02-05 22:13] pelsasser opened #28 "Modify web3 interaction to allow for use of MetaMask"
# Problem
Our current implementation correctly allows for `MarketContract` deployment and test query interactions when using truffle or ganache environments for a web3 provider.  The functionality does not work the same way when we attempt to use the injected web3 provider with MetaMask.  We need to fix these calls to allow for interaction with MetaMask as we attempt to move from a local testnet t

[2018-02-05 22:25] pelsasser commented on #7
Hello @vaibhavchellani - do you still plan on working on this? Please let me know the timeline if so.  Thanks!

[2018-02-06 03:27] themandalore commented on #28
On the first issue, is there a problem with creating a user-contract in the solidity code?  It could be a contract that executes all 3 functions in one function call.  And then on the second, Metamask is weird.  Have you guys considered just using Infura as the provider?

[2018-02-06 04:05] pelsasser commented on #28
For the first issue of deploying contracts - it has to be done in steps due to gas constraints and the size of our contracts

Haven’t considered infura yet.

[2018-02-06 04:44] themandalore commented on #28
Infura is pretty sweet, not that you don't get a warning, but you can skip the whole async issue when you use Infura too, which is pretty nice for the code.  But these contracts are pretty huge and possible over the block gas limit.  I don't know if the subsequent calls would necessarily be the solution anyway, I think there's a big benefit here if you use some Interfaces to reduce the gas cost.

[2018-02-06 06:49] KennethAshley commented on #28
I have fixed the `deploy.js` issue. Looking at the `testQuery.js issue`.

[2018-02-06 13:18] pelsasser commented on #6
@arkgast - looks like you need to "start work" on the gitcoin issue for me to release the bounty.

Otherwise I can claw back the expired funds and am happy to pay your directly.  Please let me know how to proceed so you get your ETH!

Thanks again!

[2018-02-06 13:18] #6 closed

[2018-02-06 13:21] pelsasser commented on #28
@themandalore - lets chat a bit about.  what is your email?  I can be reach at phil@marketprotocol.io

@KennethAshley - awesome, thanks for knocking this out!

[2018-02-06 16:53] eswarasai opened #29 "[Sim Exchange] Create UI for Trades"
# Description
See the `exchange` branch which has the skeleton for the Sim Exchange.
The task is to build the UI which is similar to the [Etherex Trades](http://etherex.github.io/etherex/#/trades) but on par with the [Ant Design](https://ant.design).
The UI Component Architecture should be similar to that of [Etherex Trades Component](https://github.com/etherex/etherex/blob/master/frontend/app/com

[2018-02-06 19:08] eswarasai opened #30 "[Sim Exchange] Create UI for Wallet"
# Description
See the `exchange` branch which has the skeleton for the Sim Exchange.
The task is to build the UI which is similar to the [Etherex Wallet](http://etherex.github.io/etherex/#/wallet) but on par with the [Ant Design](https://ant.design).
The UI Component Architecture should be similar to that of [Etherex Wallet Component](https://github.com/etherex/etherex/blob/master/frontend/app/com

[2018-02-06 22:06] KennethAshley commented on #28
@pelsasser I was able to fix the `deploy.js` issue. the `testQuery.js` issue seems to be a bit more intense. Just a heads up.

[2018-02-06 23:08] pelsasser commented on #28
Thanks @KennethAshley for the update, appreciate you digging into it.

[2018-02-07 00:57] poffdeluxe commented on #29
Gonna start taking a quick look at this. Seems fairly straightforward.

Just for confirmation: @eswarasai, this issue includes the form + Asks List + Bids List

[2018-02-07 11:52] cryptomental opened #31 "Test Query: eth-bridge exits and Dapp throws 'Objects are not valid as a React child' when formula is not supported"
'Happy path' for WolframAlpha query works fine, but for a not supported formula eth-bridge exits and Dapp throws:

![image](https://user-images.githubusercontent.com/20819151/35914746-af1bd6b4-0c04-11e8-8a05-791bce6441a2.png)

Steps to reproduce:

Introduction -> Oracle Data Source -> Oracle Query -> Select 'WolframAlpha' Datasource

Enter a not supported query, then

Eth-bridge error log:

[code]

[2018-02-07 13:42] KennethAshley commented on #28
@pelsasser what would be the best way to contact you?

[2018-02-07 13:54] pelsasser commented on #28
@KennethAshley - just sent you a slack invite.

[2018-02-07 14:09] eswarasai commented on #29
@poffdeluxe -- Yes. That's correct.

[2018-02-07 14:11] arkgast opened #32 "Add test coverage"
Since the test environment is setup as a next step we can implement test coverage to improve the existing test and write a better ones.

## Tasks to do
- [x] Configure jest coverage options.
- [x] Connect with https://coveralls.io.
- [ ] Improve and write new tests to achieve at least 90% of coverage.

![img](https://cdn.pbrd.co/images/H6XE2nC.png)

[2018-02-07 17:06] pelsasser commented on #28
@terryRE - I noticed you also started work on this issue from the gitcoin website.  @KennethAshley has ran into some trouble trying to solve the `testQuery.js` side of this issue. Have you had any success?

[2018-02-07 22:16] pelsasser commented on #7
Closing this - haven't heard back from @vaibhavchellani

[2018-02-07 22:16] #7 closed

[2018-02-09 00:05] pelsasser commented on #28
Hey all - sounds like the issue in the `testQuery.js` page is a known issue

https://github.com/MetaMask/metamask-extension/issues/2393

Looks like we are going to just attempt a solution to poll for our result for the time being as a workaround.

[2018-02-09 12:41] pelsasser commented on #32
Hey @arkgast - still planning on fleshing out this issue a bit more? Happy to stake it once you have

[2018-02-09 14:15] arkgast commented on #32
Yeah, totally. Today I'll work on this issue.

[2018-02-09 20:37] pelsasser commented on #28
funding has been added to the MetaMask issue so hopefully this can get pushed forward.

[2018-02-10 08:13] eswarasai commented on #29
@KennethAshley -- Thanks for the quick turnaround. If you're interested, feel free to wrap the issue #30 as well.

@pelsasser -- I've already merged the PR. Please release the funds for this issue.

[2018-02-10 14:17] pelsasser commented on #29
Thanks @eswarasai and @KennethAshley for getting this done together, funding has been released!

[2018-02-10 14:17] #29 closed

[2018-02-11 13:56] pelsasser commented on #28
@KennethAshley - I know your working on some other issues for us (which are looking great), but would like to wrap this up.

Can you let me know your plans for this so we can either create a PR with the work already completed and get someone else to work on the `testQuery` piece of it, or let me know your expected timeframe for it?

Appreciate all the work your putting in for us across the board

[2018-02-11 14:14] KennethAshley commented on #28
@pelsasser I was having a bit of trouble trying to figure out polling, not sure if its due to a bug or my limited knowledge. So ill give it another go today, maybe for a 2 or 3 hours and if i can't figure it out it might be best to pass it along. Just so we can get this figured out sooner then later.

[2018-02-11 14:28] pelsasser commented on #28
@KennethAshley thanks for the quick reply.  No problem either way.  Let me know and thanks again!

[2018-02-11 14:55] eswarasai commented on #28
@KennethAshley -- Can you post the issue on our Slack Channel `#dev-dapp` so that we can take a look and see if we can be of any help here? Thanks.

[2018-02-11 15:02] lazaridiscom commented on #28
@KennethAshley , @eswarasai , @pelsasser , please try this tiny fix, to see if your problem is related to this:

https://github.com/lazaridiscom/metamask-extension/commit/58a554b1684fd78775b449b8f2b5d9635d30b69b

[2018-02-12 02:47] KennethAshley commented on #28
@lazaridiscom this fixed the problem. unfortunately we would have to wait for a new metamask release for our problem to fixed for the public.

[2018-02-12 12:54] pelsasser commented on #32
@arkgast - how is this progressing?

[2018-02-12 13:05] lazaridiscom commented on #28
@KennethAshley , this bug has a top-priority within the MetaMax project, so hopefully they will react fast and deploy a public fix.

Just ensure that you (and @pelsasser ) **confirm the fix within**:

* https://github.com/MetaMask/metamask-extension/pull/3224
*and MetaMask/metamask-extension#2393

So the Team / Core-Devs does not oversee this.

[2018-02-12 16:26] pelsasser opened #35 "Create message requesting user unlock Meta Mask when dApp is loaded"
Currently, when we load the dApp there is no check to ensure that the user has unlocked Meta Mask.

I believe this can be done with checking the default account to see if it defined.

`web3.eth.defaultAccount == undefined`

If meta mask is locked we should create Ant design message asking the user to unlock MetaMask

[2018-02-12 16:31] pelsasser opened #36 "Test Query : Create messaging to user letting them know their transaction has been submitted"
The `Test Query` page currently doesn't let the use know their transaction has been submitted.

We should create functionality similar to the `Contract Deploy` screen, but here we return the pending transaction hash to the user and a link to etherscan.

Ideally, the application should know what network (rinkeby, live) we are deployed to and give the correct link based on that (https://rinkeby.ethe

[2018-02-12 18:40] #30 closed

[2018-02-12 19:56] cryptomental commented on #35
I will give it a try ;-)

[2018-02-13 13:08] cryptomental commented on #35
Thanks a lot, I did not notice. Will have a look at the branch.

On Tue, Feb 13, 2018 at 1:21 PM Phil Elsasser <notifications@github.com>
wrote:

[2018-02-13 13:13] pelsasser commented on #35
@cryptomental - here is where we check the web3 provider https://github.com/MarketProject/Dapp/blob/3784323bd32b651ed4a95b05241c0d5ee1ef4889/src/util/web3/getWeb3.js#L20

[2018-02-13 13:35] pelsasser opened #37 "Contract Deployer : calculate estimated amount user must stake contract with for future query costs"
When deploying a contract, the user must pay enough ETH into the contract in order to fund future queries from Oraclize.it and the gas costs associated with those queries.  Any unused amount is reclaimable by the creator upon contract expiration.

The costs of each query is set by [Oraclize.it pricing](http://docs.oraclize.it/#pricing)  and we also must add the needed gas for the `_callback()` fun

[2018-02-13 15:43] perfectmak commented on #31
@cryptomental this has been fixed in #26 .
As soon as it is merged, we can test and see if this issue should be closed.

[2018-02-13 16:19] cryptomental commented on #35
Ok that works! One step further https://github.com/cryptomental/Dapp/commit/b60d0c9c5a08fe55c5fae46057ddd1f346c1e35a
Now I need to figure out how to render a nice message saying 'Please unlock MetaMask!'

[2018-02-13 17:00] cryptomental commented on #35
@pelsasser I used showMessage component and tested it locally on my MetaMask instance, please have a look if that works for you. I will paste a screenshot soon.

[2018-02-13 17:02] cryptomental commented on #35
![image](https://user-images.githubusercontent.com/20819151/36162920-0cefa666-10e8-11e8-822b-e0dee7ce3e4b.png)

[2018-02-13 17:08] cryptomental commented on #35
I can also reword the message if needed.

[2018-02-13 17:26] pelsasser commented on #35
@cryptomental  looks great to me will send a tip ;)

[2018-02-13 17:44] pelsasser commented on #32
@vivek any progress on tracking this issue down with the gitcoin bounty?

[2018-02-13 19:12] pelsasser commented on #28
@KennethAshley - oddly if you start a chrome browser fresh with the correct network already selected in MetaMask (from your previous session, prior to closing chrome).  All of the functionality works perfectly for both deploying contracts, and the test queries.

[2018-02-13 19:20] lazaridiscom commented on #28
@pelsasser , yes, this was reported so before. Once you change the network, the bug appears.

In any way: I cannot understand why you don't confirm the fix within MetaMask/metamask-extension#2393 and MetaMask/metamask-extension#3224 (@KennethAshley confirmed only here in this issue). A few people did, but the more the better.

[2018-02-13 19:46] pelsasser commented on #12
Apparently I cannot read and duplicated this issues in #37 - closing this one

[2018-02-13 19:46] #12 closed

[2018-02-13 20:29] pelsasser commented on #28
@KennethAshley feel free to submit work on gitcoin and I can pay this out.  You certainly did enough work tracking this down and researching the issues.

[2018-02-13 21:50] #23 closed

[2018-02-13 21:52] pelsasser commented on #23
@perfectmak please `submit work` on gitcoin so I can pay you! ;) nice work!

[2018-02-13 22:33] perfectmak commented on #36
Just to be clear on this.
While the result of the test query is loading, we should display the pending transaction hash to the user as a link to etherscan right?

[2018-02-13 22:44] perfectmak commented on #23
@pelsasser I submitted the work on gitcoin, but it seems the transaction failed. See transaction [here](https://etherscan.io/tx/0x0475f60747531db60d089b395111f832304d86aa879c886bb8db3bc8fffd5434).

And now the page on gitcoin is just stuck on this view:

<img width="1438" alt="screen shot 2018-02-13 at 11 43 41 pm" src="https://user-images.githubusercontent.com/3120013/36177986-c903e0cc-1117-11e8-

[2018-02-13 22:49] pelsasser commented on #23
Hmm - okay let me try and kill the bounty and pay you directly.

[2018-02-13 23:08] #28 closed

[2018-02-13 23:09] pelsasser commented on #36
Yep - that would be great.

[2018-02-13 23:19] pelsasser opened #40 "Guided Contract Deployer : TypeError on click Set Pricing Range with invalid fields"
![image](https://user-images.githubusercontent.com/15096737/36179388-5030577c-10d9-11e8-8a50-c8b5684bf507.png)

If you got to the new Guided Contract Deployer, and click Set Pricing Range without entering valid fields, an error occurs.

@perfectmak any chance you can take a look?

[2018-02-13 23:23] perfectmak commented on #40
Hmm... It looks like a web3 undefined error. That didn't happen before, I'll take a look.

[2018-02-13 23:24] pelsasser commented on #40
Got it - probably from some of the recent merges.  I think @eswarasai tried to warn me about this - sorry

[2018-02-13 23:33] pelsasser commented on #40
@perfectmak - it looks like this only happens in an incognito window.  Just tested in a normal chrome window, and the error doesn't happen

[2018-02-13 23:37] perfectmak commented on #40
Hmmm... So is there a way we can fix this for incognito? Because Ideally the check:
`if (!web3) callback()` should prevent the undefined error.

[2018-02-14 00:40] pelsasser commented on #40
I dont understand why it isn't preventing it to be honest.

[2018-02-14 15:04] cryptomental commented on #31
@perfectmak great news, I will test the fix tomorrow.

[2018-02-14 20:10] pelsasser opened #41 "Contract Deployer : Verify variables such as PRICE_FLOOR and PRICE_CAP are integers"
Update validator functions to ensure that these variables are integers in `DeployContractField.js`

Also should check that values are positive ( >= 0)

If a user enters a floating point create error messaging to alert them.

[2018-02-15 14:42] pelsasser opened #42 "Create dApp Welcome Screen"
The main index screen briefly displays an animated .gif while loading - but once web3 has been initialized (which is very quickly) there is nothing else on this screen.

We should design a nice welcome screen with links to the different functionalities  available in the dApp.  Happy to let someone take some artistic license to make this visually appealing, perhaps with some animations when links a

[2018-02-15 15:05] pelsasser commented on #32
Would like to open this up to anyone to work on since haven't heard from @arkgast in a bit.  Feel free to jump in

[2018-02-15 15:13] pelsasser opened #43 "Guided Contract Deployer - Clean up copy"
Currently the text for the Guided contract deployer when selecting an oracle looks like

![image](https://user-images.githubusercontent.com/15096737/36263573-b75bb8ac-1227-11e8-98e8-9e4a4b13bc73.png)

We should clean it up to look like

![image](https://user-images.githubusercontent.com/15096737/36263606-c8765e30-1227-11e8-9f88-d095bfb2e524.png)

If someone has a nicer idea on how to make it clean

[2018-02-15 15:45] KennethAshley commented on #42
I'm not much of a designer but I'd happy code any designs up!

[2018-02-15 15:54] KennethAshley commented on #43
Might have to implement site wide typography styles.

[2018-02-15 16:05] cryptomental commented on #31
I could not reproduce it, looks like it was indeed resolved.

[2018-02-15 16:05] #31 closed

[2018-02-15 17:19] #41 closed

[2018-02-15 20:59] pelsasser opened #46 "Guided Contract Deployer - Re-order deployment steps"
Steps for the Guided Contract Deployer should be modified / reorganized to move the data source closer to naming and before worrying about pricing

1. Name
2. Data Source
3. Pricing
4. Expiration

[2018-02-15 22:14] arlopezg commented on #42
Hey there! Any ideas or references to take inspiration from?

[2018-02-16 03:14] jschiarizzi commented on #42
Okay, I really love the gif of connecting the dots in the M on the homepage. Here's a quick mock up. Background could be better, maybe a duotone of a crowded market in black + your blue.  Possibly randomly add 20 points and connect them each one at a time. Click anywhere would get removed. And then add some nice buttons in white to it.  you're going to have to provide some more detail about the fu

[2018-02-16 06:18] eswarasai commented on #42
@jschiarizzi -- I think the requirements here are to create a landing page for Dapp to explain/showcase the features and how they work.

I'd recommend you to clone this repo and set it up locally to see the blank Home screen we'd like to get it designed. Feel free to join our [Slack](https://slack.marketprotocol.io/) channel to keep continuing this conversation. Thanks for your interest.

[2018-02-16 08:20] cryptomental commented on #9
Yesterday I came up with an idea how this could be implemented. I will try to finish today and open a pull request.

[2018-02-17 05:07] amhunt commented on #42
@pelsasser

Some current work - I can work with people on content and a more thorough design. Any initial thoughts on direction? Should it be more than one screen's worth of content? Or like this initial pass, all visible on the main page:
<img width="1054" alt="screen shot 2018-02-16 at 9 25 02 pm" src="https://user-images.githubusercontent.com/12832034/36338167-4dab77d2-1365-11e8-8cd1-50946cae4b

[2018-02-17 10:45] perfectmak commented on #32
This should be straight forward to do. Let me try and quickly get this closed.

[2018-02-17 10:50] perfectmak commented on #36
@KennethAshly, how is this going?

[2018-02-17 14:37] pelsasser commented on #42
@amhunt - I think all visible on a single page is the goal here. Thanks a ton for being interested in working on our project!

My non designer opinion is that it seems a little busy and hard to focus on the text at all since the background is so distracting.  Definitely hoping for something cleaner and more polished for an end product (I know this is just a draft).

[2018-02-19 22:10] pelsasser commented on #43
@KennethAshley - thanks buddy! sorry it took so long to get this merged and paid out - this weekend was crazy at EthDenver

[2018-02-19 22:10] #43 closed

[2018-02-20 08:38] perfectmak commented on #32
I tried submitting this work on gitcoin too, but for some reason, it [failed](https://etherscan.io/tx/0x1c4095675686039e1f1ce7e741ae773823a8b057aeb7f7b2919792ab5adab5af).
It keeps failing everytime I try. Really don't know why this happens.

[2018-02-20 23:41] pelsasser commented on #42
Hey guys - I am finally back and catching up on this.  Please let me know the status and if some feedback is needed on design elements.

[2018-02-21 13:41] pelsasser commented on #46
thanks @KennethAshley!

[2018-02-21 13:41] #46 closed

[2018-02-21 13:44] #32 closed

[2018-02-21 13:47] pelsasser commented on #32
@perfectmak - I think they changed they way things are expiring.  Working to get you payment now, will make bounties in the future have a longer expiration

[2018-02-21 13:59] pelsasser commented on #36
@KennethAshley - any updates on status of this one?

[2018-02-21 14:21] jschiarizzi commented on #42
@amhunt did you have a repo for that? I will clean up the background a little and make it less busy. But the header and footer there look nice

[2018-02-21 14:22] pelsasser commented on #42
@jschiarizzi - header and footer already in place ;)

[2018-02-21 14:25] jschiarizzi commented on #42
Hey pelsasser, let's get this done today. I must have been looking in the wrong file? Dapp/public/index.html was empty? If it already has the list of options in the header what content should the page have?

[2018-02-21 14:32] pelsasser commented on #42
Dapp/src/app.js

I think @amhunt was on the right track, some sort of icons for the same links available in the header would be nice that have some sort of animation or highlight effect on hovering over them and maybe a short description displayed somewhere as well on hover.

[2018-02-21 14:33] jschiarizzi commented on #42
Okay, you got it.

[2018-02-21 14:35] pelsasser commented on #42
@jschiarizzi - sending invite for slack - maybe easier to interact there if you prefer.

[2018-02-21 14:36] pelsasser commented on #42
@jschiarizzi - preffered email address for invite?

[2018-02-21 14:38] jschiarizzi commented on #42
jschiarizzi@gmail.com

[2018-02-21 15:22] KennethAshley commented on #36
@pelsasser @perfectmak Ah sorry guys! Forgot about this one. I started it though. I can get it out the door today.

[2018-02-21 18:17] #40 closed

[2018-02-22 05:01] owocki commented on #7
was just testing the 'start work' functionality above... please disregard :)

[2018-02-23 15:39] pelsasser opened #53 "Contract Deployer : Create new deployer that allows users to easily select all variables using Binance API"
In order to allow non-technical users the ability to create MARKET Contracts without understanding how to select an API solution, we want to create a guide deployment that allows a user to use drop down menus to select all needed parameters from a centralized exchanges API.

We have selected to do this with Binance first. Their Rest API docs can be found [here](https://github.com/binance-exchange/

[2018-02-24 17:59] pelsasser opened #54 "Cannot create npm run build with current directory structure"
build folder from truffle and build from npm are colliding!

[2018-02-25 14:53] pelsasser commented on #53
That is a great point.  Won’t this code be running client side however for this use case?

[2018-02-25 17:52] perfectmak commented on #53
Yes it would run client side, but I think the Rate limit is by API key and
not IP address. I'll check though, but if it is API keys, then all clients
would be using the same API key.

[2018-02-27 00:34] vs77bb commented on #36
Hi @KennethAshley sorry for the double-up above, we're hoping @gitcoinbot is all straightened out now. Did you make a submission that we missed here?

[2018-02-27 06:18] cryptomental commented on #9
Pull request is ready for the review.

[2018-02-27 17:47] eswarasai commented on #9
@pelsasser -- This is good to go for payout

[2018-02-27 18:46] pelsasser commented on #9
@cryptomental and @eswarasai thanks guys - really appreciate all the help! @cryptomental - will get you some more ETH ;)

[2018-02-27 18:46] #9 closed

[2018-02-28 17:36] perfectmak commented on #53
@pelsasser, it seems no one has started work on this. I think I'll start work on it later today.

[2018-02-28 18:53] pelsasser commented on #53
@perfectmak - awesome.  I know @KennethAshley mentioned maybe helping as well - there is a lot here so happy to split up the bounty if you both want to work on it. I will also send you an updated branding package so you have an idea of where we are headed shortly with some of the updated designs

[2018-02-28 21:35] amites commented on #53
@perfectmak let me know if you don't get to this, and or looking for a hand
haven't done much with market but I've been building around the binance API for a bit and feel comfortable with it

[2018-02-28 22:59] pelsasser commented on #36
@KennethAshley - let me know what the status of this is - just getting back to town and trying to catch up a bit ;)

[2018-03-01 07:07] KennethAshley commented on #36
@pelsasser @perfectmak helped me with a few tests. Once he gives the thumbs up i believe you are able to do with this as you please.

[2018-03-01 08:59] perfectmak commented on #36
Yeah. I believe this is ready. @pelsasser you can test it out, merge and close.

[2018-03-01 09:03] perfectmak commented on #53
@amites Great. I believe you should give this a try then, because I'm a little occupied at the moment, so my pace might be slow. But If you can get the view ready, it would be awesome. @KennethAshley would love to help too, so you can collaborate with him.

To make your work easier. I'll update the "Quick Deploy" form to be able to accept all the parameters via the url query params, so when you ar

[2018-03-01 14:03] pelsasser commented on #36
Thanks guys!

[2018-03-01 14:18] pelsasser commented on #36
@KennethAshley - you can submit work on gitcoin if you would like.  Will confirm payment once completed

[2018-03-02 06:40] perfectmak commented on #42
@ohansemmanuel want to give this a try 🙂

[2018-03-02 12:27] pelsasser commented on #42
funding has expired on this one - we actually have someone working on it who isn't participating on gitcoin.  Will get some more issues staked for others to work on ASAP

[2018-03-02 12:28] pelsasser commented on #53
@amites - plans on picking this one up?

[2018-03-02 14:20] cryptomental commented on #10
I may be able to implement this one. Let me give it a try.

[2018-03-02 15:56] #36 closed

[2018-03-02 16:28] amites commented on #53
had other things pick up, if it's still open next week I'll knock it out -- if you can get to it sooner please do

[2018-03-02 16:34] pelsasser commented on #53
thanks @amites for the update

[2018-03-02 16:37] jschiarizzi commented on #42
Sorry @pelsasser I think it was more than I could finish during the hackathon weekend, and then real life took over.  Apologies! Feel free to use any of the source code I passed over for anything else at any time.

[2018-03-02 16:43] perfectmak commented on #53
Okay, Let me work on it over the weekend. If I'm not done, you can join.

[2018-03-04 14:51] cryptomental opened #58 "Unable to deploy a contract with Quick deployer and MetaMask"
I was struggling a lot to get this working, lost >2h hours and I am kind of stuck.

1) Gas limit was recently increased to 6500000 . This is fine for initial deployment script but MetaMask maximum value is 6385876 . Deploy transactions fail with out of gas.

2) I often got {type: "DEPLOY_CONTRACT_REJECTED", payload: {…}}
payload : {error: "Web3 not initialised"} error, although MetaMask was unlock

[2018-03-04 15:11] perfectmak commented on #58
Which network is your meta mask extension connected to? Have you set to
work with the local test network.

[2018-03-04 15:46] cryptomental commented on #58
hi @perfectmak I use localhost:9545 network started with 'truffle develop' . My MetaMask is connected to the private network. I also sent 1 ETH to my MetaMask address on the private network to try things out.

[2018-03-04 15:49] cryptomental commented on #58
Before I used truffle console, now I added web3.eth.sendTransaction({from:web3.eth.coinbase, to: '0xmy_metamask_address', value: web3.toWei(1, "ether") }) to 2_deploy_contracts.js so that I always get ETH right after all migrations.

[2018-03-04 15:55] pelsasser commented on #58
I can take a look at this soon.  We are going to remove several of the funding checks and move them off chain which will reduce the costs of deployment significantly.  That is being worked on now in the dApp.

[2018-03-05 06:06] eswarasai commented on #58
@cryptomental -- And also it might be a better idea to use `Ganache-cli` and connect the Metamask to the same local network `http:localhost:9545` going forward. Thanks.

[2018-03-05 12:04] cryptomental commented on #58
@eswarasai that's interesting , I thought 'truffle develop' uses ganache-cli under the hood.

My usual Dapp start flow during development  is the same as defined in travis.yml

1. truffle develop
2. start eth-bridge, wait until Oraclize connector fully initializes
3. truffle migrate
4. npm run start

For me Dapp starts automatically in chrome, with MetaMask set to connect to localhost:9545

If I u

[2018-03-05 13:55] eswarasai commented on #58
@cryptomental -- I meant using the Desktop application of [Ganache](http://truffleframework.com/ganache/)

I'm not sure about Docker but here are the steps that I use to run the server locally
1. Start Ganache App
2. Start `ethereum-bridge` and wait until Oraclize connector fully initialises
3. `truffle migrate`
4. `npm start`

W.r.t. Metamask, you can connect it to Custom RPC `localhost:9545` and

[2018-03-05 14:00] cryptomental commented on #58
Thanks a lot @eswarasai !

[2018-03-06 02:52] pelsasser commented on #58
@cryptomental - I am going to stake an issue over on the protocol side to remove all of the checks for sufficient funding.  We can do those in the dApp and move that off chain.  If you want to pick it up, I will try and get it staked in a few

[2018-03-07 07:54] pelsasser commented on #58
resolved @cryptomental please double check.

[2018-03-07 10:58] cryptomental commented on #58
Thanks @pelsasser ! from what I see during migration on 0.0.14 gas consumed dropped ~400000 gas for the largest contract which makes it now 6004692. This is good. I will now try to deploy a contract using Quick Deployer on Dapp master + 0.0.14 release.

[2018-03-07 11:31] cryptomental commented on #58
![image](https://user-images.githubusercontent.com/20819151/37090136-6dba55be-2203-11e8-98a8-9e1575bad4f4.png)

Setting as resolved! Thanks @pelsasser

[2018-03-07 11:31] #58 closed

[2018-03-07 11:32] pelsasser commented on #58
@cryptomental - awesome!  I have some grand ideas for getting the gas quite a bit lower - lets connect on it soon

[2018-03-07 22:35] pelsasser commented on #53
How is this going? @amites @perfectmak @KennethAshley

[2018-03-07 22:39] pelsasser commented on #37
@cryptomental - thanks for working through all the issues on this - appreciate the help!

[2018-03-07 23:01] amites commented on #53
sick kids the last few days, I'm behind and not likely to get back to this for a couple days

will leave a note when I get started if no-one else jumps in first

[2018-03-08 04:37] vs77bb commented on #37
@pelsasser @cryptomental Great to see this one moving! Is this in need of a Gitcoin 'Submit Work' so Phil can pay out?

[2018-03-08 09:29] cryptomental commented on #37
Hi @vs77bb thanks for the heads up. We have just tackled issues that blocked this one and and referenced above. I will be able to continue andl try to submit via Gitcoin when ready.

[2018-03-08 18:25] perfectmak commented on #53
Yeah, I started work on this guy over the weekend. I should actually push what I have later tonight.

[2018-03-08 19:53] cryptomental commented on #10
Closing as the PR was merged ;-)

[2018-03-08 19:53] #10 closed

[2018-03-09 05:25] pelsasser commented on #53
@perfectmak - thanks for the update!

[2018-03-09 06:04] eswarasai opened #60 "[Find Contract] Modify the UI to display Contract info"
Display the Contract info in a nice vertical tabular format as opposed to the below one.

<img width="1680" alt="find contract ui" src="https://user-images.githubusercontent.com/5172086/38420154-7d66223e-39c0-11e8-94a4-b82e1b183cdd.png">

[2018-03-09 06:05] eswarasai opened #61 "[Coveralls] Add test cases to improve the coveralls percentage"

[2018-03-10 01:28] pelsasser commented on #61
Hello @MichelleKwa - looking forward to your work! thanks for the interest in our project!

[2018-03-10 03:23] pelsasser opened #62 "Fix Warnings from Menu items"

[2018-03-10 04:07] eswarasai commented on #62
@pelsasser -- This is fixed in the `exchange` branch

[2018-03-10 04:07] #62 closed

[2018-03-10 08:56] pelsasser opened #63 "[Welcome Screen] Issues with graphics when sizing window to be narrower"
![screenshot from 2018-03-10 16-54-33](https://user-images.githubusercontent.com/15096737/37240239-da480f28-2483-11e8-9462-654560f6a52a.png)

[2018-03-10 08:58] pelsasser opened #64 "[Test Query] Issue with animation overlay when test query submitted"
![screenshot from 2018-03-10 16-58-02](https://user-images.githubusercontent.com/15096737/37240288-3843dd6e-2484-11e8-976c-7dc82c0aa163.png)

[2018-03-10 08:59] pelsasser commented on #63
@nitinrgupta

[2018-03-10 08:59] pelsasser commented on #64
@nitinrgupta

[2018-03-10 09:00] pelsasser opened #65 "[Test Query] Fix issues with truncated text in step titles"
![image](https://user-images.githubusercontent.com/15096737/37240304-7c4159ec-2484-11e8-9964-67d4346db877.png)

[2018-03-10 09:01] pelsasser opened #66 "[Guided Deployer] Truncated step titles need to be fixed"
![image](https://user-images.githubusercontent.com/15096737/37240316-b1586c10-2484-11e8-842c-e8d723fbfcd0.png)

[2018-03-10 09:03] pelsasser opened #67 "[Explore Contracts] Fix headers to break at word spaces not between words"
![image](https://user-images.githubusercontent.com/15096737/37240342-f20bcf4a-2484-11e8-8a7c-b64d0c4c1bf1.png)

[2018-03-10 09:21] pelsasser opened #68 "[Explore Contracts] Fix issue that prevents loading when bad address is used for base token"
If a MARKET contract is deployed with a invalid address for the base token, it prevents contracts from loading in the explorer.
[code]

[2018-03-10 09:24] pelsasser opened #69 "[Find Contracts] When invalid base token address is used, Find Contracts never returns"
Related to #68 same error is returned and we just keep spinning (animation)

[2018-03-10 09:25] nitinrgupta commented on #63
Haven't handled the responsiveness yet. Will be doing it eventually.

[2018-03-10 09:34] #42 closed

[2018-03-10 09:35] pelsasser commented on #63
@nitinrgupta sounds good - just had put this out to a few people and wanted to make sure we address some of the things that came back.

[2018-03-10 09:51] pelsasser opened #70 "[Find Contracts] when invalid address is entered it can fail to return"
This is a bit odd - but I discovered it because I had copied and pasted from the `Contract Explorer` and double clicked an address which ended up copying the below text which ends up with the below error and the animation just spinning

`0xf0d0c32137851e62171acd185edcb6295e4d74a1Price
`

[code]

[2018-03-10 11:48] perfectmak commented on #61
Hi @MichelleKwa one place that lacks test coverage are the redux actions. You might want to start from there.

[2018-03-10 12:30] eswarasai commented on #61
@MichelleKwa -- Before jumping directly into fixing the tests, it'd be helpful for us to understand your plan of action on how you'd tackle this and also a list of what all tests that are needed to be added/fixed. Thanks.

[2018-03-11 10:35] pelsasser opened #71 "[Explorer] Allow for any ERC20 token to be displayed, not just our dummy CollateralToken"
MARKET Protocol allows for any ERC20 token to be used as the base token for collateral in our contracts.  Currently the `Explore Contracts` and the `Find Contracts` pages believe these must be `CollateralToken`s and not ERC20 tokens.

This needs to be fixed to allow for an ERC20 token to be used and displayed correctly in these elements.  Additionally, we should provide some way for people to stil

[2018-03-11 11:12] pelsasser commented on #54
Ha - 15 days ago - I cannot remember 2 days ago. ;) thanks @eswarasai

[2018-03-11 18:25] nitinrgupta commented on #64
@eswarasai I had another solution for this. Created a PR for that. I feel that would be a better way of handling the loader position in the page.

[2018-03-11 18:25] nitinrgupta commented on #63
Done. Created a PR for this.

[2018-03-11 22:37] pelsasser commented on #71
MARKET Protocol allows for any ERC20 token to be used as the base token for collateral in our contracts.  Currently the `Explore Contracts` and the `Find Contracts` pages believe these must be `CollateralToken`s and not ERC20 tokens.

This needs to be fixed to allow for an ERC20 token to be used and displayed correctly in these elements.  Additionally, we should provide some way for people to stil

[2018-03-11 22:42] pelsasser commented on #53
@perfectmak - how is it going with this?

[2018-03-11 22:42] pelsasser commented on #37
@cryptomental - how is progress coming along?  any help needed?

[2018-03-12 15:13] maektwain commented on #71
Would like to work on this issue.

1. Explorer token

You want the address field?

2. Find token

You want the token address to be returned associated ?

[2018-03-12 17:56] maektwain commented on #71
Hey, I am able to deploy the application in the dev env.

I am able to run the app, by first starting the bridge as mentioned and then dAPP.

I am not able to use the dApp properly it is showing web3 not initialised? Maybe I am missing something.

Please point me some steps if I am missing? While deploying ?

[2018-03-12 18:13] eswarasai commented on #71
@maektwain -- Let's connect over [Gitcoin Slack](https://gitcoincommunity.slack.com). I've DM'ed you

[2018-03-12 18:20] maektwain commented on #71
Sure

[2018-03-12 20:02] maektwain commented on #68
In the case of contract address it throws error

``
web3.eth.call({to:"0x1411cb266fced1587b0aa29e9d5a9ef3db64a9c5", data:"0xc6888fa10000000000000000000000000000000000000000000000000000000000000003"})
Error: VM Exception while processing transaction: revert
``

And in the case when the address is not valid contract

``js
web3.eth.call({to:"0x3333333333333333333333333333333333333333", data:"0xc6888f

[2018-03-12 21:06] cryptomental commented on #37
Hi @pelsasser I was away for last weekend diving into exploringjs.com  . Great books by the way.  I am having thoughts on UI side. Do we want to suggest prefunding amount on a pop-up window after "Deploy Contract" was clicked or show a pop-up eeach time after Data source/Expiration time/Query repeat seconds values change, or should the value be automatically calculated and inserted into the edit b

[2018-03-12 21:54] pelsasser commented on #37
@cryptomental - that is awesome!  Glad your reading up.  I should do the same on some of the React stuff.

I personally think this is the best approach - although maybe it doesn't need to be editable.

Happy for others to weigh in @nitinrgupta @eswarasai

[2018-03-12 22:13] cryptomental commented on #37
Thanks! Yes, please guys, I am open to any suggestions.

![image](https://user-images.githubusercontent.com/20819151/37312042-c7f61b54-2649-11e8-98ce-f11e19e1658c.png)

I will follow Phil's advise and try to automatically insert the pre-funding value in the edit box above.

[2018-03-13 00:53] eswarasai commented on #37
@cryptomental -- Yeah. I think the best approach would be to trigger an action once the DeployContract `componentWillMount()` or `componentWillUpdate()` is executed and save this pre-funding gas price in the state. So every time a User visits either Quick Deploy or Guided Deploy, this action is triggered and we fetch the appropriate value from the Oracle. I'd recommend to avoid popups/modals until

[2018-03-13 06:01] nitinrgupta commented on #37
I'd second this @eswarasai

@pelsasser  @cryptomental - My small suggestion would be adding a help text for the `Pre-Funding` field giving the user more visibility on why the value is prefilled to that specific amount.

I just whipped up a crude mockup of what I'm thinking

![suggested](https://user-images.githubusercontent.com/4952395/37325027-0171b79a-26b2-11e8-9fb4-e6ceba144b66.png)

[2018-03-13 12:37] cryptomental commented on #37
@pelsasser  @eswarasai @perfectmak

![image](https://user-images.githubusercontent.com/20819151/37341623-614a0c48-26c2-11e8-9259-050270bdfb89.png)

I updated the help text as advised by @nitinrgupta and wanted to recalculate each time data source, expiration time or query repeat changes.

I tried to inject the check in componentWillReceiveProps(), componentWillUpdate() but I cannot verify when the

[2018-03-13 12:59] cryptomental commented on #37
Wait a sec after two hours of struggle I found out this

[code]

I can access the updated field via event.target.id.

This unblocked me. Sigh.

;-)

[2018-03-13 13:31] cryptomental commented on #37
This was only a half-measure, the onChange event is not triggered for a drop-down and datetime picker :/
@eswarasai @perfectmak feel free to pick up this bounty and I will improve my React in the meantime.

[2018-03-13 13:42] eswarasai commented on #37
@cryptomental -- I wonder by the time the method `isPreFundingUpdateNeeded()` gets executed, maybe `this.props` is already being updated to the `nextProps`?
Can you try adding `console.log()` in the `componentWillReceiveProps()` for `nextProps` and `this.props` and see the values maybe?

[2018-03-13 13:49] cryptomental commented on #37
Hi @eswarasai  thanks for the tip. i I did a quick check: https://github.com/cryptomental/Dapp/commit/f1fd9e264fee9da1551567ea69a3501820cdcfbc

[code]

I always get onFormChange() first, then componentWillReceiveProps, then componentWillUpdate.

Next props and current props always give me the same values.

[2018-03-13 19:02] cryptomental commented on #37
I am not giving up that easily.

[code]

Seems to work a bit better.

[2018-03-13 19:23] eswarasai commented on #37
@cryptomental -- Sorry that I've misguided you earlier. `componentWillReceiveProps()` will work if we're passing the `props` from `parent` to `child`. In this scenario, the `form` is already in the `child`, so any change to it's values, won't actually be part of `nextProps`

Leaving that aside, can I know the exact requirement here? So that I can help you come up with a better solution. Thanks.

[2018-03-13 19:35] cryptomental commented on #37
Requirements here are as in the first comment:

1) After either of 'oracleDataSource', 'oracleQueryRepeatSeconds', 'expirationTimeStamp' change, we need to implement in dApp a function, let's say getPreFundingAmount() that will return the pre-funding amount as implemented previously here in Solidity on protocol level:

https://github.com/MARKETProtocol/MARKETProtocol/blob/d0c5c3efd4c3922a187de87d6

[2018-03-14 07:26] pelsasser commented on #70
This looks good! Thanks @eswarasai

[2018-03-14 07:26] #70 closed

[2018-03-14 07:29] #69 closed

[2018-03-14 07:30] #68 closed

[2018-03-14 07:30] #67 closed

[2018-03-14 07:32] #66 closed

[2018-03-14 07:32] #65 closed

[2018-03-14 07:33] pelsasser commented on #64
This looks good @nitinrgupta and @eswarasai !!!

[2018-03-14 07:33] #64 closed

[2018-03-14 07:34] #63 closed

[2018-03-14 10:33] cryptomental commented on #37
@eswarasai perhaps https://github.com/cryptomental/Dapp/commit/0c747fdb14f3cd43b8e021925713585859859dec is the way to continue? I added a new handler which kicks in when the values are updated.

The handler is supposed to collect information on price and update the state with preFunding value by sending it in 'fulfilled' event payload. Then the form should be updated.

Currently the code fails at

[2018-03-14 11:19] cryptomental commented on #37
A new update, that thing seems to be alive ;) But I get '0' cost for the callback in the payload from Oraclize, and this is likely because the first callback from Oraclize is free. We would have to ask the user to pay some gas to fire the testOracleQuery() and then the numbers would be valid. This effectively would mean paying for a fake query to check how much to pay for a callback. We cannot do

[2018-03-14 11:46] eswarasai commented on #37
@cryptomental -- Can we connect over [MarketProtocol Slack](https://marketprotocol.slack.com) at sometime later today? Sorry, I've been swamped up with other tasks, hence the delay in getting back to you.

[2018-03-14 12:48] cryptomental commented on #37
Yes.

[2018-03-15 02:23] pelsasser commented on #37
@cryptomental - try now.  Fixed in 0.0.16 of `market-solidity` - apologies.

[2018-03-15 02:46] vs77bb commented on #71
@maektwain Excited to have you working through Gitcoin. You're in great hands with @eswarasai and @pelsasser!

[2018-03-15 10:58] cryptomental commented on #37
@pelsasser thank you! I should have noticed this as well ;) I will have a look today.

[2018-03-16 14:45] cryptomental commented on #37
The prefunding update works in realtime now ! ;-)

![image](https://user-images.githubusercontent.com/20819151/37526602-171006c6-2930-11e8-9b1d-ff4284051818.png)

Before I clean up the code I would like @pelsasser, @eswarasai and perhaps @perfectmak to have a look that the calculations are correct and try out on a running app if numbers match. The Oraclize callback gas amount seems to be negligibl

[2018-03-17 15:23] cryptomental commented on #37
Rebased against current master branch, removed many debug logs. Working on 3rd task for this bounty.

[2018-03-17 16:36] cryptomental commented on #37
I changed the prefunding gas to be displayed in WEI. Can be changed later if needed. It is easier to see that cost of a single URL query + callback is 3138500000150000 gas where 150000 gas is the callback cost.

[2018-03-17 17:47] cryptomental commented on #61
@MichelleKwa and @saralarambhapuri  I would also like to understand what is your plan to tackle this bounty as learning how to correctly implement those tests interests me a lot.

[2018-03-17 17:51] cryptomental commented on #37
PR opened, I adjusted current test, full explanation is described in the pull request https://github.com/MARKETProtocol/Dapp/pull/76

[2018-03-17 18:48] maektwain commented on #71
#73

[2018-03-19 01:21] pelsasser commented on #53
@perfectmak - can you update us to your status here?

[2018-03-19 03:58] pelsasser commented on #61
@MichelleKwa @saralarambhapuri - any updates to progress here?

[2018-03-19 04:20] eswarasai commented on #71
@pelsasser -- PR #77 solves this issue. But we also need to validate in the Deploy Contract form, whether the given Token Address is a valid `CollateralToken`/`ERC20 Token` or not. I'm gonna create a separate issue for this

[2018-03-19 04:24] eswarasai opened #78 "[Deploy Contract] Validate Base Token Address"
MARKET Protocol allows for any `ERC20 Token` to be used as the Base Token for collateral in Contracts.  Currently the `Deploy Contract` form doesn't validate the provided token address is a valid `ERC20 Token` Address

This needs to be fixed to validate `ERC20 Token` Address before deploying the Contracts.

Tasks to complete this issues and receive bounty
### Deploy Contracts

- [ ] Validate `ERC2

[2018-03-20 02:59] vs77bb commented on #78
Hi @maektwain! Are you in talks with @eswarasai and team at MARKET Protocol?

[2018-03-20 06:01] maektwain commented on #78
Yeah

[2018-03-20 06:52] maektwain commented on #78
Hey @eswarasai I plan to use this function

[code]

The above code returns response in byte code which will be sufficient to check and validate contract.

In case of invalid contract it return '0x'

[2018-03-20 23:01] pelsasser opened #79 "[Test Query] - transaction address needs to be turned into link"
![image](https://user-images.githubusercontent.com/15096737/37687220-a70614de-2cd5-11e8-90b7-fd2974bd117f.png)

Instead of the long URL we should create a nice clickable link to etherscan

[2018-03-21 06:26] pelsasser commented on #71
@maektwain - I think you need to submit work on gitcoin to allow me to pay this bounty out.

Thanks for you hard work and interest in our project!

[2018-03-21 07:54] maektwain commented on #71
@pelsasser Thanks for your support! and @eswarasai for providing help.

[2018-03-21 07:54] pelsasser commented on #71
https://etherscan.io/tx/0x29d8776781cea1e9568fc91800ea15eb9d4b645ec7f67c11f884d7925252288a

[2018-03-21 07:54] #71 closed

[2018-03-22 14:15] pelsasser opened #80 "[explorer] missing error handling around invalid contract addresses"
![image](https://user-images.githubusercontent.com/15096737/37775634-69bff276-2e1e-11e8-9cfc-7ec2ebbcf4da.png)

If a contract is deployed with an invalid erc20 address (which we should not allow upstream, but still handle issues downstream) the explorer fails to load

[2018-03-22 14:17] maektwain commented on #80
Yeah this should be resolved in the upcoming  PR  #78  though @pelsasser suggest that we can use validation here.

Thanks

[2018-03-22 14:39] eswarasai commented on #80
@pelsasser -- I'm aware of this issue. Since there shouldn't be such invalid contract address in the first place, I've prioritised adding validation to contract address while deploying contracts, rather than fixing things in the explorer. Let me know if you'd like to have it otherwise. Thanks.

[2018-03-22 15:50] pelsasser commented on #80
I think we should tackle it from both sides, eventually.  Having the explorer crash due to insufficient error handling doesn't seem beneficial even if we think that it shouldn't ever happen

[2018-03-22 17:15] eswarasai commented on #80
@pelsasser -- Makes sense. I forgot about the scenario of contract not existing at the given address anymore.

@maektwain -- Can you please handle the same in `actions/explorer.js`? Thanks.

[2018-03-23 11:11] cryptomental commented on #37
As discussed the issue will be in limbo for now until the v2. I will get back to it then. The branch stays as is and will be rebased when the issue will be picked up again.

[2018-03-23 15:11] maektwain commented on #80
Yeah sure would add the validations here

1. Yeah eventually we should have some kind of global validations on the form which basically do a check before submitting form.

[2018-03-26 18:07] maektwain commented on #78
So I was able to come up with this code as of now. I am afraid that setting up a fake web3 and store is going to be little cumbersome for the validation while running a test. Though I have added a test script let me know if I am going in the right direction.

[2018-03-26 18:22] maektwain commented on #79
How do I reproduce the above step, because in my case it does not show the url part.

[2018-03-26 19:05] cryptomental commented on #79
@maektwain

Could you please confirm that you unlocked MetaMask, ethereum bridge initialized correctly and migration was successful?

[2018-03-26 19:32] maektwain commented on #79
@cryptomental  Yeah I did as you said.  When on Rinkeby network it says : OraclizeQueryTest has not been deployed to detected network (network/artifact mismatch)

[2018-03-26 20:59] cryptomental commented on #79
@maektwain this is because OraclizeQueryTest is not deployed to Rinkeby. Please follow the readme to spin up the private test network.

[2018-03-26 23:07] maektwain commented on #79
Are you talking about orcalize or Dapps

[2018-03-27 06:44] cryptomental commented on #79
I was referring to the dApp.  Please make sure that you migrated 0.0.20 market-solidity in your network.

[2018-03-27 11:21] maektwain opened #82 "Insufficient balance error is quite big"
When testing query using orcalize on Rinkeby testnet shows big error which can confuse user.

``
Error: Error: [ethjs-rpc] rpc error with payload {"id":9522477269349,"jsonrpc":"2.0","params":["0xf9013080843b9aca0083030d4094dcc2435435c81cadb1944ff569a8a8d94473e1b2871550f7dca70000b8c4416851a00000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000

[2018-03-27 12:52] cryptomental commented on #82
This is interesting... In this scenario I see MetaMask notification with "Insufficient balance for transaction" error message:

![screenshot from 2018-03-27 14 48 29](https://user-images.githubusercontent.com/20819151/37968332-1bd3d9fc-31ce-11e8-8c94-6697af1ec31a.png)

@maektwain  could you please provide exact steps, including workspace setup and your configuration changes that led to this issue?

[2018-03-28 10:08] cryptomental commented on #82
I tested this as well on Rinkeby and the [deployed Dapp](http://52.90.115.134:3000/test)

![screenshot from 2018-03-28 12 05 15](https://user-images.githubusercontent.com/20819151/38022704-88fbdac2-3280-11e8-91f9-d41600a70f70.png)

@pelsasser @maektwain could you please share how you were able to reproduce this problem?

[2018-03-28 10:13] cryptomental commented on #82
I think that I start to understand now... I could not reproduce the exact scenario, but after pressing 'REJECT' button, the message also does not fit the screen.

[2018-03-28 11:19] maektwain commented on #82
Ok, Here are the steps

Step 1.
<img width="393" alt="screen shot 2018-03-28 at 4 46 50 pm" src="https://user-images.githubusercontent.com/8274610/38025897-afee51d8-32a7-11e8-9369-a7a86d713183.png">
Step 2.

The moment I cancel

<img width="1172" alt="screen shot 2018-03-28 at 4 46 21 pm" src="https://user-images.githubusercontent.com/8274610/38025901-b4083b6c-32a7-11e8-8ee4-64fcde5be1ee.png">

St

[2018-03-28 11:21] maektwain commented on #78
@pelsasser and @eswarasai Any further comments on the above case. I know I have to follow the code guideline. Its a just a test code.

[2018-03-28 11:44] cryptomental commented on #82
Ok, thanks @maektwain ! I have a fix and will submit it in a few minutes.

[2018-03-28 11:48] cryptomental commented on #82
Pull request opened https://github.com/MARKETProtocol/Dapp/pull/83

[2018-03-29 07:46] cryptomental commented on #79
Ok I tried this one and what happens is that in message.js JSX in injected as follows to msgBody:

[code]

When the hyperlink is injected straight into msgBody, it is correctly parsed and displayed:

[code]

But when the hyperlink is provided in {content} , and expanded by JSX which is currently the case , it is treated like a raw string
" <a href="https://rinkeby.etherscan.io/tx/121212">121212</a

[2018-03-29 07:48] cryptomental commented on #78
Hi @maektwain please open a pull request, this will trigger all automatic checks.

[2018-03-29 11:13] #82 closed

[2018-03-30 10:49] vs77bb commented on #53
@pelsasser This one has returned to an 'Open' status on Gitcoin due to inactivity - FYI. Let us know if you'd like us to push it via Twitter!

[2018-03-31 21:42] pelsasser commented on #53
@vs77bb - thanks!  That would be great.

[2018-03-31 21:54] perfectmak commented on #53
I have not been chanced complete work on this for a while now. It would be great if someone else could jump on it.
Apologies for blocking it till now.

[2018-04-01 11:27] maektwain commented on #79
@cryptomental

[code]

we can use link() method to achieve the desired result.

[2018-04-02 09:03] pelsasser commented on #78
@maektwain can you create a PR so we can get this reviewed and hopefully merged?

[2018-04-02 09:05] pelsasser commented on #61
@MichelleKwa @saralarambhapuri - are you guys still working on this? Do we need to get some more help?  Maybe we can reach out to the gitcoin community for some help.  I can add some ETH to get some more manpower behind this.

[2018-04-02 09:07] pelsasser commented on #60
@eswarasai - can you add some clarity to this issue and I can get some ETH attached to get it worked on?

[2018-04-02 09:11] pelsasser commented on #53
@perfectmak - thanks for letting us know.  Hope all is okay, lets catch up if you have some time.
@vs77bb - maybe we should close this issue and I can open a new one, the amount of ETH attached is pretty small at market prices for the complexity involved here .

[2018-04-02 18:19] cryptomental commented on #79
@maektwain great! please open a pull request with the change if that works correctly.

[2018-04-03 08:25] saralarambhapuri commented on #61
I need some help in the sample account and coinbase flow. I am currently stuck there

[2018-04-03 08:27] saralarambhapuri commented on #61
Only after I get to know how that works, I can share the estimate

[2018-04-03 08:52] pelsasser commented on #61
@saralarambhapuri - what is the plan for getting help with that? Do you need assistance in tracking down someone that can help? Maybe we can post a very specific issue that we can post to gitcoin for someone to resolve that knows how to address this?  Can you create the issue perhaps?

@eswarasai - thoughts on this plan?

[2018-04-03 09:00] saralarambhapuri commented on #61
I need someone to help me get the coinbase data and create test account.

Creating a separate issue would help

@eswarasai do you agree?

[2018-04-03 09:47] pelsasser commented on #61
@saralarambhapuri okay - please create the issue with as much details as possible and I can get it staked

[2018-04-03 12:09] eswarasai commented on #61
@pelsasser -- I agree. Maybe @cryptomental or @perfectmak can guide us with setting up the basic framework to write tests for getting contracts from Rinkeby maybe? I'll also try to spend sometime on this and see how we can tackle this effectively.

[2018-04-03 12:11] eswarasai commented on #79
@maektwain -- Any update on the PR for this? Looking forward to getting this merged.

[2018-04-03 20:27] cryptomental commented on #61
@eswarasai , @saralarambhapuri the most difficult part in this task is to get first redux action test case working. I would say it is 70-80% of the overall effort.

[2018-04-04 08:33] cryptomental commented on #79
@maektwain @eswarasai  the proposed solution with message.link does not work. I took time to check this. The behaviour is exactly the same as in my comment above.

![image](https://user-images.githubusercontent.com/20819151/38297009-6a5a8f8c-37f3-11e8-8480-3e85ec90e76b.png)

[2018-04-04 09:05] maektwain commented on #79
How would you deal with messages containing tags, e.g. links?

For example this can't be rendered by React:

const message = 'Visit <a href="https://github.com">github</a> now!';

A solution is that in use by khan academy. Then I would write something like:

const messages = { visit: 'Visit %(link)s now!', link: 'github' }
<p>
  <$_ link={ <a href="https://github.com">this.getIntlMessage('link')</

[2018-04-04 18:06] cryptomental commented on #78
@maektwain about your previous comment, yes the direction seems to be ok, you also added tests. Please open the PR.

[2018-04-04 20:12] cryptomental commented on #53
@pelsasser I suggest to split this into 3-4 issues that will require 2-3 days each, perhaps it will be more manageable.

[2018-04-04 22:00] pelsasser commented on #53
@cryptomental - noted and good advice, will work on that in the coming days.

[2018-04-05 02:14] vs77bb commented on #53
@pelsasser That will work. As you were the funder here, you can use the 'Cancel Bounty' functionality by going to the Gitcoin link, and then re-open bounties (either on this issue or on other issues) to move forward. Lemme know if you have any questions!

https://gitcoin.co/funding/details?url=https://github.com/MarketProject/Dapp/issues/53

[2018-04-05 05:27] eswarasai commented on #53
@vs77bb -- You should've used the latest issue URL of Gitcoin which is cleaner 😛  -- https://gitcoin.co/issue/MarketProject/Dapp/53

@pelsasser -- Let's discuss the plan of action for this during our call today. I see that this item is long pending as well

[2018-04-05 23:46] pelsasser commented on #54
@eswarasai - can you please add as much information to this issue as possible and I will stake with ETH to get some help from gitcoin on it?

[2018-04-05 23:49] pelsasser commented on #79
@maektwain - can you let us know status of this? Would like to get some folks from gitcoin involved to move this one along.

[2018-04-05 23:52] pelsasser commented on #60
@eswarasai - please update ;)

[2018-04-05 23:53] pelsasser commented on #61
@saralarambhapuri - any progress on getting a new issue created with more description of the problems you are facing?

[2018-04-06 00:10] pelsasser commented on #53
I killed this bounty and will split into smaller subtasks.

[2018-04-06 00:35] pelsasser opened #85 "Contract Deployer : Create new deployer using Binance API - Select Underlying Asset Pair"
In order to allow non-technical users the ability to create MARKET Contracts without understanding how to select an API solution, we want to create a guide deployment that allows a user to use drop down menus to select all needed parameters from a centralized exchanges API.

We have selected to do this with Binance first. Their Rest API docs can be found [here](https://github.com/binance-exchange/

[2018-04-06 12:07] eswarasai commented on #54
@pelsasser -- I've finally figured out which package is causing this issue. It's because of `is-ipfs` library which is being used in `src/components/TestQuery/OracleDataSources.js`.

@perfectmak -- Is there any alternative for the `is-ipfs` library as it's causing an issue while trying to run `npm run build` because the library source code is in `ES6` and `create-react-app` recommend using `ES5` i

[2018-04-07 00:19] pelsasser opened #87 "[Deploy Contract] Backend API for Whitelisting the Contract in Registry"
## Task
MARKET Protocol contracts that are deployed need to be stored in the `MarketContractRegistry.sol`

The `Owner` of the `MarketContractRegistry.sol` is the only address that is allowed to add a contract to the registry.  After a user deploys a new MARKET Protocol contract, it can then be added to the registry. In the future there will be validation checks to ensure the contracts are reasonab

[2018-04-07 22:16] vs77bb commented on #78
Looks like @maektwain might have been removed from this issue due to inactivity, but it's likely that he's still working on it.

If I'm missing something and need to pub this one out, let me know! @pelsasser @cryptomental

[2018-04-08 10:28] maektwain commented on #79
<img width="510" alt="screen shot 2018-04-08 at 3 56 10 pm" src="https://user-images.githubusercontent.com/8274610/38466360-a189acc2-3b45-11e8-8cd0-a464f0642574.png">

[2018-04-08 12:29] maektwain commented on #78
@vs77bb Please look at the #84

[2018-04-08 23:35] vs77bb commented on #78
@maektwain Appreciate the context 👍

[2018-04-09 07:58] eswarasai commented on #54
@perfectmak -- For now, we're removing the IPFS feature from the dApp. In future, we can add this back once we have a work around for resolving the `create-react-app`

[2018-04-09 09:14] eswarasai commented on #54
@pelsasser -- I've pushed a commit on `Dapp:master`. Please test if `npm run build` is working now or not and then close this issue. Thanks.

[2018-04-10 02:26] pelsasser commented on #54
@eswarasai - this looks good! thanks! I will update documentation

[2018-04-10 02:26] #54 closed

[2018-04-10 17:23] pelsasser opened #92 "using github pages, deployed to a non root URL, homepage fails to load."
https://marketprotocol.github.io/dApp/

We have set up GitHub pages to work for the dApp.

The root directory however is not a root url, which seems to not function correctly with displaying the homepage which our dApp thinks should be located at https://marketprotocol.github.io.

You can see this issue by visiting https://marketprotocol.github.io/dApp/ which doesn't display the home screen, and t

[2018-04-11 10:33] eswarasai commented on #8
@pelsasser -- What's the priority of this? I think this should be easy to do since now we support deploy contract values being passed as URL params right.

[2018-04-11 11:51] #85 closed

[2018-04-11 12:00] saralarambhapuri opened #94 "Configure web3 provider for unit test cases"
Currently, in the tests, for the actions, we're not able to get the `coinbase` account as we're using FakeHttpProvider. In order to get the functional tests covered for features like deployed contracts etc, we need to have a `testnet`, for example Rinkeby, where the necessary contracts are deployed before performing the functional tests and also using the same `testnet` to be configured in `web3`

[2018-04-11 12:06] pelsasser commented on #8
@eswarasai - low.  Feature for after we get current dApp deployed publicly.

[2018-04-11 12:55] eswarasai commented on #94
Will be using truffle/ganache as web3 provider for test cases as well

[2018-04-11 12:55] #94 closed

[2018-04-11 14:13] pelsasser commented on #92
resolved with new deployment to dapp.marketprotocol.io

[2018-04-11 14:13] #92 closed

[2018-04-12 11:17] pelsasser opened #98 "Add fields for entering gas price and suggest an estimated gas price to all dApp transactions"
## Task
Our transactions need a way of having gas prices estimated and users able to set them higher or lower than the suggested gas price.

There are currently three screens that have transactions that need this element
- Test Query
- Deploy Contracts - Guided
- Deploy Contracts - Quick Deploy

As an example on the test query page we should add this element just above the submit query button in t

[2018-04-12 11:45] pelsasser opened #99 "[Test Query] modify transaction to exact cost of query rather than currently hard coded value"
## Task
Test Query page currently has a hard coded value for the creation of the test query.  See [here](https://github.com/MARKETProtocol/dApp/blob/4daba4ada333a5f09a41b6276f144da23a25522d/src/actions/testQuery.js#L38)

The `OraclizeTestQuery.sol` contract allows for us to find the exact price needed to fund the Oraclize.it query using the `getQueryCost` function.

1. call the deployed `OraclizeT

[2018-04-12 12:42] eswarasai opened #100 "[Deployment] Setup automated deployment of dApp to AWS"

[2018-04-12 17:43] murduk commented on #99
@pelsasser Hello I would like to work on this.

[2018-04-12 17:45] pelsasser commented on #99
@murduk sounds great. Feel free to ask any questions over in [discord](www.marketprotocol.io/discord) or here.

[2018-04-12 17:53] pchuck commented on #87
based on the latest discussion, consensus is that it would be beneficial to use 'serverless' infrastructure, instead of running/managing nodejs and mongodb instances.

Solution could use https://serverless.com. On the back-end, deployed to AWS, the code would utilize a combination of API Gateway and/or AWS Lambda functions to surface a RESTful API and AWS DynamoDB to persist contract address data.

[2018-04-12 23:29] pelsasser commented on #100
@eswarasai can you coordinate with @pchuck on deployment of the dApp in the coming days

[2018-04-13 12:05] pelsasser opened #102 "[General] Modify README.md to use Makefile"

[2018-04-13 12:31] eswarasai commented on #102
@pelsasser -- We also need to add steps for running tests/coverage locally

[2018-04-13 12:34] pelsasser opened #103 "[General] Add templates for issues and PRs"

[2018-04-13 14:35] eswarasai commented on #100
@pelsasser -- Sure Phil. I've touch based with @pchuck yesterday. Need to have a clear strategy if development for serverless architecture. I'll update here once I have it devised.

[2018-04-13 14:54] eswarasai commented on #103
@pelsasser -- Initial templates are in place. Let me know if this is good to close

[2018-04-13 16:33] pelsasser commented on #103
@eswarasai thanks! maybe we should wait until we have contribution guidelines to close the issue so we can link them in the template?

[2018-04-14 08:32] StevenJNPearce commented on #87
I am available on discord if you have any feedback or additional requests relating to the submission.

[2018-04-15 01:30] perfectmak commented on #61
I submitted a PR to provide tests for actions behaviors. It can be found here: #107
I refactored actions to be initialized with their dependencies as inputs so it would easier to test.

Also, I noticed that most new contributions to the codebase don't have their components tested. We should endeavor to be adding some unit tests to every PR submitted.

[2018-04-15 23:55] murduk commented on #99
Hello @pelsasser.

I couldn't find the OraclizeTestQuery.sol contract.

[2018-04-15 23:57] murduk commented on #99
@pelsasser  sorry I found it.

https://github.com/MARKETProtocol/MARKETProtocol/blob/master/contracts/oraclize/TestableMarketContractOraclize.sol

[2018-04-16 00:27] pelsasser commented on #99
@murduk - this is the one here.

https://github.com/MARKETProtocol/MARKETProtocol/blob/master/contracts/oraclize/OraclizeQueryTest.sol

[2018-04-16 08:31] eswarasai opened #109 "[General] Add linter for JS & LESS"
### Description
Update `eslint` rules to strict as well as appropriate pre-commit hooks to auto-handle the fixing of the linter issues

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[2018-04-16 08:48] eswarasai opened #110 "[Deploy Contract] Add overlay to loader while deploying the contract"
### Description
Once user clicks `Deploy Contract` button, the loader appears but still allowing the user to interact with the input form. Add an overlay which would disallow the user to make any interactions on the screen

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:  Bug

## Before you `start work`
If you have ongoing work from other bounties with us where funding has not been released,

[2018-04-16 15:28] pelsasser opened #111 "[General] "MetaMask is Locked" Error message when meta mask is unlocked."
### Description

After using the dApp for a while and reloading pages or clicking some internal links, the error message will appear saying that `MetaMask is Locked` incorrectly. This will persist in the same browser instance even if the home screen is refreshed.

*Type*: Bug

### Reproduction
Hard to reproduce accurately, seems to happen frequently however.  Will update issue with more info as I

[2018-04-16 17:36] meteorplus commented on #111
Hi @pelsasser can you try my repo?

https://github.com/meteorplus/dApp/blob/master/src/actions/testQuery.js

seems just a small web3 check fails in that test route

thanks

[2018-04-16 17:44] pelsasser commented on #111
Seems that I can also create the same issue with the main page, if chrome / metamask is set to main net, then I switch to rinkeby and refresh http://localhost:3000/ also displays the same error incorrectly.

@meteorplus testing your fork now

[2018-04-16 17:53] pelsasser commented on #111
@meteorplus still seems as though the issue remains.

This appears in other routes as well, for instance  http://localhost:3000/contract/deploy?mode=quick

[2018-04-16 20:00] pelsasser commented on #111
@perfectmak thanks! I know there are a lot of meta mask issues that are out there.

[2018-04-16 21:07] cryptomental commented on #111
I fixed this already.

[2018-04-16 21:07] cryptomental commented on #111
Sorry @perfectmak , I have not seen that you were working on it and saw the issue was open on Gitcoin.
Async functions must be applied for accounts and network, I will submit PR in 5 min.

[2018-04-16 21:18] perfectmak commented on #111
Great work @cryptomental, I was about submitted my PR too. :)
You will need to fix some broken test on your PR and everything look good 👍

[2018-04-16 21:36] meteorplus commented on #111
which route too? I guess I get no eth :'(

[2018-04-16 22:59] pelsasser commented on #111
@meteorplus @perfectmak @cryptomental thanks all for the hard work, the latest PR looks to resolve the issue, will get it merged once the test issues are resolved.

[2018-04-17 01:27] #102 closed

[2018-04-17 12:17] #99 closed

[2018-04-17 21:51] cryptomental commented on #111
@pelsasser job done!

[2018-04-18 14:11] eswarasai opened #115 "[Test Query] Enable back button in case of error"
### Description
While submitting test query, if there's any error, there's no back button to restart the steps for TestQuery. PFA screenshot

<img width="1680" alt="screen shot 2018-04-18 at 7 36 20 pm" src="https://user-images.githubusercontent.com/5172086/38937241-5c24eb9e-4340-11e8-8bc4-36d7120e4454.png">

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

## Before you `start work`
If y

[2018-04-18 14:13] #111 closed

[2018-04-18 14:48] pelsasser opened #116 "[Deploy Contract] Error messaging needs to be refined"
### User Story

When a user attempts to deploy a contract but rejects the transaction in Metamask, the error dialogue is overwhelming.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

![image](https://user-images.githubusercontent.com/15096737/38939490-41610a14-42e5-11e8-9569-f473c22e1edf.png)

### Current Behavior
[comment]: # (Describe what actually happened.)
See abov

[2018-04-18 15:03] meteorplus commented on #111
@pelsasser can I get at least like a tiny 0.01 btc?

[2018-04-18 15:13] eswarasai commented on #111
@meteorplus -- Why don't have a look at the [open issues](https://github.com/MARKETProtocol/dApp/issues) here and let us know what would you be interested in picking up and helping us out with? We'd be more than happy to tip you for your contributions. Please do join our [Discord](https://www.marketprotocol.io/discord) channel for any discussion related to the open issues. Thanks for your interest

[2018-04-18 15:56] pelsasser opened #118 "[Header] Issues exist with truncating logo in certain browser widths."
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
Logo can become truncated at certain browser widths with the navigation items.
![image](https://user-images.githubusercontent.com/15096737/38943317-50ea0dba-42ee-11e8-8b52-cf1f1d650e2d.png)
![image](https://user-images.githubusercontent.com/15096737/38943348-6568dc26-42ee-11e8-8fb7-b52d8ea9dfbb.png)

##

[2018-04-18 18:05] nitinrgupta commented on #118
@pelsasser I took care of this in my PR. You can verify and close this issue 😄

[2018-04-18 18:09] cryptomental commented on #116
I already have an idea on this one, as I recently solved a similar problem.

[2018-04-18 18:10] pelsasser commented on #118
@nitinrgupta - still exists - thought I would have someone else tackle it to free you up to work on the static site

[2018-04-19 05:26] zoek1 commented on #115
@eswarasai i think that the same back button could be applied to "deploy contract" in case of error, what do you think?

[2018-04-19 06:59] eswarasai commented on #110
@zoek1 -- Can we connect on [Discord](https://marketprotocol.io/discord) to get things going? Thanks for your interest in MARKET Protocol and helping us out with the issues :)

[2018-04-19 17:11] pelsasser opened #120 "[Home] Create floating welcome message for Beta dApp users."
### User Story
As new users come to our dApp we should welcome them and give some instructions for interacting with the beta on rinkeby, and how to get test ether.

### Why Is this Needed?

Users may not know explicitly how to get rinkeby ether, or how to point metamask at rinkeby.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Solution
[comment]: # (Provide a

[2018-04-19 21:20] pelsasser opened #121 "Add Node version information to readme and package.json"

[2018-04-21 01:40] FinleyCorrigan commented on #110
Hey @eswarasai

Just letting you know that I'm going to start working on this now!

Thanks

[2018-04-21 21:44] zoek1 commented on #115
@eswarasai the job is done at #123 PR.

[2018-04-22 13:37] cryptomental commented on #116
@eswarasai I applied changes after your last review.

[2018-04-23 01:05] perfectmak commented on #121
For this task, should we just add the latest stable Node version that currently works or we should find the minimum version that still works for the codebase?

[2018-04-23 01:17] perfectmak opened #125 "[Sim Exchange] Unit Tests"
### User Story
Although the SimExchange Component is currently not available, there has been quite some work already done on it.
We want these components to have proper unit tests in their current state.

### Why Is this Needed?
This is needed to improve the reliability of the codebase and also help increase coverage of the tests.
Also having tests for this components will also help new members of

[2018-04-23 12:46] #116 closed

[2018-04-23 13:24] eswarasai commented on #103
@pelsasser -- What's still pending here? I think the contribution guidelines PR is merged as well right?

cc: @pchuck

[2018-04-23 15:48] pelsasser opened #127 "[General] Iinks on top of white background elements are hard to read"
### User Story

Places where we have messages display transactions links, or other information that uses the teal on white background are hard to read.

### Why Is this Needed?
Better UX

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)

![image](https://user-images.githubusercontent.com/15096737/3913751

[2018-04-23 15:49] #79 closed

[2018-04-23 16:08] #78 closed

[2018-04-23 16:08] #80 closed

[2018-04-23 16:23] pelsasser opened #128 "[Contract Deployer] modify `checkContract()` to confirm contract is ERC20"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature
We need to add a check to ensure that the address user for the `Base Token` in our deployments isn't just a smart contract address, but is in fact an ERC20

### Current Behavior
[comment]: # (Describe what actually happened.)
Checks only if a smart contract

### Expected Behavior
[comment]: # (Describe what you expected

[2018-04-23 16:38] pelsasser commented on #121
That is a great question.  I personally haven't tested > 8.11.1 so was really just calling that the version and moving forward for now.  Open to suggestions for sure.

[2018-04-23 17:12] pelsasser commented on #103
closing!

[2018-04-23 17:12] #103 closed

[2018-04-23 23:43] Smona commented on #118
@pelsasser this bounty is about to expire. I'd appreciate it if you'd take a look at the PR and let me know if anything needs fixing. Otherwise, please approve the bounty within the next 2 days.

Thanks!

[2018-04-24 01:36] Smona commented on #118
just saw that, my bad!

[2018-04-24 06:02] eswarasai commented on #121
It does make sense to recommend the LTS version of the NodeJS as part of the package.json if everything works fine using that version

[2018-04-24 14:41] pelsasser opened #129 "[Deploy Contract] Integrate whitelist api functionality into dApp"
### User Story

For reference see #87 and the new  repo here - https://github.com/MARKETProtocol/backend

### Why Is this Needed?

*Summary*: Integrate our new back end functionality into the dApp

### Description
*Type*: Feature

Create needed calls in contract deployment to the backend api to request addition to the whitelist / registry
Create messaging to user that their contract has been sent

[2018-04-24 14:41] #87 closed

[2018-04-24 14:43] pelsasser commented on #87
Closing this issue and moving to #129 for remaining tasks. Thanks @StevenJNPearce for the work on this.

[2018-04-24 17:47] #115 closed

[2018-04-24 18:35] #110 closed

[2018-04-25 08:04] #118 closed

[2018-04-25 08:14] eswarasai commented on #118
@Smona -- Thanks for your first contribution to MARKET Protocol. Feel free to join our community on [Discord](https://www.marketprotocol.io/discord) to see if any of the other open bounties interests you in helping us with :)

[2018-04-26 11:48] #100 closed

[2018-04-26 12:01] pelsasser commented on #120
@vikasyadav - glad your grabbed a bounty! Looking forward to your solution.

[2018-04-26 16:53] vikaskyadav commented on #120
yeah. Could anyone please increase the time for the bounty ?

[2018-04-26 17:46] pelsasser commented on #120
don't tell anyone - but the time is irrelevant.  I can still pay out the
bounty even in an "expired" state.

On Thu, Apr 26, 2018 at 10:53 AM, Vikas Kumar Yadav <
notifications@github.com> wrote:

--
Phil Elsasser
CTO and Co-Founder

www.marketprotocol.io
<http://www.marketprotocol.io>
Join Our Telegram Community <https://t.me/Market_Protocol_Chat>

[2018-04-27 00:25] pelsasser commented on #128
@maektwain - I think this approach makes sense.  In the longer term we could create a whitelist of erc20 contracts we allow for collateral, but for the time being, I think validating them as you suggest is the only option.

[2018-04-27 03:39] bakaoh commented on #128
I think we can use other service like etherscan (ex: https://etherscan.io/token/0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0) instead of create a whitelist ourselves
Another approach can be found here https://ethereum.stackexchange.com/a/38400 using some simple check in bytecode with an acceptable accuracy

[2018-04-27 05:33] vikaskyadav commented on #120
cool. give me some time. I am on it and have some ideas too to make it look
elegant.

[2018-04-27 07:39] eswarasai opened #130 "[Security] Potential Security Vulnerability warning from GitHub"
### Description
`hoek` node module before 5.0.3 suffers from a Modification of Assumed-Immutable Data (MAID) vulnerability via 'merge'

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Vulnerability

### Solution
`package-lock.json` update suggested: `hoek` ~> `5.0.3`

[2018-04-27 12:12] eswarasai opened #131 "[GasPriceField] Fix the console warning"
### Description

*Summary*: Fix the below console error for GasPriceField component

[code]

### Reproduction

*Summary*: Can be reproduced either by deploying contract or submitting a test query.

[2018-04-27 12:18] #109 closed

[2018-04-27 15:08] pelsasser opened #132 "[General] Remove hard coded gas amounts"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
Remove all hard coded gas amounts

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: It will provide more flexibility as we update version of the underlying `market-soli

[2018-04-27 17:04] pelsasser commented on #120
thanks @vikaskyadav -  here are some notes from an email I have sent to a few people, maybe we can  morph it into what we need here.

1. This is currently deployed to the rinkeby test network.  In order to do anything besides click around and read, you will need test ether for rinkeby.  The easiest place to get this is https://faucet.rinkeby.io/  I can also send some to you if you provide an addre

[2018-04-28 14:32] bakaoh commented on #128
I tested it with some contracts (erc20 and not erc20) and it works. I'm on vacation without my laptop so i can't put the code here

[2018-04-28 14:39] eswarasai commented on #128
@bakaoh -- Sure. No problem. Please raise a PR whenever you can get to it. Thanks :)

[2018-04-29 15:01] vikaskyadav commented on #131
@eswarasai  How can I clone this issue ? I think I can fix this.

[2018-04-30 11:36] eswarasai commented on #131
@vikaskyadav -- Even I'm not sure of the exact steps, but if you keep playing around with the `dApp` like deploying contracts or test query, you should be able to see that error in the console.

[2018-04-30 19:15] rojosnow commented on #129
I'm jumping in on this. Working now to scope the LOE.

[2018-04-30 22:57] pelsasser opened #134 "[General] Move dApp off of gh-pages"
### Why Is this Needed?
*Summary*: complete migration to aws

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

[2018-04-30 23:00] pelsasser opened #135 "[Google-Analytics] Add GA to dApp"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
Add GA tag to all pages of dApp

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:because who doesn't want google to have more data

### Description

[comment]: # (Featu

[2018-05-01 05:08] rojosnow commented on #129
Dev API is deployed at, https://fwtl7l0k4i.execute-api.us-west-2.amazonaws.com/dev. All supported endpoints, per the Google Sheet above, return mock data. All data structures are placeholders.

[2018-05-01 11:07] eswarasai commented on #135
@pelsasser -- Would you prefer `GA` or `Mixpanel` for the Analytics?

[2018-05-01 11:12] pelsasser commented on #129
@rojosnow - wow! thanks!

Let's go over this on the call today and how it integrates with the existing serverless work that has already been done [here](https://github.com/MARKETProtocol/backend)

Can you shed some light on the reason for the us-west-2 location?

Pretty excited to have this in place, definitely a step in the right direction for some of the dApp components and simplifying our contr

[2018-05-01 13:41] rojosnow commented on #129
@pelsasser I spent some time yesterday with the work @StevenJNPearce did with the whitelist functionality. It's a great start. The piece that was missing (not that it was asked of him) was the higher level thinking behind the API. All of the mock API calls can be backended with a variety of services including Lambda. That's where his work will snap in so we're good there.

Also, I'm a big fan of s

[2018-05-02 10:40] brucefeynman commented on #132
Hi, I am working on this issue and can you give me some ideas on how to test this repo? @pelsasser

[2018-05-02 11:08] eswarasai commented on #132
@ConnorChristie -- Are you still interested in working on this task, as I can see you've already pointed out few places where we need to make the edits.

@pfilippi24 -- Let us know here your plan to tackle this and also when can we expect a PR.

@brucefeynman -- I appreciate you're interest in closing this issue for us, but we'd like to wait till we hear back from @pfilippi24 as he had claimed the

[2018-05-02 11:38] ConnorChristie commented on #132
I am not planning on working on it, just wanted to point out the places to make the next person's life easier :)

[2018-05-02 11:43] ConnorChristie commented on #125
I can start adding tests to this component! And who knows, some bugs might be squashed as a result :)

[2018-05-02 12:00] pelsasser commented on #125
@ConnorChristie awesome! thanks for getting involved!  Please let @eswarasai or I know if you need any help.

[2018-05-02 14:52] #134 closed

[2018-05-02 14:55] #128 closed

[2018-05-02 16:04] rojosnow commented on #129
Deployed endpoints:

- https://rbfo0jcfwj.execute-api.us-east-1.amazonaws.com/dev (dev only, breaking changes will exist).
- https://rbfo0jcfwj.execute-api.us-east-1.amazonaws.com/test (test only, appropriate for test/stage/beta of dapp). **Setup a variable to the URL in the dapp since this will change to something more friendly like, `test.api.marketprotocol.io`**.
- https://rbfo0jcfwj.execute-ap

[2018-05-02 17:42] vikaskyadav commented on #120
The PR is already under review.

On Wed, May 2, 2018 at 9:45 PM, Gitcoin.co Bot <notifications@github.com>
wrote:

[2018-05-02 19:35] perfectmak commented on #22
Should this still be open?

[2018-05-02 19:38] pelsasser commented on #22
I think we can close it, it is very low priority and not that exciting.

[2018-05-02 19:38] #22 closed

[2018-05-02 19:39] pelsasser commented on #135
I think we can improve upon it in the future - but even knowing how many people are just visiting dapp.marketprotocol.io would be nice.  We already have the GA set up, so adding the tag is a simple path forward, and we can worry about something more feature rich down the road.

[2018-05-02 19:41] eswarasai commented on #135
@pelsasser -- Sure Phil. I'll add the GA and commit the changes on the `develop` :)

[2018-05-02 20:11] pelsasser opened #138 "[S3 bucket] Issue with new deployment for dapp.marketprotocol.io"
### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)

Sandbox deployment works
http://dev.dapp.marketprotocol.io.s3-website-us-east-1.amazonaws.com/contract/explorer
New prod deployment fails
http://dapp.marketprotocol.io.s3-website-us-east-1.amazonaws.com/contract/explorer

### Expected Behavior
[comment]:

[2018-05-02 20:12] #138 closed

[2018-05-03 13:46] rojosnow commented on #129
TODOs:

1. (DONE) Setup Lambda execution environment to troubleshoot add to whitelist code.
2. (INPROGRESS) Fix and deploy add to whitelist.
3. Refactor from web3@1.0.0-beta.33 to web3@0.20.6.
4. Add automated deployment.
5. HOWTO on setting up a local dev environment to work on serverless code.

There is still a bit more work to be done to have a local dev environment that others can easily use.

[2018-05-04 06:40] rojosnow commented on #129
TODOs:

1. (DONE) Setup Lambda execution environment to troubleshoot add to whitelist code.
2. (DONE) Fix and deploy add to whitelist.
3. (INPROGRESS) Add a "remove from white list" function for testing.
4. Refactor from web3@1.0.0-beta.33 to web3@0.20.6.
5. Add automated deployment/testing.
6. HOWTO on setting up a local dev environment to work on serverless code.

The endpoints "work" on test.
h

[2018-05-04 11:15] vikaskyadav opened #141 "Refining the Text in this image on Landing page"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide a description of the current state, what you would like to happen, and what actually happen)
*Summary*: Doesn't look good as a part of dApp workflow.

### Description
![screenshot from 2018-05-04 15-12-03](https://user-images.githubusercontent.com/12607959/39625237-3958aa98-4fba-11e8-939f-141b8b310f44.

[2018-05-04 13:28] pelsasser commented on #141
closing this - related to website, not dApp. But also fixed in https://github.com/MARKETProtocol/website/commit/4230f6903791bdf9aa1e2ba7ca6674be02a2ceb0

[2018-05-04 13:28] #141 closed

[2018-05-04 21:55] garyaka commented on #132
I can work on it.

[2018-05-04 22:08] eswarasai commented on #132
@brucefeynman -- Are you still interested in tackling this issue? Looks like @pfilippi24 isn't around I guess.

@garyaka -- I'd recommend holding this off till we either hear or don't hear back from both of them.

[2018-05-04 22:09] pelsasser opened #142 "[Deploy Contract] Expiration date checks need to ensure no more than 60 days"
### User Story

If a user deploys a contract with an expiration > 60 days in the future, the deployment will fail, and eat up all their gas ;(

oraclize.it only allows us to schedule queries 60 days out, so current there is a check in the deployment [here](https://github.com/MARKETProtocol/MARKETProtocol/blob/ca06662259a6b1ce52a9f0a7374ad761db35d444/contracts/oraclize/MarketContractOraclize.sol#L7

[2018-05-07 12:47] pelsasser commented on #132
@pfilippi24 @brucefeynman  - can you please let us know the status of your work on this?

[2018-05-07 12:49] pelsasser commented on #142
@garyaka - the function will always use gas, but we want to ensure it succeeds.  A failed transaction, that uses a lot of gas is a really bad UX.

[2018-05-07 12:50] pfilippi24 commented on #132
@eswarasai Sorry was unexpectedly away over the weekend :(
Already done identifying the spots where the hardcoded gas amount needs to be removed, removed it and set up a working test environment.
Will connect to discord soon, as I might need some help/have some questions about finalizing this task.

[2018-05-07 17:01] pfilippi24 commented on #132
For example the deploy operation actually consists out of 4 consecutive operations.
Shall the estimated amount on the /contract/deploy page be the sum of all 4 operations?

Only the gas amount on the /contract/deploy and /test pages should be estimated? No need to change the amount in the deployment scripts?

[2018-05-07 17:17] pfilippi24 commented on #132
MetaMask's estimating seems to work pretty well. After deploying a contract, there are 4 dialogs about gas to be confirmed using MetaMask. The amount we want to display before is the sum of those? (just a rephrasing of the last question)

[2018-05-07 17:27] pelsasser commented on #132
@pfilippi24 - I don't believe metamask is estimating those.  Those are simply from the hardcoded value's that are in the codebase.

This isn't a great solution, because if the underlying solidity changes at all, then the gas prices need to be updated by hand.

In regards to what we are displaying, we need to work on the UX/UI for the deploy and the number of transactions.

Ideally for this bounty

[2018-05-07 20:02] pfilippi24 commented on #132
@pelsasser no, if you remove the hardcoded value, MetaMask starts estimating:

![image](https://user-images.githubusercontent.com/4476695/39722229-46f25a2a-5242-11e8-96bb-4dd9931c584a.png)

This is definitely not the hardcoded value

[2018-05-07 20:09] eswarasai commented on #132
@pfilippi24 -- Never realized the hard-coded gas limit in the `dApp` was way too high. Even the `Metamask` suggested gas limit is too much I'd say. For typical transactions it'd be somewhere around 20000 - 60000 if I'm not wrong.

@pelsasser -- Any idea on how the helper function should estimate the gas limit since you've mentioned that it's somehow relied upon the solidity contracts? Here's a for

[2018-05-07 20:40] pelsasser commented on #132
@pfilippi24 - apologies, I didn't understand you had removed the hard coded values.

Is the original link not a viable and quick solution to this?

http://web3js.readthedocs.io/en/1.0/web3-eth.html?highlight=estimate%20gas#estimategas

[2018-05-07 21:55] pfilippi24 commented on #132
It is and I'm planning on using it. Should give the same values as
MetaMask, though.

The original question was for contract deployment if all steps should be
summarized for the final estimate.

Phil Elsasser <notifications@github.com> schrieb am Mo., 7. Mai 2018, 22:40:

[2018-05-08 04:02] vs77bb commented on #142
Hi @arun1595 are you working this issue?

[2018-05-08 04:16] arun1595 commented on #142
@vs77bb Yeah, I am.

[2018-05-08 11:02] pfilippi24 commented on #132
@eswarasai ok, looks like MetaMask estimate is intentionally too high. They add 100000 to the outcome of the estimateGas api call. Looks like they made the experience, that it can cause issues when setting the gas limit too low. https://github.com/MetaMask/metamask-extension/pull/744 (follow the issue trail)

@pelsasser I recommend removing the estimation of gas from this app altogether and pointi

[2018-05-08 11:53] pelsasser commented on #132
@pfilippi24 - I appreciate your recommendation. I think we should use the same approach as metamask (for now) api call value + buffer and we can go from there.  There is a possibility people end up using a different web3 provider in the future, or perhaps we have specific needs that aren't as easily replicated by metamask.

A note in the code may make sense stating that its possible it makes more

[2018-05-08 12:25] pfilippi24 commented on #132
@pelsasser
In that case I have to quit, sorry. It was a good learning experience, but I'm running out of time.

[2018-05-08 18:55] pacoard commented on #132
Hello, after reading all the messages in this issue, I am curious: how are you planning to set the gas for transactions? I thought that was something that MetaMask takes care of, and even if it applies 100.000 more gas than usual, the remaining gas goes back to the address that started the transaction. This should be as easy as just removing the gas attributes in web3 send()'s and let MetaMask han

[2018-05-08 19:25] pfilippi24 commented on #132
@pacoard Your first paragraph is exactly what I was suggesting earlier. Just remove the prediction and let the web3 provider decide. At least in MetaMask the suggested value is still adjustable.
Setting the 'gas' parameter will overwrite what MetaMask is suggesting and simply fill out the confirmation screen with the provided amount. There is an example of this earlier in this thread. Maybe this h

[2018-05-09 11:53] #131 closed

[2018-05-09 12:31] pelsasser commented on #142
thanks @arun1595 - please let us know a timeline for completion.  Glad your contributing more with us!

[2018-05-09 12:33] #125 closed

[2018-05-09 15:42] garyaka commented on #127
Can I work on this issue?

[2018-05-09 15:47] #129 closed

[2018-05-09 19:56] cooganb commented on #127
@pelsasser Also, would you like to change the PDF or is there also a CSS / Sass file I can also change?

[2018-05-09 21:07] arun1595 commented on #135
@eswarasai Did you have a chance to work on this task? I can tackle it if you're occupied with review and working on other tasks.

/cc @pelsasser

[2018-05-10 11:46] pelsasser commented on #135
@arun1595 thanks! not sure if @eswarasai has worked on this yet or not, so will let him comment, but we would love the help!

[2018-05-10 12:44] eswarasai commented on #135
@arun1595 -- I haven't started work on this yet. Feel free to take it up. For your reference, I've already setup a [`GoogleAnalyticsTracker.tsx`](https://github.com/MARKETProtocol/website/blob/develop/src/containers/GoogleAnalyticsTracker.tsx) HOC for `MARKETProtocol/website`. Let me know if you need any help with this :)

[2018-05-10 17:44] eswarasai commented on #132
@pacoard @pfilippi24 -- Sorry about the delay in getting back to you. So here's the following implementation we'd decided to close this issue.

Add a check at all the places where hardcoded gas is present which should be used only in the case of the `web3.eth.network` is either `truffle/ganache`. In case of `metamask`, we can leave it to take care of it like suggested above. I'd recommend creating

[2018-05-11 11:06] #142 closed

[2018-05-11 11:58] pelsasser commented on #127
@cooganb sorry for the late reply. The PDF doesn't need to be changed, it is just a guide for our style and branding.

cc @eswarasai

[2018-05-11 13:29] cooganb commented on #127
Thanks for the reply! So you'd like the CSS changed?

On Fri, May 11, 2018 at 6:58 AM, Phil Elsasser <notifications@github.com>
wrote:

[2018-05-13 12:59] #120 closed

[2018-05-13 13:02] pelsasser opened #147 "[Welcome] Refine welcome message text"
### User Story

As a user I would like to see a nice welcome message with instructions for the dApp

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: To help with on boarding new users

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*T

[2018-05-13 13:08] pelsasser opened #148 "[Welcome] Add status box to welcome message re: currently selected network from metamask"
Depends on #147 being completed first

## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We wou

[2018-05-13 13:13] iamonuwa commented on #147
@pelsasser can I pick this task?

[2018-05-13 13:53] pelsasser opened #149 "[build] failing to minify ./config/polyfills.js:25"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: to fix the build

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)
builds fails

### Reproduction
[comment

[2018-05-13 13:55] pelsasser commented on #147
@iamonuwa - you are more than welcome to take a crack at it, but I may need to help revise it as you go.  Would love the help!

Here is a link to our youtube videos with a few tutorials -

https://www.youtube.com/channel/UCk9Yc59tC0VI5NV4HwY4lbg?view_as=subscriber

[2018-05-13 14:39] iamonuwa commented on #147
Awesomeness

[2018-05-14 10:16] eswarasai opened #150 "[Guided Deploy Contract] Standardize Contract Name"
### Description
As part of Simplified Guided Contract Deployment, we'd like to standardize the Contract Name as per the standards mentioned in this issue -- https://github.com/MARKETProtocol/MARKETProtocol/issues/44

*Type*: Enhancement

### Definition of Done
- Move the Name step just before the Deploy step
- Pre-fill the Name input which is standardized based on the before input parameters

## B

[2018-05-14 10:50] eswarasai opened #151 "[Guided Deploy Contract] Add dropdown for Oraclize Query"
### Description

As part of Simplified Guided Contract Deployment, for the Oracle Query - we should be able to create the dropdown for a user to select a specific API endpoint to use, after which we generate the query internally. For instance the dropdown could have - `lastPrice`, `weightedAvgPrice`, `highPrice`, `lowPrice` from https://github.com/binance-exchange/binance-official-api-docs/blob/ma

[2018-05-14 11:02] eswarasai opened #152 "[Guided Deploy Contract] Set default values for selected BaseToken"
### Description
As part of Simplified Guided Contract Deployment, we'd want to pre-fill the below input fields with the values based on selected BaseToken :
 - Decimals : Pre-fill with the decimals reported from Binance for the chosen BaseToken
 - Price Cap and Price Floor : Default to 50% above and below the current value
 - Price Qty Multiplier : TBD
 - Expiration time : 30 days

Ref: https://gi

[2018-05-14 13:14] eswarasai opened #153 "[Deploy Contract] Modify the UX flow for deploying contract"
### Description

*Type*: Enhancement

Currently when a user deploys a contract there are three transactions that occur:
- The MarketContract is deployed via the Factory
- The CollateralPool is deployed
- The two are linked via the final transaction

Create a stepwise UX that allows for people to understand this process. When they click deploy, be it a quick deployment or guided deployment, user sh

[2018-05-14 15:05] pelsasser commented on #153
This looks good.  Will be interested to see the mockup from whom ever starts work on this.  Ideally their is a nice grid / list of all the transaction hashes as the occur, etc.

One final note is, we can use this time that a user is waiting for the transactions to be mined to educate them a bit on each contract's function.

### Definition of Done

- [ ] Create needed UX flow for 3 transactions
- [

[2018-05-14 17:49] eswarasai commented on #153
@arun1595 -- Feel free to connect with me or @pelsasser on [Discord](https://marketprotocol.io) channel in case you've any questions w.r.t. the task. Thanks for helping us out again :)

[2018-05-14 17:52] eswarasai commented on #135
@arun1595 -- I'd be picking this up since you already have #153 going on and would like you to have focus on that rather than working on multiple issues.

[2018-05-14 17:57] arun1595 commented on #135
@eswarasai Got it, thanks!

[2018-05-14 19:20] eswarasai opened #154 "[Simplified Deploy] Create new flow for Deploy Contract"
### Description
Currently there are 2 flows for Deploy Contract. We'd like to have a new flow called `Simplified Deploy` which will have the following steps as part of deploying contract. Please re-use the UI as well as Components from the existing flows as much as possible

Step 1:
 - [Dropdown] Select the API which user would like to use. Example: Binance/Bittrex. This would be defaulted to Bina

[2018-05-14 19:20] #150 closed

[2018-05-14 19:20] #151 closed

[2018-05-14 19:20] #152 closed

[2018-05-15 11:29] pelsasser commented on #154
This LGTM!

Only feedback on Step 3

1. No need for a type of query here, it will automatically have to be `URL`
2. I am not sure it makes sense to expose the query to the end user at all, makes it more confusing perhaps than is needed.  They shouldn't have to / need to edit it at all.

[2018-05-15 12:33] eswarasai commented on #154
@dilatebrave -- Thanks for showing interest in MARKET Protocol. Let me know when is a good time to connect and discuss the plan of action for this task. Feel free to join our [Discord](https://marketprotocol.io/discord) channel and reach out to any of us in case you have any queries.

[2018-05-15 16:41] eswarasai commented on #132
@pelsasser -- Can you kill this bounty? I'll take this up tomorrow and close the issue. Thanks!

[2018-05-15 21:27] eswarasai commented on #127
@cooganb -- Sorry about not being able to respond earlier. Somehow I've missed the GitHub notification for this thread.

Yes. We'd like to change the CSS of the transaction link, to be specific, color of the text with the link to be much more clearly visible when it's on top white background, in order to be readable.

[2018-05-15 21:48] cooganb commented on #127
No problem. I saw in your design guide you also use a grey color in your
palette -- it would be a bit easier on the eyes to have a slight grey
background, slightly more robust text weight and slightly different text
color. Let me know what you think.

On Tue, May 15, 2018 at 4:27 PM, Eswara Sai <notifications@github.com>
wrote:

[2018-05-15 21:49] cooganb commented on #127
@eswarasai

[2018-05-16 02:38] dilatebrave commented on #154
@eswarasai --- sorry, i don't know why but github didn't push me any notification from any thread i subscribed. I will try to complete this task in at most 1 week.
I will go through the code first before giving you the action plan

[2018-05-16 10:58] dilatebrave commented on #154
@eswarasai --- i've submited a WIP

Current problem is exchange info in https://github.com/MARKETProtocol/dApp/pull/86 doesn't return current value to use for Price Cap and Price Floor. Others default value have been added

[2018-05-16 11:29] eswarasai commented on #154
@dilatebrave -- Sorry about the confusion here. I see your point of not getting the current market value from the #86. In that case, we'd be needing to add another API in order to fetch the market price from Binance as per mentioned here for the selected symbol -- https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md#24hr-ticker-price-change-statistics. Let me know

[2018-05-16 11:39] dilatebrave commented on #154
I've copied the code from #86 and made some change on it. I will look into the binance api, but #86 use some kind of proxy that i can not change

[2018-05-16 11:41] eswarasai commented on #154
@dilatebrave -- Yes. I'll be moving that proxy to code to `dev.api.marketprotocol.io` which is currently being tracked here -- https://github.com/MARKETProtocol/backend/issues/2. For time being, you can use proxy dev server in the local in order to be able to integrate locally. In the meantime I'll try to get both the API endpoints being proxied from our own backend server. Makes sense?

[2018-05-16 17:27] pelsasser commented on #147
most of the text has been updated, I think only thing remaining is to remove the cancel button.

[2018-05-16 17:32] eswarasai commented on #147
@pelsasser -- I can take care of removing the Cancel button. It's a small commit from my end. Let me add that right away and call it done 👍

[2018-05-17 01:19] pelsasser commented on #120
@vikaskyadav - please `submit work` on gitcoin so I can pay this out!

[2018-05-17 01:43] pelsasser commented on #147
closing this! thanks all.  @iamonuwa hope you pick up another issue here!

[2018-05-17 01:43] #147 closed

[2018-05-17 03:03] bakaoh commented on #153
@eswarasai --- just out of curiosity, why won't we do all these transactions in one factory contract? Something like

[code]

It's easier for user to submit fewer transactions.

[2018-05-17 03:40] I3uckwheat commented on #121
Sorry it took so long! Got distracted!

[2018-05-17 09:26] eswarasai commented on #153
@pelsasser -- Thoughts on this?

[2018-05-17 09:53] dilatebrave commented on #154
@eswarasai -- i've finished the work, please review the PR and let me know if there anything need to change

[2018-05-17 11:25] pelsasser commented on #153
@bakaoh @eswarasai

Originally this was the solution, to deploy all of this via a factory, and that factory than also added contracts to the whitelist.

Currently however, with the size of the oraclize.it API and our contracts, this process runs out of gas and cannot be completed in a single transaction.  I want to get back to attempting something like this, because I still have a few plans on get

[2018-05-17 15:53] eswarasai commented on #153
@arun1595 -- Just checking in to see if you've had chance to look into it and any updates on the UI/UX Design/flow you've in mind. Also please let us know your plan of action as well as timeline for this task. Thanks!

[2018-05-18 00:43] arun1595 commented on #153
@eswarasai I am afraid I won't be able to tackle this issue as I am caught up with other stuff. I'm going to stop work on gitcoin so others from the community can pick this up.

[2018-05-18 03:06] rojosnow commented on #60
@pelsasser @eswarasai I've got a job candidate interested in working this issue. Is it still valid given the other UI work we're doing?

[2018-05-18 11:14] eswarasai commented on #153
@arun1595 -- No problem. Thanks for letting us know in advance. Hopefully we'll have you back soon in helping us tackle other open issues :)

[2018-05-18 12:02] eswarasai commented on #60
@rojosnow -- This issue is currently in Backlog. Sorry for the confusion. Just updated the status. Feel free to ask the person to help us with #153 maybe. Thanks :)

[2018-05-18 19:43] pelsasser commented on #153
cancelling bounty for a moment for @rojosnow to coordinate further work on this issue.

[2018-05-18 19:49] pelsasser commented on #127
@eswarasai - bump

[2018-05-18 19:52] #121 closed

[2018-05-18 20:08] eswarasai commented on #127
@pelsasser -- Thanks for the bump.

@cooganb -- Yeah. Makes sense to me to have the link on a slightish grey background like the way we have here -- https://docs.marketprotocol.io/. My only concern is with the error message, on how the red color text blend in with the greyish background. Anyway, I'd recommend to create a PR for this and we can play around with it and choose a color as we see fit.

[2018-05-18 20:36] #148 closed

[2018-05-18 20:45] alecwesterman commented on #153
I've got this one.

[2018-05-18 20:48] eswarasai commented on #153
@alecwesterman -- Hello 👋
Thanks for showing interest in MARKET Protocol. Feel free to connect with me or @pelsasser on [Discord](https://marketprotocol.io/discord) channel in case you've any questions w.r.t. the task.

[2018-05-18 20:49] pelsasser commented on #153
@alecwesterman welcome! Will mark it as in progress!

[2018-05-21 19:33] rojosnow commented on #154
https://github.com/MARKETProtocol/backend/issues/2 enables API support needed in this issue.

Dev Endpoint: https://dev.api.marketprotocol.io
Prod Endpoint: https://api.marketprotocol.io

@eswarasai @dilatebrave

[2018-05-22 16:28] I3uckwheat commented on #127
I would like to work on this if it becomes open again

[2018-05-22 16:29] eswarasai opened #164 "[Simplified Deploy] Update Price Floor and Price Cap"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-22 16:31] garyaka commented on #127
I have an idea what could be done.

[2018-05-22 16:32] eswarasai commented on #127
@I3uckwheat -- We were waiting for @cooganb to kind of tackle this. If we don't hear back from him in the next 24 hours, feel free to click `Start Work` on Gitcoin to ensure that the bounty is yours. Thanks :)

[2018-05-22 16:32] I3uckwheat commented on #127
@eswarasai Ok sounds good!

[2018-05-22 16:36] cooganb commented on #127
Hey! I'm still working on this. The communication was a little start-stop
at the beginning hence the delay :)

On Tue, May 22, 2018 at 11:32 AM, Eswara Sai <notifications@github.com>
wrote:

[2018-05-22 20:00] pfilippi24 commented on #164
This means, that we can remove "Price Decimal Places" for simplified contracts, too?
Since we allow decimal places, there is no need to enter a number for decimal shifts.

[2018-05-22 20:04] pfilippi24 commented on #164
![image](https://user-images.githubusercontent.com/4476695/40387102-fa8421fc-5e0b-11e8-9e53-79714bccabbb.png)
looking good? (just imagine the price caps are in decimals)
Could you please suggest improvements for the wording?

[2018-05-22 21:31] pfilippi24 commented on #164
New Pricing page for simplified deployment:

![image](https://user-images.githubusercontent.com/4476695/40391266-f6df74e6-5e17-11e8-9dcc-8d3bd400c36f.png)

Works with decimals and changes them to integers before actual deployment.
Please see PR for details

[2018-05-22 23:33] pfilippi24 commented on #164
@eswarasai Can you confirm, if this is going in the right direction?
If yes, I can bring the test coverage back up again.

[2018-05-23 02:42] pelsasser opened #166 "[Linting] Errors prevent commits for migrations 2_deploy_contracts.js"
### Description

Linting incorrectly reports errors migration scripts.

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:  Bug
[code]

### Reproduction
[comment]: # (Describe how we can replicate the bug step by step.)
Attempt to commit 2_deploy_contacts.js

### Solution
[comment]: # (Provide a summary of the solution and a task list on what needs to be fixed.)
*Summary*:Fix linting

[2018-05-23 12:03] pfilippi24 commented on #164
related pull request: https://github.com/MARKETProtocol/dApp/pull/165

[2018-05-23 12:39] eswarasai commented on #164
@pfilippi24 -- Sorry for the delay in getting back to you. I'd recommend removing the disabled input for current price. Instead, display it beside the text like below:
 `Current Price of EOSETH: 0.01`

You mean hiding the field, correct? I'd revert to @pelsasser on this but yeah, makes sense to me to not have this field in the form like suggested.

[2018-05-23 12:47] pelsasser commented on #164
@pfilippi24 @eswarasai - correct, we can remove Price Decimal Places from the form for the user in this deployment flow!

Thanks guys

[2018-05-23 12:48] pfilippi24 commented on #164
@eswarasai @pelsasser Yes, I meant hiding. It is still used in other flows, so hard removing wouldn't be that great ;)

For the disabled input: I went with similar design choices already made in dApp, like the gas amount field. But if you prefer I can go with the simple text variant.
Did you also have a look at the PR? If everything else is fine so far, I'll go ahead to increase the test coverage

[2018-05-23 12:53] eswarasai commented on #164
@pfilippi24 -- Understood. But it seems unnecessary to have a disabled input when it's just a matter of information being presented to the user. Please go ahead with the simple text variant. Maybe changing the color of the price to `dApp` primary color or something similar to highlight the price value.

I haven't yet gotten chance to review the PR end-to-end. I'll do that in the next couple of hou

[2018-05-23 13:43] eswarasai opened #167 "[Coveralls] Increase the coveralls percentage"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-23 19:44] pelsasser opened #168 "[main] Create new main page for our dApp!"
### User Story

As a user I want brand consistency! It makes me feel comfortable

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: we want to tie in the dApp to the theme of our main site at marketprotocol.io

### Description

Here is the mock
![mark

[2018-05-24 11:09] eswarasai opened #169 "[Simplified Deploy] baseTokenAddress null for selected symbol pair"
### Description
Currently, when selecting ETH based pair symbol in the `Simplified Deploy`, the `baseTokenAddress` is set `null` because of which the Token `Name` and `Symbol` are `NA` in the `Contracts Explorer`

<img width="1024" alt="screen shot 2018-05-24 at 4 37 25 pm" src="https://user-images.githubusercontent.com/5172086/40481992-cd3486ea-5f70-11e8-9ca9-1786531ad49c.png">

*Type*: Bug

[2018-05-24 11:09] #164 closed

[2018-05-24 11:12] eswarasai commented on #164
@pfilippi24 -- If you can submit work on [Gitcoin issue](https://gitcoin.co/issue/MARKETProtocol/dApp/164/477) page, @pelsasser will get this paid out. Thanks for turning around this so quickly. Hope to see such contributions many more :)

[2018-05-24 11:16] pfilippi24 commented on #164
@eswarasai trying to do this for quite some time now. But my submit transaction don't get processed. I posted on general for assistance

[2018-05-24 11:57] pelsasser commented on #164
ETH sent directly to @pfilippi24 - thanks for the PR!

[2018-05-24 12:00] #132 closed

[2018-05-24 12:37] eswarasai opened #170 "[Refactor] Move checkERC20Contract function to Form Validators"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-24 13:43] pelsasser commented on #168
@nitinrgupta has got this one.

[2018-05-24 16:20] pelsasser opened #172 "[packages] antd import issues"
### Description

Should we optimize bundle size more carefully?

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug?

### Current Behavior
[comment]: # (Describe what actually happened.)
Console warning re:

### Expected Behavior
[comment]: # (Describe what you expected to happen.)

### Reproduction
[comment]: # (Describe how we can replicate the bug step by step.)

### Solution
[comment]: #

[2018-05-24 16:33] I3uckwheat commented on #130
Isn't this related to jest and is only on the development build? Would this still be an issue on the production build?

[2018-05-24 17:13] eswarasai commented on #130
@I3uckwheat -- I don't think it's just related to `jest` but yeah this is a warning from GitHub based on the dependencies in `package-lock.json` which is irrespective of development vs production build.

[2018-05-25 11:15] #53 closed

[2018-05-25 18:19] #169 closed

[2018-05-26 08:30] weberV commented on #42
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.2 ETH (138.42 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MarketProject/Dapp/42/51).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack

[2018-05-26 08:30] weberV commented on #41
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.04 ETH (27.68 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MarketProject/Dapp/41/53).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='htt

[2018-05-26 08:30] weberV commented on #36
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.03 ETH (20.76 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MarketProject/Dapp/36/54).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slack

[2018-05-26 08:30] weberV commented on #43
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.03 ETH (20.76 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MarketProject/Dapp/43/55).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='htt

[2018-05-26 08:31] weberV commented on #53
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.35 ETH (242.24 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MarketProject/Dapp/53/83).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slac

[2018-05-26 08:31] weberV commented on #37
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.25 ETH (173.03 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MarketProject/Dapp/37/98).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/slac

[2018-05-26 08:32] weberV commented on #61
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.3 ETH (207.63 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/Dapp/61/118).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/sla

[2018-05-26 08:32] weberV commented on #71
Issue Status: 1. Open 2. **Expired**

<hr>

__This issue now has a funding of 0.125 ETH (86.51 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/Dapp/71/122).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/sl

[2018-05-26 08:33] weberV commented on #78
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.2 ETH (138.42 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/Dapp/78/159).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='h

[2018-05-26 08:35] weberV commented on #85
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.4 ETH (276.84 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/Dapp/85/217).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='h

[2018-05-26 08:36] weberV commented on #98
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.5 ETH (346.05 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/dApp/98/250).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='h

[2018-05-26 08:36] weberV commented on #99
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.08 ETH (55.37 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/dApp/99/251).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='h

[2018-05-26 08:36] weberV commented on #87
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.7 ETH (484.47 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/dApp/87/252).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='h

[2018-05-26 08:36] weberV commented on #111
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.1 ETH (69.21 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/dApp/111/259).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='h

[2018-05-26 08:36] weberV commented on #118
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/dApp/118/265).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='

[2018-05-26 08:36] weberV commented on #116
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/dApp/116/266).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='

[2018-05-26 08:36] weberV commented on #115
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/dApp/115/267).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='

[2018-05-26 08:36] weberV commented on #110
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.05 ETH (34.61 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/dApp/110/268).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='

[2018-05-26 08:37] weberV commented on #120
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.15 ETH (103.82 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/dApp/120/277).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href=

[2018-05-26 08:38] weberV commented on #132
Issue Status: 1. Open 2. **Cancelled**

<hr>

__This issue now has a funding of 0.07 ETH (48.45 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/dApp/132/341).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='https://gitcoin.co/

[2018-05-26 08:39] weberV commented on #142
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.02 ETH (13.84 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/dApp/142/369).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='

[2018-05-28 16:16] arun1595 commented on #167
@eswarasai @pelsasser I would like to work on this!

[2018-05-28 16:17] eswarasai commented on #167
@arun1595 -- There are few other things in the pipeline before we can scope this out. Thanks for your help. Will keep you posted once it's status is available.

[2018-05-28 16:20] arun1595 commented on #167
@eswarasai Ah, I see. Thanks for letting me know,

[2018-05-28 16:34] cooganb commented on #127
I am actually going to release this. You can remove me from the ticket and
reassign it to 'Open' status.

On Mon, May 28, 2018 at 11:15 AM, Gitcoin.co Bot <notifications@github.com>
wrote:

[2018-05-28 22:56] arun1595 opened #175 "Fix unintended horizontal overflow in Find Contract page"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a developer, I want to fix unintended horizontal overflow that happens in Find Contract page.

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

Design bug

### Current Behavior
[comment]: # (Describe what actually happened.)

Horizontal overflow in Find Contract page

### Expected Behavior
[c

[2018-05-29 13:36] eswarasai commented on #127
@cooganb -- Thanks for letting us know. Hope you can work with us sometime soon :)

@I3uckwheat -- Still interested in tackling this one?

[2018-05-29 17:08] pelsasser opened #177 "Create milestones for simulated exchange"

[2018-05-29 20:19] #177 closed

[2018-05-29 20:26] pelsasser opened #179 "[Sim Exchange] Create functionality to allow users to withdraw funds"
### User Story

As a simulated exchange user, I would like to be able to `withdrawTokens` after I am done trading

### Why Is this Needed?

*Summary*: To allow for users to retrieve funds

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behavior
[comment]: # (Describe what actually happened.)

### Expected Behavior
[comment]: # (Describe what you expected

[2018-05-29 20:31] pelsasser opened #180 "[Sim Exchange] Create functionality to allow users to place orders (as maker)"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-05-29 20:36] pelsasser opened #181 "[Sim Exchange] Create global order book"
### User Story

[comment]: # As a beta user it would be cool to be able to trade against other beta users, not just a bot.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: More feature rich and real life simulated trading

### Description

[comment]

[2018-05-29 20:39] pelsasser opened #182 "[Sim Exchange] Create ability for bot to fill users orders"
### User Story

As a user it would be nice to be able to get simluated fills back from orders I placed

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: more beta functionality to mimic real world trading

### Description

[comment]: # (Feature or Bu

[2018-05-29 21:40] pelsasser opened #183 "[general] create production release with release notes"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Release of cool new simplified deployer with notes to coordinate with our community team!

Reminder - clean up s3 bucket in process

[2018-05-30 14:19] #175 closed

[2018-05-30 16:03] eswarasai commented on #153
@nofxsnap -- Hello 👋 Let me know if you need anything in order to get you started :)

[2018-05-30 22:43] I3uckwheat commented on #127
![image](https://user-images.githubusercontent.com/4411701/40751469-eabfa3a6-6430-11e8-8adb-873ce4916b9c.png)

Is this acceptable? It changes the text to white, and the background to steel gray

[2018-05-30 23:35] eswarasai commented on #127
@I3uckwheat -- That really isn't looking great and also not going with the branding. How about leaving the rest of the styling of `message` component as is and just modifying the color of text in the link to a bit more dark green like in this link -- https://docs.marketprotocol.io?

[2018-05-30 23:40] I3uckwheat commented on #127
Guess I need more design practice :P
@eswarasai Here is an updated screenshot with your suggested changes.

![image](https://user-images.githubusercontent.com/4411701/40753250-ca08669a-6438-11e8-8924-67cc86d6781d.png)

[2018-05-30 23:45] I3uckwheat commented on #127
![image](https://user-images.githubusercontent.com/4411701/40753404-8ffe96e4-6439-11e8-9c60-59d0e275cb79.png)

Here is one more which is darker yet

[2018-05-30 23:46] eswarasai commented on #127
@I3uckwheat -- This is looking okay to me. Can you create a PR so that I can test the same on my end and confirm if it's looking better?

[2018-06-01 12:15] pelsasser opened #185 "[GA] Seems to not be functioning for dApp.marketprotocol.io"
### Additional Information
[comment]: # (Any other information that would be useful, content, screenshots, etc.)
See GA Account

[2018-06-01 12:43] eswarasai commented on #185
@pelsasser -- GA code is still in `develop` and not on `master` branch. It'll get updated in the upcoming release.

[2018-06-01 12:43] #185 closed

[2018-06-04 16:57] pelsasser commented on #153
@nofxsnap - how is this going? any updates on progress here?

[2018-06-04 20:39] nofxsnap commented on #153
Hey @pelsasse, I am still digging through code, reading the documentation, and wrapping my head around the dApp. I haven't been able to focus on this issue as much as I had wanted. If I don't make some major progress very soon, I'll open it back up to someone else. Apologies for the delay!

[2018-06-04 20:50] pelsasser commented on #153
@nofxsnap no problem! please reach out if we can help with your understanding of the code base or the task at hand.

[2018-06-06 15:13] pelsasser commented on #153
@nofxsnap - how is the progress coming here?

[2018-06-06 17:04] nofxsnap commented on #153
@pelsasser - Not enough progress to warrant me taking this issue any longer. I'm really sorry, I've been so busy over the past week. I will open this issue back up to the community. I'll try to tackle something else when things settle down and I get more free time.

[2018-06-07 00:49] darkdarkdragon commented on #148
Issue Status: 1. **Open** 2. Started 3. Submitted 4. Done

<hr>

__This issue now has a funding of 0.08 ETH (55.37 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/MARKETProtocol/dApp/148/693).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='

[2018-06-07 12:27] pelsasser commented on #153
thanks for the update @nofxsnap!

@eswarasai - putting a block on this until we release @marketprotocol/marketprotocol 1.0.0 which moves this to 2 vs 3 transactions.

[2018-06-07 14:40] #183 closed

[2018-06-08 15:08] pelsasser opened #187 "[Deploy Contract] Modify the UX flow for deploying contract"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-08 15:09] pelsasser commented on #153
closed for #187

[2018-06-08 15:09] #153 closed

[2018-06-08 20:41] pelsasser opened #188 "[Simplified Deployment] Extend simplified deployment to allow for assets denominated in USDT"
### User Story

As a user I want to use the Simplifed Deployer for pairs that aren't just denominated in ETH, but also USDT

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: More options!

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)

[2018-06-08 20:48] pelsasser commented on #188
@dilatebrave - any interest in working on this and perhaps extending to another API? happy to kick ETH your way, you did such a great job last time!

[2018-06-09 12:28] pelsasser commented on #188
@dilatebrave - that sounds good.  Lets connect over discord at some point early next week.
and yes, Kraken or Bitfinex would be great.

[2018-06-09 13:04] #127 closed

[2018-06-09 13:06] eswarasai commented on #127
@I3uckwheat -- Thanks for seeing this through. If you can submit work on Gitcoin, @pelsasser can get you paid out :)

[2018-06-09 17:59] bradysheridan commented on #187
If this is still available when I'm done with the blog I'd be happy to pick it up! I'll check back in tomorrow.

[2018-06-09 18:03] eswarasai commented on #187
@bradysheridan -- The bounty is still unclaimed, so feel free to check back once you're completely done with the other bounty if it's still available. Thanks :)

[2018-06-10 05:39] I3uckwheat commented on #127
@eswarasai Thanks :)

[2018-06-10 23:03] KennethAshley commented on #187
Finishing up some other bounties. If this isn't taken before then ill snag it. Would love to get back to my UX roots.

[2018-06-11 07:21] eswarasai commented on #187
@KennethAshley -- Sure. Please do check the status on Gitcoin bounty before clicking start work. Probably @bradysheridan might beat you to it though but would definitely like to have your help with UI/UX in the coming days :)

[2018-06-12 11:50] eswarasai commented on #168
@nitinrgupta -- Please find below list of UI concerns:
- Can we not use similar design from that of `website` for the newsletter subscription -- http://dev.website.marketprotocol.io/#subscribe?
- Footer nav menu has little padding compared to that of `website` footer. Can we try to match the UI with that of the `website`?
- In order for the footer to be visible, user has to scroll to the bottom of

[2018-06-12 18:46] Browncm3 opened #191 "[navbar] gets stuck on links in dropdown"
### Why Is this Needed?

*Summary*: Under the circumstance shown in the video, the nav bar is unresponsive. https://youtu.be/48g3iAw0PEA

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
Links in navbar can become unresponsive with incorrect state.

### Expected Behavior
Links in navbar always work!

### Reproduction
[See video](https://youtu.be/48g3i

[2018-06-13 12:14] #172 closed

[2018-06-13 12:19] pelsasser opened #194 "[mobile] create nav bar for mobile resolutions"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-13 12:22] pelsasser opened #195 "[Footer] Footer on dApp appears too far down the page on some screens (/contract/find)"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-13 21:58] #168 closed

[2018-06-14 14:14] sace-the-programmer commented on #195
how do I locate the /contract/find? may you please provide a full link.

[2018-06-14 14:15] iamonuwa commented on #195
@sace-the-programmer `<YOUR_LOCALHOST_URL>/contract/find` should give you what you are looking for

[2018-06-14 15:00] #188 closed

[2018-06-14 19:11] j10sanders commented on #191
I'll take this!

[2018-06-15 12:52] pelsasser commented on #191
thanks again @j10sanders hope you will stick around and join our discord to participate on more bounties with us. https://marketprotocol.io/discord

[2018-06-15 12:52] #191 closed

[2018-06-15 13:19] j10sanders commented on #191
np @pelsasser!  I just joined the discord.  Looking forward to diving in a bit more...

[2018-06-15 13:55] #195 closed

[2018-06-15 21:12] bradysheridan commented on #187
@pelsasser @eswarasai

Here's the first mockup for this. The deployment flow should be easily injected into quick, simplified, and guided contract deployment flows--here, it's nested under the final step of the simplified flow. Let me know if this is the right direction/if I'm misunderstanding this issue at all!

![mp-contract-deployment-ux-flow](https://user-images.githubusercontent.com/12404896/

[2018-06-15 21:54] eswarasai commented on #187
@bradysheridan -- This is looking awesome. I'll wait for @pelsasser and @nitinrgupta to give a go-ahead so that we can get this implemented and see it in action. Thanks :)

[2018-06-15 22:49] pelsasser commented on #187
@bradysheridan - this is looking awesome!!!!

To be clear, there are currently only two transactions now.

- MarketContractFactory
  - deploys the MarketContract
  - adds it to the whitelist
- MarketCollateralPoolFactory
  - deploys the collateral pool
  - links the collateral pool to the Market Contract

So there will only be two transactions and hashes, but we can still explain each step.  Open

[2018-06-16 15:36] bradysheridan commented on #187
@pelsasser @eswarasai

Glad you guys like it! Phil, I can display substeps for the actions within each transaction, like this:

![mockup-2](https://user-images.githubusercontent.com/12404896/41500066-cf7817ae-7150-11e8-8ed4-071949030202.png)

[2018-06-16 21:32] pelsasser commented on #187
:100:

[2018-06-19 17:40] bradysheridan commented on #187
@pelsasser More than three days of silence on this feels irresponsible. I'm working on implementing this design and will be in touch in the next couple of days with a tangible update!

[2018-06-19 22:33] eswarasai commented on #187
@bradysheridan -- Thanks for the update. Looking forward for a PR :)

[2018-06-21 19:50] bradysheridan commented on #187
@pelsasser @eswarasai
I submitted a [WIP PR](https://github.com/MARKETProtocol/dApp/pull/198) and will continue with updates/discussion on that thread!

[2018-06-21 22:40] pelsasser opened #200 "[footer] fix issues with social icons"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-21 22:48] #200 closed

[2018-06-21 23:48] arun1595 opened #201 "Fix selected contract deployment state in header component"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a developer, I want to manage component states properly.

### Description
The selected contract deployment state in the header component has to be reset when a user gets to the home page.

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

Related to https://github.com/MARKETProtocol/dApp/issues/191

### Re

[2018-06-22 23:01] pelsasser opened #204 "[Footer] Add Jobs page link to footer"
### Description

*Type*:  Feature

Copy the existing footer links from the [static site](https://marketprotocol.io) to the dApp

### Current Behavior
No jobs link in footer

### Expected Behavior
jobs link in footer

### Reproduction
see https://dapp.marketprotocol.io/

### Definition of Done

- [ ] Add new footer link
- [ ] Add / update test for all code written

[2018-06-22 23:04] pelsasser opened #205 "[Landing] Fix CTA on bottom of page and add subscription modal"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-25 12:04] pelsasser commented on #204
@eswarasai - can you knock this out? figure its too small to really stake.

[2018-06-25 12:05] eswarasai opened #206 "[Truffle] CollateralPool not found error in build/contracts"
### Description
*Type*: Bug

### Reproduction
1. Delete `build` directory -- `rm -rf build`
2. Run truffle migrations -- `truffle migrate --reset`
3. Start `dApp` with local truffle -- `npm run start`
4. Error -- `Module not found: Can't resolve '../build/contracts/MarketCollateralPool' in '/Users/eswarasai/Sites/MARKET/dApp/src'`

[2018-06-25 12:05] pelsasser commented on #205
@eswarasai - this one too please.

[2018-06-25 12:07] eswarasai commented on #204
@pelsasser -- Sure Phil. On it 👍

[2018-06-25 12:17] #206 closed

[2018-06-25 12:30] #204 closed

[2018-06-25 15:08] #205 closed

[2018-06-26 01:43] #201 closed

[2018-06-27 22:10] pelsasser opened #208 "update market-solidity to v1.2.0"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-27 23:04] pelsasser opened #209 "[SimExchange] Create UI to get new users integrated into the sim exchange"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-28 13:57] pelsasser opened #210 "[SimExchange] integrate collateral functionality from MARKET.js"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-28 17:11] pelsasser opened #211 "SPIKE [Explorer] UI/UX Call Notes"
## Call with Aure and Nitin re: UI/UX of explorer.

- add url links for explorer to be filtered / sorted
- add dropdown
  - explore current contract
  - explore expired contracts
- convert all integers to decimals using price decimal places
- display units for all numbers
- `base token address` --> `collateral token address`
- expiration by time left not time stamp
- add actions / filters to top o

[2018-06-29 13:38] pelsasser opened #213 "[TimePicker] Several bugs with selecting times for expiration"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-29 18:09] pelsasser opened #214 "[SimExchange] Display my fills and execution"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-06-29 18:59] pelsasser commented on #213
welcome back @octavioamu !!

excited to have you help us out. LMK if you have any questions and please join our [discord](http://marketprotocol.io/discord)

[2018-06-30 15:47] octavioamu commented on #213
Just reporting current status:

- [x] Fix Time Picker to allow users to pick a time for expiration
- [ ]  Make timezone explicit and ensure it lines up with how we are creating the contracts with a UTC timestamp
- [x]  Remove the Now button since who wants to have a contract immediately expire
- [ ]  update and add tests to ensure timezone are handled appropriately translating into a correct UTC t

[2018-06-30 16:13] eswarasai commented on #213
@octavioamu -- Thanks for the update here. It'd be helpful if you can create a WIP PR so that we can share the feedback, if at all any :)

[2018-06-30 16:45] octavioamu commented on #213
@eswarasai Sure. I will take a look at the docs to see how that workflow works

[2018-07-02 03:52] octavioamu commented on #213
I need some help with the task of the timezone, maybe I didn't understand that task, since today we are sending for example  `expirationTimeStamp : 1530588797` and that is equivalent to `07/03/2018 @ 3:33am (UTC)` my time is UTC -3 so that will be `07/03/2018 @ 00:33am (UTC)` for me.

I think I misunderstood the task because I was trying to send in utc format ex: `2018-07-03T00:40:53-03:00`  but w

[2018-07-02 14:24] eswarasai commented on #213
@pelsasser -- Could you please clarify the above query? Thanks!

[2018-07-02 14:45] pelsasser commented on #213
@octavioamu - the goal here is to translate a human readable time from the picker into a UTC timestamp that can be used in our contracts.

Currently the time picker doesn't explicitly say if you are selecting a time in UTC, or in your local timezone.  Which is an issue.

I think there are two paths here.

## Option 1 -
- Use UTC time in the time picker, add something to the UI to show this explici

[2018-07-02 14:49] octavioamu commented on #213
Now I think I got it isn't a technical problem. more an UX problem. I will make a research and come here with a solution.

[2018-07-02 17:01] octavioamu commented on #213
@pelsasser Please tell me what do you think:

![kapture 2018-07-02 at 14 00 20](https://user-images.githubusercontent.com/1358093/42176727-54cad386-7e00-11e8-9646-df9ddc121787.gif)

[2018-07-03 03:19] octavioamu commented on #213
@pelsasser @eswarasai PR ready to review!!!  I will change the state in gitcoin.

[2018-07-03 18:43] octavioamu opened #217 "Remove reset button in quick form"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As a user, I want to have only the submit button in the quick contact deploy form

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Use of **reset** form button is bad

[2018-07-05 17:53] #213 closed

[2018-07-05 17:54] eswarasai commented on #213
@octavioamu -- I've merged this PR. Thanks for your contribution. I understand that currently the gas prices are high and unable to submit work on Gitcoin. @pelsasser will get this paid out as soon as you're able to submit work on Gitcoin.

[2018-07-05 17:57] octavioamu commented on #213
Thanks!! Yes, I don't know what is happening with the GAS I submitted many times and keeps in "pending" state. Let's see what happens.

[2018-07-05 18:55] pelsasser commented on #213
@octavioamu - network is very congested, you may have to submit with a higher gas price to allow it to work.

[2018-07-06 07:51] vs77bb commented on #187
Thanks for the update @bradysheridan 🙂

[2018-07-09 13:10] #217 closed

[2018-07-09 21:43] #210 closed

[2018-07-10 01:32] pelsasser commented on #167
@eswarasai - can we open this back up a bit since some of the functionality has been merged?  if not yet, no problem.  Just trying to make sure we utilize all the hands that want to help out!

[2018-07-10 02:02] pelsasser opened #222 "[Explorer] Issues with loading graphic and footer"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-07-10 15:21] pelsasser opened #223 "[SimExchange] Integrate bot api endpoint to request new orders and then display open orders"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-07-10 18:46] #222 closed

[2018-07-11 15:05] opay-perfect commented on #208
@pelsasser Let me try this. hoepfully everything goes well.

[2018-07-11 15:07] perfectmak commented on #208
@pelsasser Let me try this. Hopefully, everything should work fine.

[2018-07-11 15:14] pelsasser commented on #208
@perfectmak - sounds great.  FYI current version is 1.2.0.

We will create a release in MARKET.js shortly also that upgrade to 1.2.0 there as well.

[2018-07-11 17:18] perfectmak commented on #208
It seems 1.2.0 has not yet been published to npm, I'll wait a while for them to update and then submit the PR.

[2018-07-11 17:45] pelsasser commented on #208
Sorry! we updated the name since truffle now supports namespaces! -

"@marketprotocol/marketprotocol": "^1.2.0",

On Wed, Jul 11, 2018 at 11:18 AM, Perfect Makanju <notifications@github.com>
wrote:

--
Phil Elsasser
CTO and Co-Founder

marketprotocol.io
<http://www.marketprotocol.io>
Join Our Telegram Community <https://t.me/Market_Protocol_Chat>

[2018-07-11 21:36] perfectmak commented on #208
Haaa... I'm getting up to speed little by little 🙂

[2018-07-12 10:31] ceresstation opened #227 "[Explorer] Implement Explorer UI/UX Mock Up"
## Gitcoin Bounty Hunters

Please only consider picking up this issue if you feel confident that you are able to implement the designs with a high fidelity to the provided assets. Additionally, responsiveness of the implementation is very important and the design must translate well across, mobile, tablet, and large monitor resolutions.

## Before you `start work`

Please read our [contribution gu

[2018-07-12 12:31] perfectmak commented on #227
In the spirit of catching up with MarketProtocol, can I start work on this?

[2018-07-12 13:49] ceresstation commented on #227
Hey @perfectmak I think @pelsasser messaged you about another more pressing issue in MARKET.js but definitely up to have you help out on something like this next time :)

[2018-07-12 13:55] perfectmak commented on #227
Yes he did. I'll work on the MARKET.js issue instead. I'm always happy to
help out.

[2018-07-12 14:38] #187 closed

[2018-07-12 20:15] pelsasser opened #229 "[Simplified Deploy] Extend Simplified Deploy to include Bitfinex API"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-07-13 08:57] ceresstation commented on #227
Hey @writeprovidence @mikestonecodes thanks for applying! Unfortunately I don't see a ton of history on your accounts to indicate you'll be able to complete this, are there any other similar projects you can reference?

[2018-07-13 12:38] olafghanizadeh commented on #227
I'd love to work on this! I've done a few front-end bounties on gitcoin itself already :)

[2018-07-13 13:02] #229 closed

[2018-07-13 17:33] pelsasser opened #231 "[Deployment Flow] Outstanding issues before release"
- Links to etherscan do not link to the correct rinkeby transactions
- Add text / remove lorem ipsum
- [Responsiveness] Possibly integrate market loader animation somewhere?
- Instead of deploying should it read something like "waiting for transaction to be mined..."

[2018-07-13 18:02] rojosnow opened #232 "[SimExchange] Integrate Bitfinex market-api proxy endpoint into exchange sources"
### User Story
[comment]: # (As a <user type>, I want to <task> so that <goal>.)
As developer, I need to access Bitfinex data using the market-api proxy so that I can get exchange data.

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Descripti

[2018-07-13 22:08] ceresstation commented on #227
Hey @olafghanizadeh! How familiar are you with React?

[2018-07-14 01:44] olafghanizadeh commented on #227
It's not my strong suit, but implementing the UI I should be able to do. I don't have much experience with unit tests though.

[2018-07-15 03:17] mikestonecodes commented on #227
Hey @olafghanizadeh , I have three projects that use react on my github

https://github.com/mikestonecodes/netmix
https://github.com/mikestonecodes/portfolio
https://github.com/mikestonecodes/circa

I have over 5 years experience in react. Feel free to check these out if you have any questions let me know!

[2018-07-16 10:14] nitinrgupta opened #234 "[Deploy Contract] Modify Simplified Deploy contract page with the updated designs"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Implements the new designs for the deploying contracts feature of MARKET dApp.
Currently, there are three ways to deploy the contracts (Simplified, Advanced, and Guided). The new design combines Simpli

[2018-07-16 11:55] #232 closed

[2018-07-16 14:21] mikestonecodes commented on #227
Hey I will begin this today :)

[2018-07-16 18:59] ceresstation commented on #227
Good to hear @mikestonecodes do you think you can turn something around for review by the end of the week?

[2018-07-16 20:39] #208 closed

[2018-07-16 20:47] mikestonecodes commented on #227
@ceresstation yea for sure!

[2018-07-17 15:05] travisdmathis commented on #231
taking this and working on it while I was for unblocking on other issues @pelsasser

[2018-07-17 15:56] pelsasser commented on #231
Text

## MARKET Protocol Smart Contract Deployment
### Deploying your MarketContract
The MarketContract is the main contract responsible for facilitating many to many trading.  Your customized contract is about to be deployed to the Ethereum blockchain and will soon be tradeable!
### Adding your contract to our registry
We want other's to be able to find your awesome new contract, and are adding i

[2018-07-17 16:04] robertjo9999 opened #235 "Sample issue from community member"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-07-17 16:06] #235 closed

[2018-07-17 20:28] pelsasser opened #237 "Test epic"

[2018-07-17 20:29] #237 closed

[2018-07-18 11:53] travisdmathis opened #238 "Refactor existing market.js implementations to use the new MarketJS middleware"
### Why Is this Needed?
Clean up codebase and get it in line with the new work we are doing.

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)
- [ ] All instantiations of `new Market()` should be moved to marketMiddleware.js

[2018-07-18 12:17] travisdmathis opened #239 "Allow users to call tradeOrder against open orders in the orderbook"
### User Story
As a user, I want to be able to place a trade against open orders in the order book

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)
- [ ] Allow users to call traderOrder against orders displayed in the order book.
- [x] tradeOrder should be added to marketMiddle

[2018-07-18 12:17] travisdmathis commented on #239
blocked by: #223

[2018-07-18 12:54] #180 closed

[2018-07-18 14:06] #231 closed

[2018-07-18 19:53] travisdmathis opened #240 "Update createSignedOrderAsync in marketMiddleware to use new MARKET.js function"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?
Returns proper signed JSON object

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description
We want to update the exsiting createSignedOrderAsync to use the ne

[2018-07-18 20:49] nitinrgupta opened #241 "[Deploy Contract UI/UX] Implement the price cap and floor graph"
## Gitcoin Bounty Hunters

Please only consider picking up this issue if you feel confident that you are able to implement the designs with a high fidelity to the provided assets. Additionally, responsiveness of the implementation is very important and the design must translate well across, mobile, tablet, and large monitor resolutions.

## Before you `start work`

Please read our [contribution gu

[2018-07-18 20:50] nitinrgupta commented on #241
@pelsasser I'm not sure what the waves in the graph depict.

[2018-07-18 20:52] pelsasser opened #242 "[Design] Mock Trading UI"
### User Story
As a user, I would like to see one screen that encompasses all needed information for me to be able to make a trade using MARKET Protocol

### Why Is this Needed?
*Summary*: Better UI/UX

### Description
*Type*: Feature

### Solution

*Summary*: @nitinrgupta and @auregimon to mock up trading UI

### Definition of complete
- [x] Overall trading UI

### Additional Information
Referenc

[2018-07-18 21:23] nitinrgupta opened #243 "[Deploy Contract UI/UX] Implement the new Gas settings design"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*: Implement the new design for Gas settings on the Simplified Deploy contracts flow

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: feature

### Current Behavior
[comment]: # (Desc

[2018-07-18 22:14] pelsasser commented on #241
@nitinrgupta - I assume this should be done off your current branch?

[2018-07-18 22:22] pelsasser opened #244 "Refactor Base Token to Colllateral Token in all locations"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-07-18 23:06] rojosnow commented on #241
@StevenJNPearce, feel free to reach out to @nitinrgupta @eswarasai or @travisdmathis if you have any specific questions on this issue.

[2018-07-19 00:54] mikestonecodes commented on #227
I've started this here
https://github.com/mikestonecodes/dApp/tree/feature/new-explorer-ui

[2018-07-19 00:58] travisdmathis opened #245 "Implement fill order UI and functionality"
### User Story
As a user I want to be able to fill an order from the json object returned by the `createSignedOrderAsync` function.

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?
So users who create an order can share it and others can easily fill the order.

[comment]: # (Describe the problem and why this task is needed. Provide description of the curr

[2018-07-19 01:08] travisdmathis opened #247 "Implement ability to see my open positions for a given contract"
### User Story
As a user I want the ability to be able to see any buy or sell orders I have for a market contract.

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)
- [ ] I can see my open bids or asks for a given contract

### Additional Information
[comment]: # (Any other info

[2018-07-19 05:59] nitinrgupta opened #248 "[Deploy Contract UI/UX] Implement the new design for deploy contracts step"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Redesign the deploy contracts process based on the designs provided

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Current Behavior
[comment]: # (Describe what actu

[2018-07-19 06:01] nitinrgupta commented on #60
@eswarasai I think this issue can be closed since the new design on the explorer page combines this functionality.

[2018-07-19 06:02] eswarasai commented on #60
Ref: https://github.com/MARKETProtocol/dApp/issues/227

[2018-07-19 06:02] #60 closed

[2018-07-19 10:43] travisdmathis opened #249 "Fill Orders"
### User Story

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:

### Description

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Current Behavior
[comment]: # (Describe wh

[2018-07-19 10:51] travisdmathis opened #250 "[UX/UI] Improve UI/UX for Deposit/Withdraw Collateral"
### User Story

[comment]: # As a user when depositing and withdrawing collateral I would like more insight into what is going on.

### Why Is this Needed?
Currently it is confusing about what is happening when depositing collateral. There are 2 transactions that happen and no explanation on why.

[comment]: # (Describe the problem and why this task is needed. Provide description of the current st

[2018-07-19 10:57] travisdmathis opened #251 "Implement UX/UI Changes for SimExchange deposit/withdraw collateral"
### Description
Implement new designs and functionality for `exchange/wallet`.

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Feature

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)
- [ ] New UI/UX has been implemented as per designs and instructions

### Additional Information
[comment]: # (Any other information that would be useful,

[2018-07-19 11:33] travisdmathis opened #252 "Create a store of available contracts for improved loading speeds"
### Why Is this Needed?

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)
*Summary*:
Currently when the number of contracts gets large, it begins to take a very long time to build up all the contract data from the blockchain. We want to devise a way to track these contracts in a data s

[2018-07-19 11:38] travisdmathis opened #253 "Contract Loading Improvements"
### Why Is this Needed?
To improve loading speed of market contracts within the dapp.

[comment]: # (Describe the problem and why this task is needed. Provide description of the current state, what you would like to happen, and what actually happen)

### Description
Creates a data store to maintain a record of contracts. Currently it takes a long time to build up the contract data from the blockch

[2018-07-19 11:42] travisdmathis opened #254 "Implement contract store API"
### Description
Implement contract store API into dapp when creating and reading contracts.

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*:

### Definition of Done
[comment]: # (Any other information that would be useful, bullets are helpful.)
- [ ] Uses contract API to create, update, and read contracts any time an action is taken against them within the dapp to keep the data store in sync

[2018-07-19 12:15] #253 closed

[2018-07-19 12:15] #252 closed

[2018-07-19 13:16] nitinrgupta commented on #241
Just to be clear on the issue @StevenJNPearce
- We can get rid of the waves.
- The current price line is the one which moves dynamically based on the two price cap and floors values.
- The cap and floor line stay constant. In that case, Eg: if a user changes the price floor closer to the current price value, then the current price line will move towards the bottom closer to the price floor line

[2018-07-19 13:18] travisdmathis opened #255 "Implement ability to see new fills/executions in the trade history component"
### User Story
As a user I want to be able to see all fills/executions for a given contract.

[comment]: # (As a <user type>, I want to <task> so that <goal>.)

### Description
Display fills/executions in the `exchange/trades` ui.  Use the market.js endpoint for obtaining fills/executions to get the data necessary to do so.

### Definition of Done
[comment]: # (Any other information that would be

[2018-07-19 20:49] #8 closed

[2018-07-19 20:50] pelsasser commented on #167
@eswarasai - can we update this issue / unblock and perhaps get a bounty staked for this issue?

[2018-07-19 21:12] pelsasser commented on #248
@nitinrgupta - should we bounty this?

[2018-07-19 23:05] rojosnow commented on #240
Hi, @davidbanu. I forgot to label this Gitcoin issue with React as well. How comfortable are you with that?

[2018-07-19 23:07] davidbanu commented on #240
Hello, @rojosnow. I've used React for the last 2 years almost on a daily basis.

[2018-07-19 23:11] rojosnow commented on #240
Thanks, @davidbanu. Welcome aboard! If you have specific questions about this issue, feel free to reach out to @travisdmathis or @eswarasai.

[2018-07-20 10:34] nitinrgupta commented on #243
@pelsasser I've changed the implementation of the desing a bit based on the response of ethgasAPI and AntD component availability. I feel this should do. What are your thoughts on this?

<img width="584" alt="screen shot 2018-07-20 at 3 59 22 pm" src="https://user-images.githubusercontent.com/4952395/42997885-e8993088-8c35-11e8-97d9-4b042b30b7bf.png">

[2018-07-20 13:37] pelsasser commented on #243
Is there any way to make the slider a big more prominent? If I saw this, I am not sure it is as clear to me I can drag the slider around as it is in the first mock.

The <> on the slider in the first mock really also help in showing the user that this is possible.

[2018-07-20 13:44] nitinrgupta commented on #243
Valid point @pelsasser! I'll see what I can do.

[2018-07-20 14:53] #244 closed

[2018-07-21 11:31] ceresstation commented on #227
Glad to see there's progress @mikestonecodes!

[2018-07-22 17:06] mikestonecodes commented on #227
Hey @ceresstation I think I finished this up. Some details I could work out are :

[2018-07-22 23:16] davidbanu commented on #240
Finished familiarizing with the code, now I will tackle the job.

[2018-07-23 04:45] eswarasai opened #259 "[Deploy Contract] Retry in deploy contract throws error"
### Description
*Type*: Bug

### Current Behavior
Clicking retry button after cancelling transaction in Metamask throws below error --
[code]

### Expected Behavior
Clicking retry button after cancelling transaction in Metamask should start contract deployment flow with the provided user input

[2018-07-23 06:28] eswarasai opened #260 "[React] Update Lifecycle method naming convention for 16.3.0"
### Description
Starting v16.3.0, React has deprecated lifecycle methods `componentWillMount`, `componentWillReceiveProps` and `componentWillUpdate`.

- `getDerivedStateFromProps` can be used instead of `componentWillReceiveProps`
- `componentDidMount` can be used instead of `componentWillMount`
- `componentDidUpdate` can be used instead of `componentWillUpdate`

Refs:
- https://reactjs.org/docs/r

[2018-07-23 08:34] nitinrgupta commented on #243
Modified the slider to look bit better with arrows
<img width="551" alt="screen shot 2018-07-23 at 2 04 00 pm" src="https://user-images.githubusercontent.com/4952395/43066090-546ce80c-8e81-11e8-8629-eaa006860dca.png">

[2018-07-23 10:57] nitinrgupta commented on #241
@rojosnow @pelsasser we can close this issue if the bounty is paid out.

[2018-07-23 10:58] #241 closed

[2018-07-23 11:52] pelsasser commented on #243
@nitinrgupta - is there a reason the Medium isn't in the middle of the slider?

I assume we still need to work on the backend to decide the range of the slide / etc also correct?  Do you want to create an issue to track that?  We can bounty it if you like

[2018-07-23 12:09] nitinrgupta commented on #243
@pelsasser this is due to the unequal difference between slow-medium and medium-fast values returned from the API.

Here's a sample API response we are using:
[code]

Right now the range is calculated by using the `safeLow` value as min and `fast` value as max returned from the API which should work correctly. These value change time to time and the difference between average/safeLow vs average/fa

[2018-07-23 12:14] nitinrgupta commented on #248
@pelsasser I've modified this UI and brought it to an improved stated that the current one.

Here's what it looks like now.
<img width="554" alt="screen shot 2018-07-23 at 2 42 11 pm" src="https://user-images.githubusercontent.com/4952395/43075884-d4a33e54-8e9f-11e8-84fb-4753790bd8f7.png">

<img width="495" alt="screen shot 2018-07-23 at 5 41 16 pm" src="https://user-images.githubusercontent.com/4

[2018-07-23 12:28] travisdmathis opened #262 "[BUG] Improper data passed to calendars on init"
### Description
When rendering the `DatePicker` component the data being passed is an incorrect type.

[code]

[comment]: # (Feature or Bug? i.e Type: Bug)
*Type*: Bug

### Current Behavior
[comment]: # (Describe what actually happened.)

### Reproduction
[comment]: # (Describe how we can replicate the bug step by step.)
Load step 3 of contract deployment or `/exchange/trades`

### Solution
[comme

[2018-07-23 16:44] eswarasai commented on #238
@travisdmathis -- I think we can close this right?
Ref: https://github.com/MARKETProtocol/dApp/commit/80022403a2d6614fc74df01350ad4232336f06fa

[2018-07-23 16:44] #238 closed

[2018-07-23 16:54] eswarasai opened #263 "[Deploy Contract] Integrate with MARKET.js"
## Before you `start work`

Please read our contribution [guidelines](https://docs.marketprotocol.io/#contributing) and if there is a bounty involved  please also see [here](https://docs.marketprotocol.io/#gitcoin-and-bounties)

If you have ongoing work from other bounties with us where funding has not been released, please do not pick up a new issue.  We would like to involve as many contributors

[2018-07-23 17:56] ceresstation commented on #227
@mikestonecodes Reviewing this first thing in the morning Hong Kong time :)

[2018-07-23 18:11] #194 closed

[2018-07-23 18:21] nitinrgupta commented on #243
@pelsasser let me know if the implementation sounds good.

[2018-07-23 20:06] pelsasser commented on #243
@nitinrgupta got it.  I think its a little bit of an odd UX.

any reason not to just set the Medium to be in the middle of these 2 values?

[2018-07-23 21:49] KennethAshley commented on #260
Oh man I gotta do this across all my apps ahaha.

[2018-07-23 22:39] rojosnow commented on #263
@eswarasai Is this something we can bounty? If so, I'm going to need a bit more detail so it's clear on what we want to get done and how we know it's complete.

[2018-07-24 00:08] eswarasai commented on #263
@rojosnow -- I'll tackle this myself since there's dependency on the existing PR https://github.com/MARKETProtocol/dApp/pull/261

[2018-07-24 05:13] nitinrgupta commented on #243
We can do that, but that won't be the same value as what we are getting from the API.

I'll just do that. We can use the 'average' value from the API to set as the default one and push the Medium text to the centre irrespective of its value. I'll quickly just do that.

[2018-07-24 09:57] ceresstation commented on #227
@mikestonecodes Can you provide a bit more detail on why 2 & 3 would require some ugly hacks?

[2018-07-24 10:06] mikestonecodes commented on #227
@ceresstation it would be outside what antd table is supposed to do, and is slightly beyond just styling ( for example the sorting design implies you click multiple times to get up and then down, instead of separate buttons ) . But I can figure something out though, mostly ran out of time.

[2018-07-24 12:02] pelsasser commented on #243
@nitinrgupta - got it, I understand this a bit better now.  We could leave as is and just rename "Medium" to "Average" to avoid confusion as well?

[2018-07-24 14:05] nitinrgupta commented on #243
@pelsasser made all the changes based on your feedback.
I'll leave it to you for closing this issue :)

[2018-07-24 17:14] #223 closed

[2018-07-24 17:18] #262 closed

[2018-07-24 18:54] travisdmathis commented on #240
if you have any question @davidbanu feel free to reach out.. Any ETA when you might have this taken care of?

[2018-07-24 19:16] rojosnow commented on #240
@davidbanu, When I posted the issue on Gitcoin, I was confused on the expiration. I thought expiration only applied to how long an issue stays OPEN. This is something we need to be completed ASAP since it's blocking other work. We don't have a month to wait for this issue to be completed.

If you've started work but can't complete it within the next 24 hours, I'm more than happy to tip you for the

[2018-07-24 19:21] davidbanu commented on #240
@rojosnow, I was not aware of the short timeframe. I am not 100% sure that I will finish on time and I don't want to wait for me so I'm stoping work...

[2018-07-24 20:35] rojosnow commented on #240
@davidbanu Thanks for your quick response! We hope to work with you again on another bounty.

[2018-07-24 20:54] rojosnow commented on #240
@StevenJNPearce I was in the process of tipping you the bounty out and removing this from Gitcoin. The cancelation is already in progress or I would have just assigned this to you.

[2018-07-25 05:52] eswarasai opened #265 "[Truffle] Migrations throw error on truffle@4.1.13"
### Description
Running `truffle migrate --reset` for `dApp` throws transaction revert error on latest truffle i.e., v4.1.13 but works fine with v4.1.11

[code]

*Type*: Bug

### Definition of Done
- [ ] Migrations should run seamlessly for `truffle@4.1.13`

[2018-07-25 11:51] #265 closed

[2018-07-25 13:10] travisdmathis commented on #240
@StevenJNPearce thanks for killing this one!

[2018-07-25 17:11] #227 closed

[2018-07-25 18:10] pelsasser opened #268 "Standardized Contract Names"
### Why Is this Needed?
*Summary*: Consistency and more encoding of meta data

### Description
*Type*: Feature

### Current Behavior
Contract names are not standardized, and we cannot encode meta data

### Solution
`REFERENCEASSETSYMBOL_COLLATERALTOKENSYMBOL_DATAPROVIDER_EXPIRATION_USERTEXT`

#### Examples
BTC_WETH_BIN_1531911382232_PE

BTC_USDT_BIN_1531911382232_001

[2018-07-25 19:49] #234 closed

[2018-07-25 19:49] #243 closed